{% load i18n %}

<div id="contact-form">

<h1>{% trans "Contact" %}</h1>
<hr />
{% if form %}
    <form action="." method="post">
        {% for field in form.visible_fields %}
            {% if field.name != 'recaptcha_challenge_field' and field.name != 'recaptcha_theme' and field.name != 'recaptcha_response_field' and field.name != 'accept_terms' %}
                {% if field.name == 'email' and user.is_authenticated %}
                    <input id="id_email" name="email" type="hidden" value="{{ user.email }}">
                {% else %}
                    <p{% if field.errors %} class="error"{% endif %}>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="field_errors alert alert-danger">
                                 {{ error }}
                                </div>
                            {% endfor %}
                            {{ field.label }}
                            {% if field.field.required %}*{% endif %}
                            <div class="input_error">
                            {{ field }}
                            </div>
                        {% else %}
                            {{ field.label }}
                            {% if field.field.required %}*{% endif %}
                            <div class="input">
                            {{ field }}
                            </div>
                        {% endif %}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% if form.recaptcha_challenge_field %}

            {% if form.recaptcha_response_field.errors %}
                {% for error in form.recaptcha_response_field.errors %}
                    <div class="field_errors alert alert-danger">{% trans error %}</div>
                {% endfor %}
            {% endif %}

            {% if form.recaptcha_response_field.label %}<label class="contact_field">{{ form.recaptcha_response_field.label }} *</label>{% endif %}

            <div{% if form.recaptcha_response_field.errors %} class="input_error"{% else %} class="input"{% endif %}>
                {{ form.recaptcha_challenge_field }}
                {% if form.recaptcha_theme == "custom" %}
                    <div id="recaptcha_widget" style="display:none">
                    
                    <div id="recaptcha_image"></div>
                    <span class="recaptcha_only_if_incorrect_sol error_msg">{% trans "Incorrect please try again" %}</span>
                    
                    <label>
                        <span class="recaptcha_only_if_image">{% trans "Enter the words above:" %}</span>
                        <span class="recaptcha_only_if_audio">{% trans "Enter the numbers you hear:" %}</span>
                    </label>
                    
                    <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
                    
                    <div><a href="javascript:Recaptcha.reload()">{% trans "Get another CAPTCHA" %}</a></div>
                    <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">{% trans "Get an audio CAPTCHA" %}</a></div>
                    <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">{% trans "Get an image CAPTCHA" %}</a></div>
                    
                    <div><a href="javascript:Recaptcha.showhelp()">{% trans "Help" %}</a>

                    </div>
                {% endif %}
                {{ form.recaptcha_response_field }}
            </div>
        {% endif %}
        
        {% if form.accept_terms %}
            {{ form.accept_terms }}
        {% endif %}
        <p>
            <input class= "button" type="submit"{% if contact.submit %} value="{{ contact.submit }}"{% endif %} />
        </p>
        
        {% csrf_token %}
    </form>

{% else %}
    {{ contact.thanks|safe }}
{% endif %}

</div>