{% load i18n %}
{% block barra_brasil %}
	{% if javascript %}
		<div id="barra-brasil"></div>
	{% endif %}
{% endblock barra_brasil %}

{% block extrastyle %}
	{% if javascript %}
		<script defer="defer" async="async" src="{{ javascript }}" type="text/javascript" onload="link_barra_brasil()"></script>
	{% endif %}
{% endblock extrastyle %}