{% extends "base/base.html" %}

{% load cms_tags menu_tags sekizai_tags portal_tags %}
{% load i18n %}

{% block breadcrumbs %}
<li class="formTab_home">
    <div>
        <a href="/">
        <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
</li>
{% show_breadcrumb 0 "portal/breadcrumb.html" 0 %}
{% endblock breadcrumbs %}

{% block content %}
        {% for message in messages %}
            {% if 'info' in message.tags %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="content base_content">
        {% block base_content %}
            {% placeholder base_content %}
        {% endblock base_content %}
        </div>
        {% block base_home %}
        {% endblock base_home %}
{% endblock content %}

{% block extrascripts %}

<script type="text/javascript">
{% if reset %}
var tour = '{{ reset }}';
    localStorage.removeItem(tour+'_current_step');
    localStorage.removeItem(tour+'_end');
{% endif %}

var help = {{ tour|safe }};

var tour = new Tour(help);

tour.init();
tour.start();
</script>


{% endblock %}
