{% for ance in ancestors %}
<li class="formTab">
	{% if not forloop.last and not forloop.first %}
	<div><a href="{{ ance.get_absolute_url }}">{{ ance.get_menu_title }}</a> <span class="separator">&raquo;</span></div>
	{% elif not forloop.first %}
	<div class="selected">{{ ance.get_menu_title }}</div>
	{% endif %}
</li>
{% endfor %}