{% extends "portal/base_portal.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Clinical Trials Summary" %}
    </div>
</li>
{% endblock %}

{% block base_content %}
<div style="width: 90%">
<h2>{% trans 'Registered, Analysis and Draft Clinical Trials' %}</h2>
<div id="flot1-placeholder" class="chart1"></div>
</div>

{% endblock base_content %}

{% block extrastyle %}
<style type="text/css">
    .chart1, .chart2{
       width:70%;
       height:300px;
    }
     .chart2{
       margin-left: 1.9em;
    }
    .chart1 .legend table {
        right: 24px !important;
    }
</style>
{% endblock %}


{% block extrascripts %}
{{ block.super }}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/flot/excanvas.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jshashtable-2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.axislabels.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.orderBars.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.numberformatter-1.2.3.min.js' %}"></script>

    <script type="text/javascript">
            $.plot($("#flot1-placeholder"), {{ graph1.dataset|safe }}, {{ graph1.options|safe }});
            $.plot($("#flot2-placeholder"), {{ graph2.dataset|safe }}, {{ graph2.options|safe }});
    </script>
    
{% endblock %}
