{% extends "portal/base_portal.html" %}
{% load i18n %}
{% load url from future %}


{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Registered Clinical Trials" %}
    </div>
</li>
{% endblock %}

{% block base_content %}
{{ block.super }}
<div class="ct_list">
        <h2>{% trans 'Registered Clinical Trials' %}</h2>
        {% if object_list %}
            <ul>
            {% for object in object_list %}
                <li>
                <p class="ct_title">
                    <a href="{% url 'clinical_trial_detail_public' object.code %}">{{ object.get_public_title }}</a>
                </p>
                <p>{% trans 'Primary Id Number' %}: <span class="primary_id_number">{{ object.code|default_if_none:"--------" }}</span></p>

                <p>{% trans 'Registration Date' %}: {{ object.date_last_publication|date:"DATE_FORMAT" }}</p>
                </li>
            {% endfor %}
            </ul>

            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="./?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="./?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}

        {% else %}
            <p class="empty">{% trans "No Clinical Trials Registered" %}</p>
        {% endif %}
</div>
{% endblock base_content %}
