{% load i18n %}
{% block ct_summay %}
<p>{% trans 'Total of Clinical Trials' %} {{ total }}.</p>
<p>{%blocktrans%} There are {{ registered }} registered Clinical Trials{%endblocktrans%}.</p>
<p>{%blocktrans%} There are {{ recruiting }} recruiting Clinical Trials{%endblocktrans%}.</p>
<p>{%blocktrans%} There are {{ analysing }} Clinical Trials in analysis{%endblocktrans%}.</p>
<p>{%blocktrans%} Total {{ drafting }} draft{%endblocktrans%}.</p>
{% endblock %}