{% extends "base/base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load i18n static %}
{% load url from future %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab_home">
    <div class="selected">
        <span class="glyphicon glyphicon-home"></span>
    </div>
</li>
<div id="portal_breadcrumb">
    {% show_breadcrumb 0 "portal/breadcrumb.html" 0 %}
</div>
{% endblock breadcrumbs %}

{% block content %}
{% for i in request.teste %}
{{ i }}
{% endfor %}
        {% for message in messages %}
            {% if 'info' in message.tags %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% block base_home %}
            <div id="left_home_content" class="col-sm-7 col-md-7">
                <div id="submit_clinicaltrial" class="content">
                    <div id="img_submit">
                    <a href="{% url 'clinical_trial_add' %}">
                        <img src="{% static 'img/submit_ct.png' %}"></img>
                    </a>
                    </div>
                    <h1><a href="{% url 'clinical_trial_add' %}">{% trans "Submit Clinical Trial" %}
                    </a></h1>
                </div>
                <div id="lastet_news">
                      {% placeholder lastet_news %}  
                </div>
            </div>
            <div id="right_home_content" class="col-sm-5 col-md-5">
                <div id="lastet_ct">
                      {% placeholder lastet_ct %}  
                </div>
            </div>
        {% endblock base_home %}
        
{% endblock content %}

{% block extrascripts %}

<script type="text/javascript">
{% if reset %}
var tour = '{{ reset }}';
    localStorage.removeItem(tour+'_current_step');
    localStorage.removeItem(tour+'_end');
{% endif %}

var help = {{ tour|safe }};

var teste = new Tour(help);

teste.init();
teste.start();
</script>


{% endblock %}
