{% load i18n %}
{% load url from future %}
<div class="cmsplugin-ct">
    <div id="lastest_registered">
        <h2>{% trans "Registered" %}</h2>
        {% if registered %}
            <ul>
            {% for item in registered %}
                <li>
                <p class="ct_title">
                    <a href="{% url 'clinical_trial_detail_public' item.code %}">{{ item.get_public_title }}</a>
                </p>
                <p>{% trans 'Primary Id Number' %}: <span class="primary_id_number"> {{ item.code|default_if_none:"--------" }}</span></p>
                </li>
            {% endfor %}
            </ul>
            <p class="link_ct"><a href="{% url 'ct_registered_list' %}">{% trans "See all" %}</a><p>
        {% else %}
            <p class="empty">{% trans "No Clinical Trails registered yet" %}</p>
        {% endif %}
    </div>
    <div id="lastest_recruiting">
        <h2>{% trans "Recruiting" %}</h2>
        {% if recruiting %}
            <ul>
            {% for item in recruiting %}
                <li>
                <p class="ct_title">
                    <a href="{% url 'clinical_trial_detail_public' item.code %}">{{ item.get_public_title }}</a>
                </p>
                <p>{% trans 'Primary Id Number' %}: <span class="primary_id_number"> {{ item.code|default_if_none:"--------" }}</span></p>
                </li>
            {% endfor %}
            </ul>
            <p class="link_ct"><a href="{% url 'ct_recruiting_list' %}">{% trans "See all" %}</a><p>
        {% else %}
            <p class="empty">{% trans "No Clinical Trails registered yet" %}</p>
        {% endif %}
    </div>
</div>
