{% load i18n %}
{% block links_help %}
{% if help %}
<div class="menu_help no-print">
    <ul class="items_menu">
        <li>
            <a data-parent="#help" data-toggle="collapse" href="#collapseOne" id="li_help">
                <span id="seta_help" class="glyphicon glyphicon-play"></span>{% trans "Help" %}
            </a>
        </li>
        <div id="collapseOne" class="collapse helps">
        <ul>
        {% for i in help %}
        <li id="{{ i.help }}">
           <a class="items_menu_help" href="{% url i.help.pk %}?tour=True">
            <span></span>
            {{ i.titulo }}
           </a>       
        </li>
        {% endfor %}
        </ul>
        </div>
    </ul>

</div>
{% else %}
    <div style="height: 400px">
    </div>

{% endif %}

<script type="text/javascript">

var help_l = {{ help_list|safe }};

for(var i=0; i<help_l.length ;i++){
    if(localStorage.getItem(help_l[i]+'_end')== "yes"){
        var selector = "li#"+help_l[i]+" a span"
        var elem = document.getElementById(help_l[i]);
        $(selector).addClass("glyphicon glyphicon-ok icon_help_ok");
        elem.style.textDecoration = "line-through";
}}
</script>


{% endblock %}
