{% extends "portal/base_portal.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Search" %}
    </div>
</li>
{% endblock %}

{% block base_content %}
{{ block.super }}
<div class="google-search">
    <h2>{% trans 'Search results' %}</h2>
    <h4>{% trans 'General search' %}</h4>
    <hr/>
   <script defer="defer" async="async" src="https://www.google.com/cse/cse.js?cx=007640458099473733265:sk-l4n6sr-q" type="text/javascript" onload="link_search()"></script>
    <gcse:searchresults-only></gcse:searchresults-only>

    <br/><br/><br/>
    <h4>{% trans 'Clinical Trials Search' %}</h4>
    <hr/>
    <table class="table table-bordered table_list">
            <thead>
              <tr class="table_title">
                <th>{% trans "RBR" %}</th>
                <th>{% trans "Title" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for i in trials %}
                <tr class="table_style">
                  <td>
                    <a href="{% url 'clinical_trial_detail_public' i.code %}">
                        {{ i.code }}
                    </a>
                  </td>
                  <td>{{ i.ctdetail__public_title }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

</div>
{% endblock base_content %}
