{% extends "portal/base_portal.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Active Complete" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
<h1>{% trans "Activation complete" %}</h1>
<hr />
{% url 'login' as auth_login_url %}
{% trans "Thanks, activation complete!  You may now" %} <a href="{% url 'login' %}">{% trans 'login' %}</a> {% trans "using the username and password you set at registration." %}
{% endblock %}