{% extends "portal/base_portal.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Active" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
<h1>{% if account %}{% trans "Activation complete" %}{% else %}{% trans "Activation problem" %}{% endif %}</h1>
<hr />
{% if account %}
{% trans "Thanks" %}{{ account }},
{% trans "activation complete! You may now" %}
<a href='{{ login }}'>login</a>
{% trans "using the username and password you set at registration." %}
{% else %}
{% trans "Oops &ndash; it seems that your activation key is invalid. Please check the url again." %}
{% endif %}
{% endblock %}