{% extends "administration/base_administration.html" %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url 'user_profile_edit' user.id %}">
            {% trans "Edit Profile" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Change Password" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

<h1>{% trans "Change password" %}</h1>
<hr />
    <form method="post" action="{% url 'auth_password_change' %}">
        {% csrf_token %} 
        <div class="update">
        {% for field in form %}
            <div class="fieldWrapper">
                <div class="field_errors">
                    {{ field.errors }}
                </div>
                {{ field.label_tag }}<br />
                {{ field }}<br />
            </div>
        {% endfor %}
    </div>
        <input class="button" type="submit" value="{% trans 'Save' %}" />
     </form>
</div>
</div>
{% endblock administration_content %}
