{% extends "portal/base_portal.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Login" %}
    </div>
</li>
{% endblock %}
{% block content %}
<div class="content_login col-sm-6 col-md-6">

    <div class="login">
        <h1>{% trans 'Login'%}</h1>
        <hr />
       <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="update">
            {% for error in form.non_field_errors %}
                <div class="field_errors alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in form %}
            <div class="fieldWrapper">
                {% if field.errors %}
                    <div class="field_errors">
                        {{ field.errors }}
                        {{ field.label }}
                        {% if field.field.required %}*{% endif %}<br />
                        <div class="error">
                        {{ field }}<br />
                    </div>
                    </div>
                {% else %}
                    {{ field.label }}
                    {% if field.field.required %}*{% endif %}<br />
                    {{ field }}<br />
                {% endif %}
            </div>
            {% endfor %}
        </div>
    <input type="hidden" name="next" value="{{ next }}"/>
    <input class="button" type="submit" value="{% trans 'login' %}" />
    </form>

        <center>
        <p>{% trans "Forgot password" %}?<br />
            <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a></p>
            <p>{% trans "Not member" %}?<br />
                <a href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
        </center>
    </div>
</div>
</div>
</div>
<script type="text/javascript">$('#id_username').focus()</script>

{% endblock %}
