{% extends "portal/base_portal.html" %}
{% load i18n %}
{% block title %}{% trans "Logged out" %}{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Logout" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
{{ block.super }}
	{% trans "Successfully logged out!" %}
{% endblock base_content %}