{% extends "portal/base_portal.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Reset password" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
{{ block.super }}
<h1>{% trans "Reset password" %}</h1>
<hr />

<span>{% trans "Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one." %}</span>
<form method="post" action="{% url 'auth_password_reset' %}" class="registration">
  {% csrf_token %} 
  {{ form.as_p }}

  <input class="button" type="submit" value="{% trans 'Reset' %}" />
</form>
{% endblock %}


