{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url 'user_profile_edit' user.id %}">
            {% trans 'My Profile' %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {% trans "Password Change Done" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<h1>{% trans "Password changed" %}</h1>
<hr />
<p>{% trans "Password successfully changed!" %}</p>
{% endblock %}