{% extends "portal/base_portal.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Password reset Done" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
{{ block.super }}
<h1>{% trans "Password reset" %}</h1>
<hr />
{% trans "We have sent you an email with a link to reset your password." %}
{% trans "Please check your email and click the link to continue." %}
{% endblock base_content %}