{% extends "portal/base_portal.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Password reset complete" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
{{ block.super }}
<h1>{% trans "Password reset complete" %}</h1>
<hr />
{% trans 'Your password has been reset! You may now' %}
<a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>.
{% endblock %}