{% extends "portal/base_portal.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Password reset" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
{{ block.super }}
<h1>{% trans "Confirm password reset" %}</h1>
<hr />
{% if validlink %}
<p class="message">{% trans "Enter your new password below to reset your password:" %}</p>
<form method="post" action=".">
  {% csrf_token %} 
  <div class="update">
        {% for error in form.non_field_errors %}
            <div class="field_errors">
               {{ error }}
            </div>
        {% endfor %}
        {% for field in form %}
            <div class="fieldWrapper">
                <div class="field_errors">
                    {{ field.errors }}
                </div>
                {{ field.label }}
                {% if field.field.required %}*{% endif %}<br />
                {{ field }}<br />
        	</div>
        {% endfor %}
   </div>
  <input type="submit" value="{% trans 'Save' %}" class="button" />
</form>

{% else %}

{% trans "Password reset failed" %}

{% endif %}
{% endblock base_content %}