{% extends "portal/base_portal.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Activation email sent" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
{{ block.super }}
<h1>{% trans "Activation email sent" %}</h1>
<hr />
{% trans "An activation email has been sent." %}
{% trans "Please check your email and click on the link to activate your account." %}
{% endblock base_content %}