{% extends "portal/base_portal.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Register" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
{{ block.super }}
    <h1 id="register">{% trans "Register" %}</h1>
    <hr>
    <form method="post" action=".">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
        <div class="field_errors alert alert-danger">
            {{ error }}
        </div>
      {% endfor %}
      {% for field in form %}
        <div class="fieldWrapper" id="{{field.html_name}}">
            {% if field.errors %}
                <div class="field_errors">
                    {{ field.errors }}
                    {{ field.label }}
                    {% if field.field.required %}*{% endif %}
                    <br />
                    <div class="input_error">
                    {{ field }}
                    {% if field.help_text %}
                    <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}"><img src="{% static 'img/interrog.png' %}"/></span>
                    {% endif %}
                    </div>
                </div>
            {% else %}
                {{ field.label }}
                {% if field.field.required %}*{% endif %}
                <br />
                <div class="input">
                    {{ field }}
                    {% if field.help_text %}
                    <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}"><img src="{% static 'img/interrog.png' %}"/></span>
                    {% endif %}
                </div>
            {% endif %}
    </div>
    {% endfor %}

    <input class="button" type="submit" value="{% trans 'Register' %}" />
</form>
<script type="text/javascript">
$(document).ready(function(){    
    $("#id_cpf").mask("999.999.999-99");
});
</script>
{% endblock base_content %}
{% block extrascripts %}
{{ block.super }}

<script type="text/javascript">
    $('span.field-help').tooltip({'trigger': 'click'});
    $("#passport").hide();
    $("#cpf").hide();
    window.onload = function(){
        if ($("#country .select2-chosen").text().length>2){
            if ($("#country .select2-chosen").text() == "Brazil"){
                $("#cpf").show();
            }
            else{
                $("#passport").show();
            }
        }
    }
    $(document).delegate("#id_country","change", function(){
        if ($("#country .select2-chosen").text().length>2){
            if ($("#country .select2-chosen").text() == "Brazil"){
                $("#passport").hide();
                $("#passport input").val("");
                $("#cpf").show(300);
            }
            else{
                $("#cpf").hide();
                $("#cpf input").val("");
                $("#passport").show(300);
            }
        }
    });

</script>
<script type="text/javascript" src="{% static 'js/maskinput.js' %}"/></script>

{% endblock extrascripts %}
