{% extends "portal/base_portal.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Resend Activate" %}
    </div>
</li>
{% endblock %}
{% block base_content %}
{{ block.super }}
<h1>{% trans "Resend Activate" %}</h1>
<hr />

<span>{% trans "Did not receive the activation email? Enter your email in the form below and we'll send you  new one e-mail activation" %}</span>
<form method="post" action="{% url 'resend_activation_email' %}" class='registration' >
  {% csrf_token %} 
  {{ form.as_p }}

  <input class="button" type="submit" value="{% trans 'Send' %}" />
</form>
{% endblock %}


