.content h1.main-title {
	color: #0C6B67;
	font-size: 35px;
	margin-bottom: 30px;
}

.content h1 {
	margin-bottom: 10px;
	margin-left: 0;
	color: #333333;
	font-weight: normal;
}

.content hr {
	border: 1px solid #666666;
}

.content div.sponsors {
	margin-bottom: 20px;
}

.content div.sponsors p {
	margin-bottom: 0;
}