div.col-sm-12.content {
	min-height: 0;
}
ul.nav>li {
	font-family: 'Lato', sans-serif;
}
h1 {
	font-family: 'Lato', sans-serif;
	margin-bottom: 31px;
	font-size: 20px;
	color: #5D6162;
	margin-left: 15px;
}
h1>img {
	margin-right: 10px;
}
h1>span {
	vertical-align: middle;
	color: #5D6162;
}
ul.nav>li>a, a.summary-link {
	color: #0C6B67;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:hover, a.summary-link.active {
	color: #fff;
	background-color: #0C6B67;
}
div.fields-wrapper {
	background-color: #EBEBEA;
	padding: 12px;
	border-radius: 5px;
	margin-bottom: 25px;
}
div.input {
	width: 100%;
	border-radius: 5px;
	padding-left: 0;
	background-color: #EBEBEA;
	margin-bottom: 0px;
}
div.fields-wrapper input, div.fields-wrapper select, div.input input, div.input select {
	width: 100%;
	margin-bottom: 15px;
	border: none;
	height: 35px;
}
label, .fieldWrapper label {
	font-family: 'Lato', sans-serif;
	font-size: 15pt;
	margin-left: 15px;
}
.no-margin-left label {
	margin-left: 0;
}
div.fields-wrapper .glyphicon-play {
	color: #0D6965;
	padding-right: 10px;
	font-size: 9px;
}
div.fields-wrapper .caret {
	color: #0D6965;
	font-size: 9px;
}
div.fields-wrapper p {
	cursor: pointer;
}
div.fields-wrapper.with-error, div.input.with-error {
	background-color: #EBC0D0;
	border: 1px solid #000000;
}
p.form-label {
	margin: 0 0 3px;
	display: inline-block;
}
span.field-help {
	color: #434443;
}

span.field-help img {
	margin-left: 5px;
}
.tooltip.in {
	opacity: 0.8;
}
.tooltip>.tooltip-inner {
	padding: 10px;
}

div.focused {
	background-color: #D7D6D5;
	border: 1px solid #000000;
}

a.summary-link {
	color: #0C6B67;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

input[type=checkbox] {
	width: 31px!important;
}
.add-row, .add-row:active, .add-row:hover, a.button, a.button:active, a.button:hover, .change-wk-state-button {
	background-color: #67737A;
	color: #FFFFFF;
	border: none;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 9pt;
	cursor: pointer;
	padding: 12px;
	width: auto;
	border-radius: 6px;
    display: table;
    margin-top: 10px;
}

.change-wk-state-button {
	bottom: 0px;
	margin-bottom: 3px;
}

.ct-steps .col-sm-3 {
	width: 24%;
	display: inline-block;
	line-height: 100%;
	vertical-align: middle;
}
.ct-steps .nav li img {
    max-width: 100px;
}
.ct-steps .nav li p {
    font-size: 10pt;
}
.subtitle-formset {
	font-family: 'Lato', sans-serif;
	font-size: 17pt;
	margin-left: 15px;
	border-bottom: 2px solid #5D6162;
	padding-bottom: 10px;
}
input.button {
	border-radius: 6px;
}
div.submit-line {
	text-align: center;
}

div.form-row {
	border: 4px solid rgb(186, 188, 189);
	padding: 10px;
	margin-top: 20px;
}
span.table-inner-text {
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 5px;
}

.row {
	margin-left: 0px;
}
.icon-error {
	font-size: 20px;
	color: red;
}

 .change-wk-state-form {
 	margin-bottom: 15px;
 }
 #content-wrapper {
 	 min-width: 71%;
 }

 .clinical-trial-detail-value {
 	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;

 }
 .label-line a {
 	color: #616363;
 }
 .label-line a img {
 	margin-right: 5px;
 	margin-left: 16px;
 }
 .observation-history-number {
 	border: 1px solid #616363;
 	background-color: #616363;
 	color: #FFFFFF;
 	border-radius: 50%;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	margin-left: -7px;
	padding-right: 3px;
}
 
.pending-observation-number {
	border: 1px solid #EE0000;
 	background-color: #EE0000;
 	margin-left: -7px;
 	color: #FFFFFF;
 	border-radius: 50%;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
}

.table_list td a{
	font-weight: normal;
}
.table_list td {
	color: #6D6A69;
	text-decoration: none;
	font-weight: normal;
}
textarea {
	width: 100%;
	max-height: 110px;
}

#id_intervention_codes label {
	font-size: 13px;
}
#id_intervention_codes input {
	vertical-align: middle;
	margin-bottom: 10px;
}

#steps-list ul li {
    display: inline;
    float: left;
}

#steps-list ul li.active img {
    background-color: #0C6B67;
    border-radius: 100%;
}

#steps-list ul li span {
    margin-left: 10px;
}

#steps-list ul li a {
    padding: 0;
}

#steps-list ul li a p {
    text-align: center;
    height: 10px;
	font-size: 10pt;
	margin-top: 15px;
}


#steps-list ul li a.ct-send-button {
	background-color: #FFFFFF;
	color: #0C6B67;
	text-transform: uppercase;
	padding: 8px 20px;
	border-color: #0C6B67;
	border-width: 2px;
}

#steps-list ul li.active a.ct-send-button {
	background-color: #0C6B67;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 8px 20px;
}

.wk-transition-button {
	margin-top: 90px;
}
.tooltip-inner {
	max-width: 100%;
}
.revision-icons-wrapper {
	text-align: right;
	padding-bottom: 5px;
	padding-top: 5px;
}

.modal-dialog {
	width: 95%;
	max-width: 100%; 
}