body{
    padding-top: 0;
    top: 0;
    font-family: Helvetica;
}
@media (min-width: 992px){
    .col-md-9 {
        width: 72%;
    }
}

@media (min-width: 768px) {
    .col-sm-9 {
        width: 72%;
    }
}

@media (min-width: 768px) {
    #Rebec_logo_mobile {
        display: none;
    }    
}

#Rebec_logo_mobile {
    margin-bottom: 20px;
}    

#Rebec_logo img {
    max-width: 100%;
}

td {
    overflow: hidden;
    text-overflow: ellipsis; 
    min-width: 100px;
}
.row{
    margin-right: 0;
}

.clear {
    clear: both;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

h1{
    color: #6D6A69;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}
/*Dashboard*/
h2 {
    color: #6D6A69;
    font-family: Helvetica;
    font-weight: bold;
    font-size:21px;
}

h4 {
    color: #6D6A69;
    font-family: Helvetica;
    font-size:17px;
    font-weight: bold;
    margin-top: 24px;
}

h3 {
    margin-bottom: 0;
    margin-top: 0;
}

hr{
    border: 2px solid #DFDFDF;
    margin-bottom: 28px;
    margin-top: 10px;
}

ul{
    list-style: none;
}

label{
    font-family: Helvetica;
    font-weight: normal;
    text-transform: none;
    padding-right: 10px;
}
/*Class button padrão*/

.btn-change-row, .btn-change-row:hover{
    border: solid;
    background-color: #2D2F31;
    color: #FFFFFF;
    border:none;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size:16px;
    width: 124px;
    height: 38px;
    margin-right: 72px;
    cursor: pointer;
    border-radius: 0;
    float: left;
}

.button_new{
    border: solid;
    background-color: #2D2F31;
    color: #FFFFFF;
    border:none;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size:16px;
    width: 124px;
    height: 38px;
    cursor: pointer;
    margin-bottom: 20px;
    float: right;
}

a.button_new, a.button_new:hover{
    padding: 5px;
    width: 124px;
    height: 38px;
    display: block;
    text-align: center;
    float: right;
    color: #FFFFFF;
}

.button{
    border: solid;
    background-color: #2D2F31;
    color: #FFFFFF;
    border:none;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size:16px;
    min-width: 124px;
    height: 38px;
    margin-right: 72px;
    margin-bottom: 45px;
    cursor: pointer;
}

a.button{
    padding: 5px;
    width: 124px;
    height: 38px;
    display: block;
    text-align: center;
}

a.button:hover{
    color: #FFFFFF;
}

input.btn.btn-success.button, input.btn.btn-success.button:hover {
    border-radius:0;
    text-decoration: none;
    background-color: #2D2F31;
}

/*Barra superior site governo Brasileiro*/

#barra-brasil { height: 33px !important;}

#barra-brasil .brasil-flag { height: 100% !important}

/*Accessibility and Language*/

#accessibility {
    margin-left: 6%;
}

a#accessibility{
    color: #0D6965;
    font-family: Helvetica;
    font-size:12px;
    text-decoration: none;
    display: inline-block;
}

#language a {
    color: #0D6965;
    font-family: Helvetica;
    font-size:12px;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
}

#language {
    padding-left:25px;
    display: inline-block;
}

#language ul {
    padding: 15px 0 5px 20px;
}

/*header*/
.header_Rebec{
    height: 70px;
    position: relative;
    display: block;
    margin-bottom: 26px;
}
@media screen and (min-width: 200px) and (max-width: 777px){
    #header_row_below_logo {
        margin-top: -15px;
    }
}

#menu {
}

#menu div.dropdown{
    height: 70px;
}

#menu a.dropdown-toggle {
    color: #0D6965;
    font-size:22px;
    cursor: pointer;
    text-decoration: none;
}

#menu .dropdown-menu{
    box-shadow:none;
    padding: 20px 5px;
}

.dropdown-menu li a {
    font-family: Helvetica;
    font-size:12px;
    color:#0D6965;
    cursor: pointer;
    height: 30px;
    padding: 3px 15px;
}

.menu_span{
    font-size: 14px;
}


#pendencies {
    position:relative;
    float: left;
    color: #0D6965;
    font-family: Helvetica;
    font-size:10px;
    text-transform: capitalize;
    top: 22px;
    cursor: pointer;
}

#pendencies p{
    color:#000000;
    display: inline-block;
}

#pendencies img{
    width: 30px;
}

a.dropdown-toggle p{
    color: #000000;
    font-color:#000000;
    font-family: Helvetica;
    font-size:10px;
    text-transform: capitalize;
}

a.dropdown-toggle span.glyphicon.glyphicon-user{
    font-size: 15px;
    color: #0D6965;
    line-height: 35px;
}

.access a{
   
}
.access ul{
   
}

div.access img{
    
}

div.access a span.user_logged{
    font-family: Helvetica;
    text-transform: capitalize;
}

#logged_acess .nav>li>a.user-link {
    padding: 0;
}
#logged_acess {
    margin-left: -5px;
}
/*UpadateView*/

.update select {
    border: 5px solid #ececeb;
    margin-bottom: 20px;
    height: 42px;
    font-size: 14px;
    font-family: Helvetica;
    font-color: #000000;
    width: 60%;
    background-color: #ffffff;
}

.update label{
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
    font-weight: normal;
}

.update textarea{
    border: 5px solid #ececeb;
    font-color: #000000;
    width: 80%;
    font-size: 12px;
    margin-bottom: 20px;
}

.update input[type="password"], .update input[type="text"] , .update input[type="email"], .update input[type="number"]{
    border: 5px solid #ececeb;
    margin-bottom: 20px;
    height: 42px;
    font-size: 14px;
    font-family: Helvetica;
    font-color: #000000;
    width: 80%;
}

.update input[type="checkbox"]{
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 22px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
}

.update input.button{
    margin-bottom: 20px;
}
/*Registration*/

.registration{
    font-family: Helvetica;
    font-size:12px;
    margin-top: 46px;
}

.registration label{
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
    font-weight: none;
}

.registration input[type="email"]{
    border: 5px solid #ececeb;;
    margin-bottom: 40px;
    height: 42px;
    font-size: 14px;
    font-family: Helvetica;
    font-color: #000000;
    width: 80%;
}

/*Cadastros*/

.form-row label {
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
    font-weight: normal;
    text-transform: none;
    margin-right: 10px;
    max-width: 350px;
    overflow: auto;
}

.form-row select {
    border: solid;
    border-color:#babcbd;
    width: 60%;
    height: 37px;
    background-color: #FFFFFF;
}

.fieldWrapper {
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
    font-weight: normal;
    display: inline;
}

.fieldWrapper select {
    border: solid;
    border-color:#babcbd;
    width: 60%;
    height: 37px;
    background-color: #FFFFFF;
}

.fieldWrapper input[checkbox] {
    border:none;
}

.input{
    background-color: #ececeb;
    margin-bottom: 20px;
    height: 72px;
    width: 80%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    background-size: 30px;
}

.input div.select2-drop-mask{
    width: 60%;
    background-color: #000000;

}

.input input{
    height: 30px;
    border: none;
    width: 60%;
}

.select{
    border: solid;
    border-color:#ececeb;
    border-bottom-width: 10px;
    border-top-width: 25px;
    border-left-width: 10px;
    border-right-width: 25px;
    width: 19.667%;
    overflow: hidden;
    display: block;
}

select .select {
    border: solid;
    border-color: #bcbdbe;
    width: 150px;
    overflow: hidden;
    opacity: 0.5;
    filter:Alpha(opacity=50);
}

/* Breadcrumbs */

.breadcrumb > li + li:before {
    content: "";
}

.breadcrumb ul{
    display: inline-block;
}

.breadcrumb{
    background-color: transparent;
    margin-bottom: 0;
    margin-top: 10px;
    height: 24px;
    margin-bottom: 5px;
}

.breadcrumbs a {
    color: #000000;
    font-family: Helvetica;
    font-size:10px
}

.breadcrumbs p{
    color: #000000;
    font-family: Helvetica;
    font-size:12px;
    text-transform:capitalize;
}
   
 /*Footer*/

.footer{
    background-color: #0f3f4f;
    height: auto;
    margin-left: 0;
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    overflow: auto;
}

.footer_links {
    border-right: 1px solid #FFFFFF;
    overflow: auto;
    min-height: 232px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 1em 3em;
}

.footer_links:nth-child(3) {
    border-right: 0;
}

.footer_links a, .footer_links p{
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 10px;
}

.footer_links p:last-child{
    padding-bottom: 0;
}

#footer_logo{
    background-color: #e7ecec;
    min-height: 80px;
    height: auto;
    margin-left: 0;
    width: 100%;
    padding-bottom: 110px;
    position: relative;
    bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
}

#logo_ministerio{
    display: inline-block;
    overflow: hidden;
}

#logo_fiocruz{
    display: inline-block;
    overflow: hidden;
}

#logo_sus{
    display: inline-block;
    overflow: hidden;
}

#logo_ministerio img{
    padding-top: 20px;

}

#logo_fiocruz img{
    padding-top: 20px;

}
#logo_sus img{
    padding-top: 20px;
}

#logo_anvisa img{
    width: 100px;
    height: auto;
    padding-top: 20px;
    display: inline-block;
}

/*Meio content*/

.middle_cont{
    width: 100%;
    margin: 0;
    margin-left: 0;
    margin-left: 0;
    position: relative;
}

.middle{
    height: auto;
    background-color: #e7ecec;
    margin: 0;
    margin-left: 0;
    margin-left: 0;
    padding-bottom: 40px;
    min-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 400px; 
}

.content{
    height: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 300px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.content_home{
    height: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    min-height: 300px;
    margin-right: 35px;
}

.content_login{
    height: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    min-height: 300px;
    margin-right: 40px;
    left:20%;
}

.menu_dashboard{
    height: auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.menu_help{
    height: auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    margin-top: 15px;
    top: -211%;
    top: -56%;
    margin-bottom: 40px;
}

.items_collapse{
    background-color: #f5f7f9;
}

.seta_menu span{
    color: #0D6965;
    font-size: 9px;
}

.search {
    border: 1px solid #3a3a3a;
    margin-bottom: 10px;
}
#dashboard-text {
    margin-left: 2px;
}
.search input[type=text]{
    width: 100%;
    border: 0;
    height: 39px;
}

.button_search {
    width: 70px;
    height: 39px;
    background: url("../img/lupa.png");
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.col-sm-12.col-md-12.search{
    padding: 0;
    margin-bottom: 15px;
}

.search input[placeholder]{
    padding-left: 15px;
}

.items_menu{
    border-left:3px solid #0D6965;
    padding-left: 16px;
}

.items_menu li a{
    text-decoration: none;
    color: #6D6A69;
    font-family: Helvetica;
    font-size:14px;
    display: block;
}

.items_menu li{
    list-style: none;
    border-bottom:1px solid #e1e1e2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
}

.items_menu li:hover{
    background-color:  #e7ecec;
}

/*Tabelas*/

.table_list {
    border: 3px solid #e7ecec;
    width: 100%;
    height: 16px;
    padding-bottom: 22px;
    margin-right: 20px;
    overflow: auto;
    margin-top: 20px;
}


.table_list #table_title th{
    background-color: #0D6965;
    color: #FFFFFF;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
}

.table_list .table_title th{
    background-color: #0D6965;
    color: #FFFFFF;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #e7ecec;
}

.table_list td {
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
}

.table_style{
    color: #6D6A69;
    height: 16px;
}
#table_style{
    color: #6D6A69;
    height: 16px;
}

.table_style td, .table_style th, #table_style td, #table_style th {
    word-break: break-all;
}
.table_list td a{
    color: #6D6A69;
    text-decoration: none;
}

table.table_list tbody tr:nth-child(odd) {
   background-color: #eff2f1;
}

table.table_list tbody tr:nth-child(even) {
   background-color:#ebeded;
}

/*Detail*/

p.field_detail{
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
    text-transform: capitalize;
}

.field_detail{
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
}

.value_detail{
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
    background-color: #ececeb;
    height: 40px;
    width: -moz-max-content;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: 20px;
    padding-top: 10px;
    margin-bottom: 22px;
    margin-top: -20px;
    text-transform: capitalize;
}

.value_detail_email{
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
    background-color: #ececeb;
    height: 40px;
    width: -moz-max-content;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: 20px;
    padding-top: 10px;
    margin-bottom: 22px;
    margin-top: -20px; 
}

/*Modal*/

#login{
    width: 40%;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 5%;
}

.modal-content{
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 30px;
    padding-right: 30px;
}
.login input[type="text"], .login input[type="password"]{
    border: 4px solid #ececeb;
    height: 40px;
    clear: both;
    width: 80%;
    font-size:14px;
}

.login input.button{
    margin-bottom: 10px;
    margin-right: 0;
}
.modal-dialog div.login{
    top:10%;
    left:40%;
}

.login label{
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
    font-weight: unset;
}

.modal-header{
    border:none;
}

/*Delete Modal*/

.no_delete {
    width: 236px;
    height: 40px;
    background-color: #DF6D67;
    border: none;
    font-color:#FFFFFF;
    text-decoration: none;
    display: inline-block;
}

input.no_delete {
    text-decoration: none;
    color:#FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

a.no_delete{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    width: 236px;
    height: 40px;
    background-color: #DF6D67;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

.confirm_delete {
    width: 236px;
    height: 40px;
    background-color: #0D6D67;
    text-decoration: none;
    color:#FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-right: 35px;
    text-transform: uppercase;
    display: inline-block;
}

.modal-dialog {
   width: auto;
   max-width: 60%;
}

a.close, a.close:hover {
    opacity: 2.1;
}

a.close img{
    margin-top:-30%;
    margin-right:-130%;
    height: 30px;
    cursor: pointer;
}
/*Icones*/

span#icon_edit_1{
    color: #0D6965;
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
}
span#icon_edit{
    color: #0D6965;
    font-size: 14px;
    text-align: center;

}
a span#icon_edit_1{
    margin-left: 40%;
}

a span#icon_delete{
    margin-left: 45%;
}

span#icon_delete{
    color: #0D6965;
    font-size: 14px;
    text-align: center;
}

span.glyphicon.glyphicon-question-sign{
    font-size: 26px;
    margin-left: 10%;
    color: #434443;
    background-color: transparent;
    cursor: pointer;
}

a span.glyphicon.glyphicon-th-list{
    font-size: 14px;
    color: #434443;
    display: block;
    margin-bottom: 40px;
}

span.glyphicon.glyphicon-cog{
    padding-right: 10px;
}

a span.glyphicon.glyphicon-cog{
    font-size: 14px;
    color: #434443;
    display: block;
    margin-bottom: 40px;
}

a.my_groups{
    font-size: 14px;
    color: #434443;
    display: block;
    margin-bottom: 40px;
}

a.my_groups span{
    padding-left: 10px;
    padding-right: 10px;
}

a.change_password{
    font-size: 14px;
    color: #434443; 
    display: block;
}

a.change_password span{
    padding-left: 10px;
    padding-right: 10px;
}

/*select2*/

.fieldWrapper div.select2-container {
    min-width: 70%;
    clear: both;
}


.dropdown-menu {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.field-help{
    text-transform: capitalize;
    line-height: 2;
    cursor:pointer;
}

a.field-help span{
    margin-right: 10px;
    line-height: 2px;
}

.input div.tooltip{
    color: #5D6162;
    width: 140px;
    height: auto;
}
/*Message confirm*/
p.message{
    color:#000000;
    font-size: 14px;
    font-family: Helvetica;
    margin-bottom: 20px;
}

/*Groups management*/
.panel label{
    color: #231F20;
    font-family: Helvetica;
    font-size:14px;
    font-weight: normal;
    padding-right: 10px;
}

div.seach_filter{
    margin-bottom: 30px;
}

.seach_filter a{
    color: #0D6965;
}

.seach_filter input[type="text"]{
    border: 3px solid #babcbd;
    max-width: 140px;
}

.table.table-bordered.table_list td select{
    background:transparent;
    width: 90%;
    height:auto;
    cursor: pointer;
}

.table.table-bordered.table_list td a.select2-choice{
    background:transparent;
    width: 120%; 
    height: auto;
    color: #6D6A69;
}

.table.table-bordered.table_list td a.select2-choice span.select2-arrow {
    background:transparent;
    border: none;
}

.table.table-bordered.table_list td a.select2-choice div.select2-drop-active{
    width: 120%; 
}

.table.table-bordered.table_list td div.select2-container.select2-container-multi ul.select2-choices{
    background:transparent;
    border: none;
    width: 120%; 
    height: auto;
    cursor: pointer;
}

.table.table-bordered.table_list td div.select2-container.select2-container-multi ul.select2-choices li{
    border: none;
    background: transparent;
    color: #6D6A69;
    cursor: pointer;
}

div.select2-container a.select2-choice{
    border: 3px solid #babcbd;
    border-radius: 0;
    height: 100%;
    background:transparent;
    max-width: 100%;
}

div.select2-container a.select2-choice span.select2-arrow{
    background:transparent;
    border: none;
    border-radius: 0;
}

div.select2-drop-active {
    border-color:#babcbd;
}

input.button_seach,input.button_seach:hover, a.button_seach,.button_seach, .button_seach:hover {
    background-color: #0D6965;
    border: none;
    border-radius: 0;
    float: right;
    color: #FFFFFF;
}

table.table.table_form tbody tr{
    background-color:#FFFFFF;
    border: none;
}
table.table.table_form {
    border: none;
    width: 85%;
}
table .table_form  ul{
    padding-left: 0;
}

.table.table_form  tbody  tr  th{
    float: right;
    vertical-align: middle;
}

.table.table_form  tbody  tr  th{
    vertical-align: middle;
    font-family: Helvetica;
    font-weight: normal;
    text-transform: capitalize;
}

.table.table_form  tbody  tr  th, .table.table_form  tbody  tr  td {
    border: none;
} 

.alert {
    border: none;
    border-radius: 0;
}

.modal.in .modal-dialog {
    top: 10%;
}

.button-hidden-add-form{
    display: none;
}

a.button-visible-add-form{
    margin-right: 0;
    float: right;
    font-size: 10;
    margin-bottom: 20px;
}

/*Dashboard*/
table.table-dashboard {
    margin-top: 20px;
}

table.table-dashboard thead th{
    background: #0D6965;
    border: none;
}
table.table-radius thead th{
    border-radius: 20px 20px 0 0;
}
table.table-dashboard thead th h4 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 5px;
}
table.table-dashboard thead th{
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: normal;
    text-transform: capitalize;
}

table.table-dashboard tbody tr:nth-child(odd) {
   background-color: #fafcfc;
}

table.table-dashboard tbody tr:nth-child(even) {
   background-color:#f7f8fa;
}
table.table-dashboard tbody td,table.table-dashboard tbody a {
    color: #6D6A69;
    font-family: Helvetica;
    font-weight:bold;
}

table.table-dashboard tbody td {
    vertical-align: middle;
    text-align: center;
}


table .table_form tbody tr td{
    padding: 0;
}

table.table-dashboard tbody tr.table-sub-header td {
    border: none;
    background-color: #9D9E9E;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

a.show_all, a:hover.show_all, a:active.show_all {
    float: right;
    color: #6D6A69;
    border-radius: 0;
    background-color: #FAFCFC;
    display: block;
    border: 3px solid #E7ECEC;
}

.btn-show-all {
    border-radius: 0 0 20px 20px;
    width: 100%;
    background-color: #0D6965; 
    color: #fff;
    text-align: left!important;
}
td.btn-show-all>a {
    color: #fff!important;
    margin-left: 20px;
}

form.group select{
    border: 2px solid #bcbdbe;
    background-color: #FFFFFF;
    width: 60%;
}

/*Breadcrumbs*/

.glyphicon.glyphicon-home {
    font-size: 13px;
}

ul.formTabs {
    border: none;
    background-color: transparent;
    width: 100%;
    padding-left: 0;
    display: inherit;
}

ul li.formTab div {
    position: relative;
    margin-left: 12px;
    background-color: #C2C5C5;
    border-bottom: none;
    margin-right: 5px;  
}

ul li.formTab div.selected {
    background-color: #616363;
    color: #FFFFFF;
    text-transform: capitalize;
}

.formTab {
    float:left;
}

.formTab div, .formTab_home div {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    font-size: 10px;
    height: 20px;
}

.formTab div:before {
    display: block;
    position: absolute;
    border: 10px solid #C2C5C5;
    border-left: 12px solid transparent;
    content: "";
    left: -18px;
    top: 0;
}

.formTab div:after {
    display: block;
    position: absolute;
    content: "";
    border: 10px solid #E7ECEC;
    border-left: 12px solid #C2C5C5;
    right: -18px;
    top: 0;
}

.formTab div.selected:before {
    border-color: #616363;
    border-left-color: transparent;
}

.formTab div.selected:after {
    border-left-color: #616363;
}

/*Breadcrumbs Home*/

.formTab_home div:after {
    display: block;
    position: absolute;
    content: "";
    border: 10px solid #E7ECEC;
    border-left: 12px solid #C2C5C5;
    right: -18px;
    top: 0;
}

ul li.formTab_home div {
    position: relative;
    background-color: #C2C5C5;
    border-bottom: none;
    margin-right: 5px;  
}

ul li.formTab_home div.selected {
    background-color: #616363;
    color: #FFFFFF;
    text-transform: capitalize;
}

.formTab_home {
    float:left;
}

.formTab_home div {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0px;
    font-size: 12px;
    height: 20px;

}

.formTab_home div.selected:after {
    border-left-color: #616363;
}

.errorlist {
    background-color: #f2dede;
    border-color: #ac2925;
    color: #a94442;
    padding: 10px;
    border-radius: 2px;
}

.change{
    overflow: auto;
}

.col-sm-3.col-md-3.menu{
    padding-left: 0;
}
.table_list td a.delete-row{
    color: transparent;
}

.table_list tbody td.delete-row{
    padding: 0;
}

a.delete-row{
    background-image: url("../img/icon_delete.png");
    background-position: 50%;
    background-repeat: no-repeat;
    display: block;
    height: 26px;
}

div#menu .col-sm-4 .col-md-4{
    padding-left: 0;
}

.breadcrumb{
    padding: 0;
}
.col-sm-12 .col-md-12 .breadcrumbs .breadcrumb{
    padding: 0;
}

.row_search{

}

div.menu_dashboard .seta-baixo {
    color: #0D6965;
    font-size: 4px;
}

.seta-baixo {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

li.active-menu{
    background-color: #E7ECEC;
}

.glyphicon {
    line-height: 1.5;
}

div.yellow, div.red, div.green, div.black {
    padding: 5px;
    width: auto;
    text-align: center;
    color: #FFFFFF;
    max-width: 43px;
    border-radius: 3px;
}
.green{
    background-color: #006400;
}
.green-text {
    color: #006400;
}
.red{
    background-color: #FF0000;
}
.red-text {
    color: #FF0000;
}
.yellow{
    background-color: #FFFF00;
}

.black{
    background-color: #000000;
}

img#pendencies_ball{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 61%;
    top: -8px;
}

span#number_pendencies{
    font-size: 9px;
    top: -4px;
    position: absolute;
    left: 63.6%;
    color: #FFFFFF;
    font-weight: bold;
}

.input_error input{
    height: 30px;
    border: none;
    width: 60%;
}

.input_error{
    background-color: #F2DEDE;
    margin-bottom: 20px;
    height: 72px;
    width: 60%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    background-size: 30px;
    border: 1px solid #AC2925;
}

.table_list td{
    max-width: 350px;
}

div.access ul{
    max-width: 125px;
    max-height: 125px;
}

div.access ul li a span.user_logged{
}

.update div.error input{
    border: 4px solid #A94442;
    height: 40px;
    clear: both;
    width: 80%;
    font-size: 14px;
}

table td.institution{
    min-width: 200px;
}
/*Menu portal*/

.menu_home li a, .menu_home li a:active, .menu_home li a:focus, .menu_home li a:hover {
    color: #0D6965; !important;
}

.menu_home > li > a {
    cursor: default;
}

.menu_home > li > a:hover {
    background: none;
}

.menu_home ul li > a:hover {
    background-color: #f5f5f5;
}

.menu_home {
    min-width: 1085px;
    margin-top: -20px;
    margin-left: 35px;
}

@media(min-width: 758px) {
    #menu_home {
        margin-left: 45px;
        margin-top: 40px;
    }
}

@media only screen and (max-device-width: 800px) {
    .menu_home {
        margin-left: 0;
        min-width: 0;
        max-width: 220px;
    }
    .menu_home li{
        border-right: none !important;
        border-top: 1px solid #0D6965;
        margin-bottom: 10px;
        min-width: 160px;
    }
    .menu_home ul li{
        border-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 5px;
    }
    .arrow_box:after, .arrow_box:before {
        left: 17px !important;
    }
    .menu_home > li > a, .menu_home ul li a {
        padding: 0 2px 0 1em !important;
    }
    .menu_home li:first-child {
        border-top: none;
        padding-top: 0;
    }
    .menu_home > li {
        padding-top: .7em;
    }

}

.dropdown-menu ul {
    display: table-row;
}

.dropdown-menu li{
    display: inline-block;
    text-transform: uppercase;
}

.menu_home > li {
    min-height: 120px;
    border-right: 1px solid #0D6965;
}

.menu_home li:last-child{
    border-right: none;
}

.menu_home li.selected > a{
    font-weight: bold;
}

.menu_home a{
    border-bottom: 0px !important;
}

.menu_home ul li{
    display: block;
    text-transform: lowercase;
    border-right: none;
}

.menu_home ul li a{
    display: block;
}

.menu_home ul li:hover{
    background-color:  #f5f5f5;
}

.arrow_box, .dropdown-user, #language ul  {
    background: #fff;
    border: 1px solid #0D6965;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 3.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 13px;
    margin-left: -13px;
}

.arrow_box:before {
    border-color: rgba(13, 105, 101, 0);
    border-bottom-color: #0D6965;
    border-width: 14px;
    margin-left: -14px;
}

/*Portal breadcrumb*/

#portal_breadcrumb li:first-child, .separator {
    display: none !important;
}

#portal_breadcrumb li:nth-child(2) {
    padding-left: 12px;
}

#portal_breadcrumb a, #portal_breadcrumb span.active {
    display: inherit;
    position: relative;
    background-color: #C2C5C5;
    border-bottom: none;
    margin-right: 17px;
    padding: 2px 16px;
    font-size: 14px;
    height: 24px;
    text-transform: capitalize;
}

#portal_breadcrumb li {
    float:left;
}

#portal_breadcrumb a:before, #portal_breadcrumb span.active:before {
    display: block;
    position: absolute;
    border: 12px solid #C2C5C5;
    border-left: 12px solid transparent;
    content: "";
    left: -18px;
    top: 0;
}

#portal_breadcrumb a:after, #portal_breadcrumb span.active:after {
    display: block;
    position: absolute;
    content: "";
    border: 12px solid #E7ECEC;
    border-left: 12px solid #C2C5C5;
    right: -18px;
    top: 0;
}

#portal_breadcrumb span.active {
    background-color: #616363;
    color: #FFFFFF;
    text-transform: capitalize;
}

#portal_breadcrumb span.active:before {
    border-color: #616363;
    border-left-color: transparent;
}

#portal_breadcrumb span.active:after {
    border-left-color: #616363;
}

/*Home template*/

#left_home_content {
    padding-left: 0 !important;
}

#right_home_content {
    padding-right: 0 !important;
}

#submit_clinicaltrial {
    min-height: 100%;
    margin-left: 0 !important;
    height: 60px;
    padding: 9px;
}

#submit_clinicaltrial h1 {
    margin-top: 9px;
}

#submit_clinicaltrial a {
    color: #0D6965;
    font-weight: normal;
    font-size: 25px;
    float: left;
    padding-left: 1em;
}

.cmsplugin-news div.content {
    padding: 1px 38px;
    margin: 0 0 2em 0!important;
}

.base_content {
    padding: 2em 3em;
    margin-left: 0 !important;
}

.base_content h2 {
    margin-top: 0;
}

.cmsplugin-news h2, .cmsplugin-ct h2, .list_news h2, .base_content h2 {
    font-weight: normal;
    color: #0D6965;
    padding-bottom: 10px;
    border-bottom: 1px solid #0D6965;
    font-size: 26px;
}

.cmsplugin-ct h2 {
    margin-top: 0;
}

.cmsplugin-news ul {
    padding: 0 0 40px 0;
    border-bottom: 1px solid #0D6965;
}

.news_title a, .news_description a {
    font-size: 15px;
    color: rgb(47, 118, 186);
}

.base_content .news_description a {
    color: #333;
}

.cmsplugin-news .news_description {
    max-height: 100px;
    overflow: hidden;
}

.list_news .news_title a {
    font-size: 16px
}

.list_news li,  {
    padding-top: .7em;
}

.list_news img {
    float: right;
    margin: 1.3em 1em 1em 1em;
    width: 250px;
}

.news_content img {
    width: 300px;
}

.cmsplugin-news p {
    margin: 3px 0;
}

.pub_date {
    font-size: 14px;
    margin-top: 18px !important;
    color: rgb(29, 29, 27);
}

.pub_date a {
    color: #319b37;
}

.link_news {
    margin: 20px 0 !important;
}

.link_news a, .link_ct a {
    font-size: 14px;
    color: rgb(29, 29, 27);
}

table tr.table_style td {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

input#id_code{
    border: 3px solid #BABCBD;
    max-width: 90px;
}

.clear_search{
    float: right;
    display: inline-block;
    padding: 10px;
}
.cms_toolbar-item-logo {
    background: url("../img/logo_toolbar.png") no-repeat left top !important;
}

#cms_toolbar .cms_toolbar-item-logo a {
    background: none !important;
}

.cmsplugin-ct ul, .list_news ul {
    padding: 0;
}

.ct_title a {
    color: #319b37;
}

.primary_id_number {
    color: #324b9a;
}

.cmsplugin-ct p {
    font-size: 15px;
}

.cmsplugin-ct li {
    padding-top: 1em;
}

.link_ct a {
    border-top: 1px solid #0D6965;
    display: inline-block;
    margin-top: 1em;
    padding-top: .5em;
}

#menu_link_submit img {
    height: 35px;
}

.ct_list p {
    font-size: 14px;
}

.ct_list li {
    font-size: 14px;
    padding-top: .7em;
}

.ct_list ul {
    padding: 0;
}

ul#id_favorite_colors li{
    display: inline-block;
    cursor: pointer;
}
ul#id_favorite_colors{
    display: inline-block;
}

ul#id_favorite_colors_two{
    display: inline-block;
}

ul#id_favorite_colors_two li{
    display: inline-block;
    cursor: pointer;
}

input[type='submit'].button_seach_lup.btn.btn-info{
    background: url("../img/lupa_2.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #0D6965;
    border:none;
    border-radius: 5px;
    width: 35px;
    height: 35px;
}

.seach_filter label{
    font-size: 12px;
    font-weight: bold;
    color: #6D6A69;
    padding-left: 10px;
}

.gcsc-branding-text, .gcsc-branding-img-noclear, .gsc-result-info-container {
    display: none;
}

.gsc-inline-block {
    min-width: 80px !important;
}

#gs_tti50 input {
    background: none !important;
}

.gsc-table-result {
    margin-left: 1em;
}

.gs-result .gs-title, .gs-result .gs-title * {
    text-decoration: none !important;
    color: #0D6965 !important;
}

.gsc-control-cse {
    width: 900px;
}

.fieldWrapper div.select2-container {
    min-width: 60%;
}

table.seach_filter_form tr{
    display: inline-block;
}

.select2-container.select2-container-multi {
    width: 100%!important;
}

table.seach_filter_form tr{
    padding-top: 10px;
}

tr.seach_filter_form_last{
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}

.update #country{
    margin-bottom: 18px;
}

div.popover.tour-tour{
    color: #000;
}

.menu_help a.items_menu_help, .menu_help li , .menu_help a{
    text-decoration: none;
    color: #6D6A69;
    font-family: Helvetica;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
}

.menu_help a.items_menu_help:hover {
    background-color: #E7ECEC;
}

.menu_help ul{
    padding-left: 16px;
}

span.glyphicon.glyphicon-ok.icon_help_ok{
    color: #0D6965;
    font-size: 10px;
    padding-left: 10px;
}

span#seta_help{
    font-size: 10px;
    color: #0D6965;
    margin-right: 10px;
}

.helps li{
    margin-left: 20px;
}

span.seta-baixo{
    font-size: 4px;
}

span.step-links a {
    color: #0D6965;
    text-transform: capitalize;
    padding: 5px;
}
span.step-links {
    font-weight: bold;
}
span.step-links p {
    display: inline-block;
    padding: 5px;
}

#button_find{
    float: none;
}

#contact-form .input, #contact-form .input_error {
    height: 100% !important;
    width: 80% !important;
}

#contact-form #id_content {
    width: 60%;
    border: none;
}

#contact-form #recaptcha_table {
    background-color: #fff;
}

.tooltip-inner {
    white-space: normal;
}
.red_text {
    color: red;
}
.pagination {
    width: 100%;
    text-align: center;
}
.contact-field-wrapper {
    height: 250px;
}
.green-text {
    color: #0D6965;
}
textarea:focus, input:focus{
    outline: 0;
}
#dropdown-user {
    margin-right: -15px;
}
#main-content {
    width: 75%;
}
.div-unique-background {
    background-color: #EBEBEA;
    border-radius: 5px;
    height: 100px;
}
.hidden-trials {
    display: none;
}
.table-dashboard tr:not(.table-sub-header) td {
    padding: 0px;
}
.btn-no-padding {
    padding: 0!important;
}

.header_dashboard_icon {
    display: table;
}
