{% extends "administration/base_administration.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 content">
    	<pre>
    	<h1>{% trans 'Permission Denied' %}</h1>
    		<h5>{% trans 'The action you are trying to do its not allowed.' %}</h5>
    	<a class="button" href="/">{% trans 'Home' %}</a>
    	</pre>
    </div>
{% endblock content %}