{% extends "administration/base_administration.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 content">
    	<pre>
    	<h1>{% trans 'Page Not Found' %}</h1>
    		<h5>{% trans 'The page of the URL that you are trying to access its not avaiable.' %}</h5>
    	<a class="button" href="/">{% trans 'Home' %}</a>
    	</pre>
    </div>
{% endblock content %}