{% extends "administration/base_administration.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 content">
    	<pre>
    	<h1>{% trans 'Ops, Internal Error :(' %}</h1>
    		<h5>{% trans 'This page has an error, go back to your home by clicking on the button below. The system administrator will be reported.' %}
    		</h5>
    	<a class="button" href="/">{% trans 'Home' %}</a>
    	</pre>
    </div>
{% endblock content %}