{% load i18n static %}
{% load cms_tags sekizai_tags %}
{% load portal_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% trans "ReBEC" %}</title>
    <link rel="icon" href="/static/img/favicon.ico">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <!-- Core CSS - Include with every page -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/timeline/timeline.css' %}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/960.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" id="css">
    <link href="{% static 'css/print.css' %}" rel="stylesheet" type="text/css"  media="print" />
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="{% static 'js/bootstrap-tour-0.10.1/build/css/bootstrap-tour.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/bootstrap-tour-0.10.1/build/css/bootstrap-tour-standalone.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/portal.js' %}"></script>
    {% render_block "css" %}

    {% block extrastyle %}
    {% endblock %}
    {% portal_javascripts %}
</head>
<body>
    <!--Retirar esta div abaixo após o período de testes do REBEC-->
    <div class="row">
      <div class="col-md-12" style="color:white;background-color:red;min-heigth:25px;text-align:center;">
          ATENÇÃO: SITE EM PERÍODO DE TESTES
      </div>
    </div>
    {% cms_toolbar %}
    {% barra_brasil %}
    <div class="clear"></div> 
    {% include "base/header.html" %}
        <div class="clear"></div> 
        <div class="row middle_cont middle">
            <div class="col-sm-12 col-md-12 breadcrumbs breadcrumb">
                <ul class="formTabs">
                {% block breadcrumbs %}
                {% endblock %}
                </ul>
            </div>
        <div class="clear"></div> 
                {% block content %}
                {% endblock content %}
        </div>
        <div class="clear"></div> 
    {% include "base/footer.html" %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/sb-admin.js' %}"></script>
    <script src="{% static 'js/bootstrap-tour-0.10.1/build/js/bootstrap-tour.js' %}"></script>
    <script src="{% static 'js/bootstrap-tour-0.10.1/build/js/bootstrap-tour.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-tour-0.10.1/build/js/bootstrap-tour-standalone.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-tour-0.10.1/build/js/bootstrap-tour-standalone.js' %}"></script>

    {% render_block "js" %}
    {% block extrascripts %}
    {% endblock %}
    <script type="text/javascript">
        $(document.body).on('hidden.bs.modal', function (event) {
          
          $(event.target).removeData('bs.modal');
        });
    </script>

    <style type="text/css">
        .tooltip-inner {
            max-height: 500px;
            overflow: auto;
        }
    </style>

</body>
</html>
