{% load i18n  static %}

<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span></button>
<form action="{{ request.path}}" method="post">
    {% csrf_token %}
    <p> {{ message }}</p>
    <input type="hidden" name="confirm", value="yes"/>
    <input class="button" type="submit" value="{% trans 'Confirm' %}" />
    <a href="./"><input class="button" type="button" value="{% trans 'No' %}" /></a>
<!--     <a href="{{ cancel_url }}"><input class="button" type="submit" value="No" /></a>
 --></form>
