
{% load i18n  static %}
<a class="close" data-dismiss="modal"><img src="/static/img/close.png" /></a>
<form action="{{ request.path }}"  method="post">{% csrf_token %}
    <h1>{% trans 'Are you sure you want to delete' %} "{{ object }}"? </h1>
    {% if warning %}
        <h5 class="red-text">{{ warning }}</h5>
    {% endif %}
    <hr />
    <input class="confirm_delete" type="submit" value="{% trans 'Confirm' %}" />
    <a href="./" class="no_delete">{% trans "No" %}</a>
</form> 

