{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="../">
            {% trans object.get_model_name %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {{ object }}
	</div>
</li>
{% endblock %}
{% block administration_content %}

<h1>{% trans object.get_model_name %}</h1>
<hr />
    {% for field, value in object.get_all_fields.items %}
        <p class="field_detail">{% trans field %}</p><br />
        <p class="value_detail">{{ value }}</p>
    {% endfor %}


<a href="./" class="button">{% trans "Back" %}</a>

{% endblock administration_content %}