{% load static i18n %}
<div class="fieldWrapper">
    <div class="row-input label_help_ct">
	{{ field.label_tag }}
    <div class="help-input-text">
    {% if field.help_text %}
        <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
    {% endif %}
    </div>
    </div>
    <div class="clear"></div>
    <div class="row-input input{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}">
    	<div class="field-input">
        {{ field }}
        </div>
    	<div class="text-center">
			{% if field.errors %}
				<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
			{% elif field.value %}
				<img src="{% static 'img/field-ok.png' %}"/>
			{% endif %}
		</div>
    </div>
</div>