{% load i18n static %}
{% load portal_tags %}
<div class="clear"></div> 
<div class="row footer" id="footer_page">
<div class="col-sm-4 col-md-4 footer_links">
    {% ct_summary %}
</div>
<div class="col-sm-4 col-md-4 footer_links">
    <p><a href="{% url 'auth_password_reset' %}">{% trans 'recover your password' %}</a></p>
    <p><a href="{% url 'registration_register' %}">{% trans 'register a new user' %}</a></p>
    <p><a href="{% url 'ct_recruiting_list' %}">{% trans 'recruiting' %}</a></p>
    <p><a href="{% url 'news_archive_index' %}">{% trans 'news' %}</a></p>
    <p><a href="/about/institutional/">{% trans 'about' %}</a></p>
</div>
<div class="col-sm-4 col-md-4 footer_links">
    <p><a href="/help/help">{% trans 'help' %}</a></p>
    <p><a href="/contact">{% trans 'contact' %}</a></p>
    <p><a href="/staff">{% trans 'staff' %}</a></p>
    <p><a href="/links">{% trans 'useful links' %}</a></p>
    <p><a href="/help/glossary/">{% trans 'glossary' %}</a></p>
</div>
<div class="clear"></div> 
</div>
<div class="row" id="footer_logo">
    <div class="col-sm-4 col-md-4" id="logo_opas">
        <a target="_blank" href="https://portal.fiocruz.br">
        <img src="/static/img/opas_oms.png"/> </a>
    </div>
    <div class="col-sm-6 col-md-6" id="logo_fiocruz">
        <a target="_blank" href="http://portalsaude.saude.gov.br/">
        <img src="/static/img/logo_ministerio_da_saude_SUS.png"/> </a>
    </div>
    <div class="col-sm-2 col-md-2" id="logo_anvisa">
        <a target="_blank" href="https://portal.fiocruz.br"></a>
        <img src="/static/img/Anvisa.png"/> 
    </div>
</div>


