{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
{% if object.pk %}
<li class="formTab">
<div>
    <a href="{{ view.get_success_url }}">
        {% trans object.get_model_name %}
    </a>
</div>
</li>
<li class="formTab">
    <div>
        {{ object }}
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans 'Edit' %}
    </div>
</li>
{% elif view.model.get_model_name %}
<li class="formTab">
    <div>
        <a href="{{ view.success_url }}">
            {% trans view.model.get_model_name %}
        </a> 
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans 'add' %}
    </div>
</li>
{% else %}
<li class="formTab">
    <div class="selected">
        {{ view.step_label }}
    </div>
</li>
{% endif %}
{% endblock breadcrumbs %}
{% block administration_content %}

<h1>
    {% if view.step_label %}
        {{ view.step_label }}
    {% elif object.pk %}
        {% trans 'Edit' %}
        {% trans view.model.get_model_name %}
    {% else %}
        {% trans 'Register' %}
        {% trans view.model.get_model_name %}
    {% endif %}
</h1>
<hr />

<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
    <div class="update">
    {% for error in form.non_field_errors %}
        <div class="field_errors alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for field in form %}
        <div class="fieldWrapper">
            <div class="field_errors">
                {% if field.errors %}
                    <div class="field_errors alert alert-danger">
                        {{ field.errors }}
                        {{ field.label }}
                        {% if field.field.required %}*{% endif %}
                        <br />
                        {{ field }}
                        {% if field.help_text %}
                        <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}"><img src="{% static 'img/interrog.png' %}"/></span>
                        {% endif %}
                        <br />

                    </div>
                {% else %}
            </div>
                    {{ field.label }}
                    {% if field.field.required %}*{% endif %}
                    <br />
                    {{ field }}
                    {% if field.help_text %}
                    <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}"><img src="{% static 'img/interrog.png' %}"/></span>
                    {% endif %}<br />
                {% endif %}
        </div>
    {% endfor %}
    </div>
    <input class="button" type="submit" value="{% trans 'Save' %}" />
</form>

{% endblock administration_content %}
{% block extrascripts %}
<script type="text/javascript">
    $('span.field-help').tooltip({'trigger': 'click'});
</script>
{% endblock %}
