{% load i18n static %}
{% load cms_tags menu_tags %}
<div class="row header">
    <div class="col-sm-8 col-md-8">
        <span>  {% trans 'Go to content' %} <a href="#main-content" accesskey="1" class="button_top">1</a></span>  <span>{% trans 'Go to menu' %} <a href="#" id="open_menu" accesskey="2" class="button_top">2</a></span>  <span>{% trans 'Go to search' %} <a href="#" onclick="document.forms[2].input_search.focus();" accesskey="3" class="button_top">3</a></span>  <span>{% trans 'Go to footer' %} <a href="#footer_page" accesskey="4" class="button_top">4</a></span>
    </div>
    <div class="col-sm-4 col-md-4 access_rebec">
        <a id="accessibility" class="item_menu" href="{% url 'accessibility' %}">{% trans 'acessibility' %}</a>
        <a id="alto_contraste" class="item_menu" href="#" onclick="applyHightContrast();">{% trans 'Hight contrast' %}</a>
        <div id="language" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "language" %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
               {% get_language_info_list for LANGUAGES as languages %}
               {% for lang in languages %}
                    <li>
                        <form name="setLang{{ lang.name}}" action="{% url 'set_language' %}" method="POST">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                                <input type="hidden" name="language" value="{{ lang.code }}" />
                                <a href="#" onclick="document.setLang{{ lang.name }}.submit();return false;">{{ lang.name_local }}</a>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div> 
<div class="header_Rebec">
    <div class="row">
        <div class="col-sm-4 col-xs-12 hidden-md text-center" id="Rebec_logo_mobile">
            <a href="/"><img src="{% static 'img/rebec_logo.png' %}"/></a>
        </div>
        <div class="" id="menu">
            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                <div class="dropdown" id="menu_home">
                    <img id="menu_img" src="{% static 'img/menu.png' %}"/>
                    <span class="menu_span hidden-xs">{% trans "menu" %}</span>
                </div>
            </a>
            <ul class="dropdown-menu arrow_box menu_home" role="menu" aria-labelledby="dLabel">
                {% block menu %}
                    {% show_menu 0 100 100 100 %}
                {% endblock menu %}
                <li>
                    <a href="/">{% trans 'SUBMIT' %}</a>
                    <ul>
                        <li id="menu_link_submit">
                            <a href="{% url 'clinical_trial_add' %}">
                                <img src="{% static 'img/submit_ct.png' %}">
                                <span>{% trans 'New Submission' %}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/">{% trans 'YOUR ACCOUNT' %}</a>
                    <ul>
                        <li>
                            <a href="{% url 'registration_register' %}">{% trans 'register' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'home' %}">{% trans 'track your studies' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'auth_password_reset' %}">{% trans 'recover your password' %}</a>
                        </li>
                    </ul>
                </li>
            </ul> 
        </div>
        <!-- Link Acessar -->
        <div id="logged_acess" class="access text-right">
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown" id="dropdown-user">
                    <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#">
                        <img src="{% static 'img/login.png' %}"/>
                        <span class="user_logged green-text">{{ user.name }}</span>
                        <img src="{% static 'img/dropdown.png' %}"/>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'user_profile_edit' user.id %}">        {% trans 'My Profile' %}
                            </a>
                        </li>
                        <li>
                            <a href="/logout/">
                                <i class="fa fa-sign-out fa-fw"></i>
                                    {% trans 'Logout' %}
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}">
                                {% trans 'login' %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header_links text-right">
            <a href="{% url 'home' %}">
                {% if user.get_pendencies > 0 %}
                    <span id="pendencies_ball">
                        {{ user.get_pendencies }}
                    </span>
                {% endif %}
                <img src="{% static 'img/dashboard-icon.png' %}"/>
                <span class="green-text" id="dashboard-text"/>
                {% trans 'dashboard' %}
                </span>
            </a>
        </div>
    </div>
    <div class="clear"></div> 
    <div class="row">
        <div class="col-sm-3 col-md-7 col-xs-12 hidden-xs" id="Rebec_logo">
            <a href="/"><img src="{% static 'img/rebec_logo.png' %}"/></a>
        </div>
        <div class="col-sm-4 col-md-5 col-xs-12" id="header_row_below_logo">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 search" id="search_div">
                    <form action="{% url 'search' %}" method="get">
                        <input type="text" id="input_search" name="q" placeholder="{% trans 'Buscar no site' %}"{% if search_query %} value="{{ search_query }}"{% endif %}>
                        <input type="submit" class="button_search" value>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
