{% load i18n static %}
{% load portal_tags %}

<div class="col-sm-3 col-md-3 menu">
    <div class="menu_dashboard" id="accordion">
        <ul class="items_menu">
        {% if perms.admin.registrant_permission %}
        <li>
            <a href="{% url 'home' %}">
                {% trans "dashboard_menu" %}
            </a>
        </li>
        <li>
            <a href="{% url 'clinical_trial_add' %}">
                {% trans "NewSubmissao" %}
            </a>
        </li>
        <li>
            <a href="{% url 'import_trial' %}">
                {% trans "Import Trial" %}
            </a>
        </li>
        {% endif %}
    {% if perms.admin.administrador_permission %}
    <li>
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseOne" class="seta_menu">
            <span class="glyphicon glyphicon-play"></span>
            {% trans "Register" %}
        </a>
    </li>
    <div id="collapseOne" class="collapse">
        <ul class="items_collapse">
            <li>
                <a href="{% url 'intervention_code_list' %}">
                    {% trans "Intervention Code" %}
                </a>
            </li>
            <li>
                <a href="{% url 'setup' %}">
                    {% trans "Setup" %}
                </a>
            </li>
            <li>
                <a href="{% url 'intervention_assignment_list' %}">
                    {% trans "Intervention Assignment" %}
                </a>
            </li>
            <li>
                <a href="{% url 'study_phase_list' %}">
                    {% trans "Study Phase" %}
                </a>
            </li>
            <li>
                <a href="{% url 'setup_identifier_list' %}">
                    {% trans "Setup Identifiers" %}
                </a>
            </li> 
            <li>
                <a href="{% url 'observation_study_design_list' %}">
                    {% trans "Observational Study Design" %}
                </a>
            </li>
            <li>
                <a href="{% url 'country_list' %}">
                    {% trans "Countries" %}
                </a>
            </li>
            <li>
                <a href="{% url 'time_perspective_list' %}">
                    {% trans "Time Perspective" %}
                </a>
            </li>
            <li>
                <a href="{% url 'study_purpose_list' %}">
                    {% trans "Study Purpose" %}
                </a>
            </li>
            <li>
                <a href="{% url 'allocation_type_list' %}">
                    {% trans "Allocation Type" %}
                </a>
            </li>
            <li>
                <a href="{% url 'institution_type_list' %}">
                    {% trans "Institution Types" %}
                </a>
            </li>
            <li>
                <a href="{% url 'masking_type_list' %}">
                    {% trans "Masking Type" %}
                </a>
            </li>
            {% if perms.admin.administrador_permission %}
            <li>
                <a href="{% url 'state_change_email_templates' %}">
                    {% trans "System emails" %}
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    <!-- Menu Instituições -->
    {% if perms.admin.administrador_permission %}
    <li>
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" class="seta_menu">
            <span class="glyphicon glyphicon-play"></span>
            {% trans "Institutions" %}
        </a>
    </li>
    {% endif %}
    <div id="collapseTwo" class="collapse">
        <ul class="items_collapse">
        {% if perms.admin.administrador_permission %}
        <li>
            <a href="{% url 'institution_list' %}">
                {% trans "Register of Institution" %}
            </a>
        </li>
        {% endif %}
        {% if perms.admin.administrador_permission %}
        <li>
            <a href="{% url 'institution_pending_list' %}">
                {% trans "Institution Moderation" %}
            </a>
        </li>
        <li>
            <a href="{% url 'group_institution_pending_list' %}">
                {% trans "Groups moderation" %}
            </a>
        </li>
        {% endif %}
        </ul>
    </div>
<!-- Menu Grupos -->
    {% if perms.admin.manager_permission or perms.admin.registrant_permission or perms.admin.administrador_permission %}
    <li>
        <a id="groups" data-parent="#accordion" data-toggle="collapse" href="#collapseTree" class="seta_menu">
            <span class="glyphicon glyphicon-play"></span>
            {% trans "Groups" %}
        </a>
    </li>
    {% endif %}
    <div id="collapseTree" class="collapse">
        <ul class="items_collapse">
        {% if perms.admin.registrant_permission %}
        <li>
            <a id="groups_list" href="{% url 'ctgroup_list' %}">
                {% trans "My Groups" %}
            </a>
        </li>
        {% endif %}
        {% if perms.admin.administrador_permission %}
        <li>
            <a href="{% url "group_admin_pending_list" %}">
                {% trans "Administrators moderation" %}
            </a>
        </li>
        {% endif %}
        {% if perms.admin.administrador_permission or perms.admin.manager_permission %}
        <li>
            <a href="{% url 'administration_admin_manage_groups' %}">
                {% trans "Groups management" %}
            </a>
        </li>
        {% endif %}
        </ul>
    </div>
    {% if perms.admin.manager_permission or perms.admin.administrador_permission or perms.admin.reviser_permission or perms.admin.evaluator_permission or user.is_registrant_administrator %}
    <li>
        <a data-parent="#accordion" data-toggle="collapse" href="#collapseFour" class="seta_menu">
            <span class="glyphicon glyphicon-play"></span>
            {% trans "Clinical Trial" %}
        </a>
    </li>
    {% endif %}
    <div id="collapseFour" class="collapse">
        <ul class="items_collapse">
        {% if perms.admin.manager_permission %}
        <li>
            <a href="{% url 'occupation_management' %}">
                {% trans "Workload Management" %}
            </a>
        </li>
        {% endif %}
        {% if user.is_registrant_administrator %}
        <li>
            <a href="{% url 'clinical_trial_admin_manage' %}">
                {% trans "Clinical Trials management" %}
            </a>
        </li>
        {% endif %}
        {% if user.is_registrant_administrator %}
        <li>
            <a href="{% url 'recruitment_interrupt_list' %}">
                {% trans "Recruiment management" %}
            </a>
        </li>
        {% endif %}
        {% if perms.admin.reviser_permission %}
        <li>
            <a href="{% url 'ct_reviser_review_pending' %}">
                {% trans "Review Pending" %}
            </a>
        </li>
        {% endif %}
        {% if perms.admin.reviser_permission %}
        <li>
            <a href="{% url 'ct_reviser_being_reviewed' %}">
                {% trans "Being reviewed" %}
            </a>
        </li>
        {% endif %}
        <!-- .. -->       

        {% if perms.admin.evaluator_permission %}
        <li>
            <a href="{% url 'ct_evaluator_awaiting_assessment_list' %}">
                {% trans "Pending assessment" %}
            </a>
        </li>
        {% endif %}
        {% if perms.admin.evaluator_permission %}
        <li>
            <a href="{% url 'ct_evaluator_in_evaluation_list' %}">
                {% trans "Being assessed" %}
            </a>
        </li>
        {% endif %}
        {% if perms.admin.manager_permission or perms.admin.administrador_permission or perms.admin.reviser_permission or perms.admin.evaluator_permission  %}
        <li>
            <a href="{% url 'clinical_trails_all' %}">
                {% trans "Clinical Trial List" %}
            </a>
        </li>
        {% endif %}
        {% if perms.admin.manager_permission or perms.admin.administrador_permission %}
            <li>
                <a href="{% url 'no_holder_cts_list' %}">
                    {% trans "Clinical Trials Without Holder" %}
                </a>
            </li>
        {% endif %}
        {% if perms.admin.administrador_permission %}
            <li>
                <a href="{% url 'list_export_configs' %}">
                    {% trans "Export Configurations" %}
                </a>
            </li>
        {% endif %}
    </div>
    {% if perms.admin.manager_permission %}
        <li>
            <a data-parent="#accordion" data-toggle="collapse" href="#collapseFive" class="seta_menu">
                <span class="glyphicon glyphicon-play"></span>
                {% trans "Indicators" %}
            </a>
        </li>   
        <div id="collapseFive" class="collapse">
            <ul class="items_collapse">
                <li>
                    <a href="{% url 'clinical_trails_published' %}">
                        {% trans "Clinical trial Published" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'indicator_by_clinical_trial' %}">
                        {% trans "By clinical trial" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'indicator_by_reviser' %}">
                        {% trans "By reviser" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'indicator_by_evaluator' %}">
                        {% trans "By evaluator" %}
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
    </ul>
    </div>
    {% links_help %}
</div>
<script type="text/javascript">
$('#li_help').on('click', function() {
    var span_class = $('#seta_help');
    if(span_class.hasClass('glyphicon-play')){
        span_class.removeClass('glyphicon-play').addClass('seta-baixo');
    }
    else {
        if(span_class.hasClass('seta-baixo')){
            span_class.addClass('glyphicon-play').removeClass('seta-baixo');
        }
    }
});
$('.seta_menu').on('click', function() {
    var span_icon = $(this).find('span:eq(0)');
    if(span_icon.hasClass('glyphicon-play')){
        span_icon.addClass('seta-baixo').removeClass('glyphicon-play');
    }
    else {
        if(span_icon.hasClass('seta-baixo')){
            span_icon.addClass('glyphicon-play').removeClass('seta-baixo');
        }
    }
});
$('.items_menu a[href="'+document.location.pathname+'"]').parent().addClass('active-menu').parents('div.collapse').addClass('in').css('height', 'auto').prev().find('span.glyphicon-play').removeClass('glyphicon-play').addClass('seta-baixo');
</script>
