<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="confirm" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
