{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
<div class="selected">
    {% trans "Export Configurations List" %}
</div>
</li>
{% endblock %}
{% block administration_content %}
    <h1>{% trans "Export Configurations List" %}</h1>
    <hr/>
    <table class="table table-bordered table_list">
        <thead>
            <tr class="table_title">
                <th>{% trans "ID" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Active" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in configs_list %}
                <tr>
                    <td><a href="{{ i.get_absolute_url }}">{{ i.pk }}</a></td>
                    <td><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></td>
                    <td><a href="{{ i.get_absolute_url }}">
                        {% if i.active %}
                            <img src="{% static 'img/field-ok.png' %}">
                        {% else %}
                            <img src="{% static 'img/field-error.png' %}">
                        {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="button" href="{% url 'create_new_configuration' %}">{% trans "New" %}</a>

{% endblock administration_content %}
