{% extends 'base/detail_view.html' %}
{% load i18n %}
{% block administration_content %}
<h1>{% trans object.get_model_name %}</h1>
<hr />
    <a href="{% url 'export_config_edit' object.pk %}" class="button">{% trans "Change" %}</a>
    {% for field, value in object.get_all_fields.items %}
        <p class="field_detail">{% trans field %}</p><br />
        <p class="value_detail">{{ value }}</p>
    {% endfor %}

    {% trans "Tags" %}

    <ul>
    {% for tag in object.tags_root %}
        {% for branch, obj in tag.as_tree %}
            {% if obj %}
                <li>{{ obj.tag_name }}
                {% if branch %}
                    <ul>
                {% else %}
                    </li>
                {% endif %}
            {% else %}
                {% if branch %}
                    </ul>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>

<h2>Validation status: {{ object.validate_config }}</h2>

<h2>{% trans "Test this export config. with a public trial" %}</h2>
<hr />
<form action="." method="POST">
{% csrf_token %}
{{ test_form }}
<input type="submit" class="button" value="{% trans 'Download' %}">
{% endblock administration_content %}
</form>