{% extends "administration/base_administration.html" %}
{% load static i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "list_export_configs" %}">
            {% trans "Export Configurations List" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Edit" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

<h1>{% trans "Edit export configuration" %}</h1>
<hr />
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="update">
        <div class="fieldWrapper">
            <div class="field_errors">
                {% if field.errors %}
                    <div class="field_errors alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
            {{ field.label }}
            {% if field.field.required %}*{% endif %}
            <br />
            {{ field }}<br />
        </div>
    </div>
    {% endfor %}
<h1>{% trans "Tags" %}</h1>
<hr />
    <table class="table table-bordered table_list">
        <thead>
            <tr class="table_title">
                <th>{% trans "TAG" %}</th>
                <th>{% trans "Order" %}</th>
                <th>{% trans "Parent" %}</th>
                <th>{% trans "Multiple" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in ordered_tags %}
                <tr>
                    <td>{{ i.tag_name }}</td>
                    <td>{{ i.tag_order }}</td>
                    <td>{{ i.parent_tag.tag_name }}</td>
                    <td>
                        {% if i.multiple %}
                            <img src="{% static 'img/field-ok.png' %}">
                        {% else %}
                            <img src="{% static 'img/field-error.png' %}">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'change_export_tag' i.pk %}">{% trans "Edit" %}</a>
                        <a data-toggle="modal" data-target="#delete" style="float:right;" href="{% url 'remove_export_tag' i.pk %}">{% trans "Remove" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="button button-visible-add-form" href="{% url 'create_new_export_tag' form.instance.pk %}">{% trans "New Tag" %}</a>
    
<script src="{% static 'js/jquery.formset.min.js' %}"></script>
<input class="button" type="submit" value="{% trans 'Save' %}"/>
</form>

<form action="{% url 'test_export_xml' form.instance.pk %}" method="POST">
    {% csrf_token %}
    {{ test_form.rbr.label_tag }}
    {{ test_form.rbr }}
    <input type="submit" class="button" value="{% trans 'Test XML' %}"/>
</form>

{% include "base/modal-delete.html" %}

{% endblock administration_content %}