div.col-sm-12.content {
    min-height: 0;
}
ul.nav>li {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 31px;
    font-size: 22px;
    color: #5D6162;
    margin-left: 15px;
    font-weight: normal;
}
h1>img {
    margin-right: 10px;
}
h1>span {
    vertical-align: middle;
    color: #5D6162;
}
ul.nav>li>a, a.summary-link , ul.nav>li>a span:not(.user_logged){
    color: #0C6B67;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:hover, a.summary-link.active {
    color: #fff;
    background-color: #0C6B67;
}
div.fields-wrapper {
    background-color: #EBEBEA;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
}
div.input {
    width: 100%;
    border-radius: 5px;
    background-color: #EBEBEA;
    margin-bottom: 0px;
}
div.fields-wrapper input, div.fields-wrapper select, div.input input, div.input select {
    width: 100%;
    border: none;
    height: 35px;
}
label, .fieldWrapper label {
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    margin-left: 15px;
    color: #333;
    padding-right: 0px;
    margin-right: 0px;
    overflow: inherit;
}

.form-row label{
    max-width: 100%;
}

div.fields-wrapper .glyphicon-play {
    color: #0D6965;
    padding-right: 10px;
    font-size: 9px;
}
div.fields-wrapper .caret {
    color: #0D6965;
    font-size: 9px;
}
div.fields-wrapper p {
    cursor: pointer;
}
div.fields-wrapper.with-error, div.input.with-error {
    background-color: #EBC0D0;
    border: 1px solid #000000;
}
p.form-label {
    margin: 0 0 3px;
    display: inline-block;
}
span.field-help {
    color: #434443;
}

span.field-help img {
    margin-left: 5px;
}
.tooltip.in {
    opacity: 0.8;
}
.tooltip>.tooltip-inner {
    padding: 10px 20px;
}

a.summary-link {
    color: #0C6B67;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

input[type=checkbox] {
    width: 31px!important;
}

.add-row, .add-row:active, .add-row:hover, .add-row:focus, .add-row:visited, a.button, a.button:active, a.button:hover, .change-wk-state-button, .change-wk-state-button:hover {
    background-color: #67737A;
    color: #FFFFFF;
    border: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 9pt;
    cursor: pointer;
    padding: 12px;
    width: auto;
    border-radius: 6px;
    display: table;
}

.change-wk-state-button {
    bottom: 0px;
    margin-bottom: 3px;
}

.ct-steps .col-sm-3 {
    width: 24%;
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
}
.ct-steps .nav li img {
    max-width: 120px;
}
.ct-steps .nav li p {
    font-size: 10pt;
}
.subtitle-formset {
    font-family: 'Lato', sans-serif;
    font-size: 17pt;
    margin-left: 15px;
    border-bottom: 2px solid #5D6162;
    padding-bottom: 10px;
}
input.button, button.button {
    border-radius: 6px;
}

div.submit-line {
    text-align: center;
    padding: 10px;
    border-top: 2px solid #5D6162;
    margin: 10px 0px; 
}

div.submit-line input{
    margin-right: 0px !important;
    margin-bottom: 0px !important;; 
}

div.form-row {
    border: 4px solid rgb(186, 188, 189);
    padding: 0px 10px 10px;
    margin: 20px 0px 10px;
}
span.table-inner-text {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 5px;
}

.row {
    margin-left: 0px;
}
.icon-error {
    font-size: 20px;
    color: red;
}
.text-error {
    color: red;
}

 .change-wk-state-form {
    margin-bottom: 15px;
 }
 .change-wk-state-form .button,  .change-wk-state-form .button:hover, .change-wk-state-form input {
    margin:0;
 }
 #content-wrapper {
     min-width: 71%;
 }

 .clinical-trial-detail-value {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;

 }
 .label-line a {
    color: #616363;
 }
 .label-line a img {
    margin-right: 5px;
    margin-left: 16px;
 }
 .observation-history-number {
    border: 1px solid #616363;
    background-color: #616363;
    color: #FFFFFF;
    border-radius: 50%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    margin-left: -7px;
    padding-right: 3px;
}
 
.pending-observation-number {
    border: 1px solid #EE0000;
    background-color: #EE0000;
    margin-left: -7px;
    color: #FFFFFF;
    border-radius: 50%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.table_list td a{
    font-weight: normal;
}
.table_list td {
    color: #6D6A69;
    text-decoration: none;
    font-weight: normal;
}
textarea {
    width: 100%;
    height: 110px;
}

#id_intervention_codes label {
    font-size: 15px;
    margin-left: 0px;
}
#id_intervention_codes input {
    vertical-align: middle;
    margin-bottom: 10px;
}

#steps-list ul li {
    display: inline;
    float: left;
}

#steps-list ul{
    display: inline-block;
}

#steps-list{
    text-align: center;
}

#steps-list ul li.active img {
    background-color: #0C6B67;
    border-radius: 100%;
}

#steps-list ul li span {
    margin-left: 10px;
}

#steps-list ul li a {
    padding: 0;
}

#steps-list ul li a p {
    text-align: center;
    height: 10px;
    font-size: 10pt;
    margin-top: 15px;
}


#steps-list ul li a.ct-send-button {
    background-color: #FFFFFF;
    color: #0C6B67;
    text-transform: uppercase;
    padding: 8px 20px;
    border-color: #0C6B67;
    border-width: 2px;
}

#steps-list ul li.active a.ct-send-button {
    background-color: #0C6B67;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 8px 20px;
}

.tooltip-inner {
    max-width: 100%;
}
.revision-icons-wrapper {
    text-align: right;
    padding-bottom: 5px;
    padding-top: 5px;
    float: right;
    margin-left: 10px;
}

.modal-dialog {
    width: 95%;
    max-width: 100%; 
}

.ct-sumary-link{
    display: table;
    min-height: 130px;
}

.ct-sumary-link ul{
    vertical-align: middle;
    display: table-cell;
}

span.glyphicon.caret{
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.row-input{
    width: 100%;
    display: table;
}

.row-input > div{
    display: table-cell;
    vertical-align: middle;
}

.input{
    padding: 10px;
}

.field-input{
    width: 80%;
}

.field-input input[type="text"], .field-input input[type="number"], .field-input select{
    margin-bottom: 0;
}

.field-input a:not(.search-modal-button){
    display: block;
}

.field-input input[type="checkbox"]{
    display: block;
    float: left;
}

.field-input label {
    margin-top: 8px;
}

.help-input-text{
    float: right;
    text-align: right;
    padding:5px;
}

.div-unique-background{
    margin-top: 38px;
}

.div-unique-background .no-margin-left {
    height: auto;
}

.div-unique-background .input {
    padding: 0px 10px;
}

div.field-input-filled{
    background-color: #D7D6D5;
    border: 1px solid #000000;
}

.vocabulary_item_wrapper input {
	max-width: 90%;
}

#decs_search_input, #cid10_search_input {
	width: 100%;
	height: 40px;
	margin-left: 15px;
}
#cid10-table table, #cid10-table h2, #decs-table table, #decs-table h2 {
	margin-left: 15px;
}

.tooltip {
    width: 550px!important;
}

.tooltip .tooltip-inner p, .tooltip .tooltip-inner {
    text-align: justify;
}

.row-input.input#file input[type="button"]{
    /*background-color: #000;*/
    background-color: #0C6B67;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 8px 20px;
}

.ct_info{
    margin-bottom: 20px;
}

pre#terms_of_use{
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break:normal;
    text-align: justify;
}

div.input input[type="checkbox"]{
    height: 18px;
}

h1.title_line{
    border-bottom: 2px solid #5D6162;
    padding-bottom: 10px;
}

h1#title_sumary{
    font-size: 12px;
}

h1#title_sumary img{
    width: 25px; 
}

.icon_caret span{
    margin-right: 10px;
    margin-bottom: 3px;
}

.no-margin-left{
    height: 38px;
}

input[id$=clear_id], label[for$=clear_id]{
    display: none !important;
}

.search-modal-button{
    display: block;
}

.modal-header h1{
    margin-left: 0;
}

.table-striped {
    table-layout: fixed;
}

#id_intervention_codes{
    padding: 0px;
    margin: 0px;
}

#recruitment_countries{
    padding-bottom: 10px !important;
}

hr {
    margin-bottom: 10px;
}

.table_sumary td:first-child, .table_sumary td:last-child, .table_sumary td:nth-child(4) {
    text-align: center;
}

.table_sumary th:first-child, .table_sumary th:last-child, .table_sumary th:nth-child(4){
    text-align: center;
}

h2{
    font-family: 'Lato', sans-serif;
}

h2#title_no_bold{
    font-weight: lighter;
}

span.fielct-required {
    font-size: 20px;
    margin-left: 3px;
}

span.fielct-required:before{
    content: "*";
    display: inline-block;
    width: 0;
}

.button, .button:active, .button:hover, .button:focus, .button:visited{
    font-size: 14px;
}

.button_gray, .button_gray:hover, .button_gray:active, .button_gray:focus, .button_gray:visited{
    border-radius: 6px;
}

.tooltip-inner {
    white-space:pre-wrap;
}
