@media print{
    body {
        font: 12pt Helvetica, "Times New Roman", Times, serif;
    }
    h1{
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 24pt;
        text-align: left;
        margin-bottom: 0px;
        page-break-after: avoid;
    }
    .only_print{
        display: block;
    }
    @page{
        margin: 1cm;
    }
    .fields-wrapper, .clinical-trial-detail-value, pre, table.table{
        border:1px solid #000;
        page-break-inside: avoid;
    }
    table{
        border:1px solid #000;
        page-break-inside: avoid;
    }
   
    table tr{
        border:1px solid #000;
    }
    span.glyphicon.caret{
        display: none;
    }
    .form-label{
        margin-left: 0px;
        page-break-after: avoid;
    }
    .blocks_content{
        page-break-after: auto;
    }
    .no-break{
        page-break-inside: avoid;
    }
    .only_print{
        display: block !important;
        margin-bottom: 20px;
    }

}