{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Approve Trial in Group" %} {{ trial.group.name }}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<h1>{% trans "Approve Trial in Group" %} {{ trial.group.name }}</h1>
<hr />
<form action="." method="POST">
    {% csrf_token %}
    <p class="message">{% trans "Confirm this trial in the group" %} {{ trial.group.name }}?</p>
    <input type="submit" value="{% trans 'Yes' %}" name="accept" class="confirm_delete">
    <input type="submit" value="{% trans 'No' %}" name="decline" class="confirm_delete">
</form>
{% endblock administration_content %}
