{% extends "base/base.html" %}
{% load i18n %}
{% block breadcrumbs %}
    <li class="formTab_home">
    <div>
        <a href="{% url 'home' %}">
        <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
    </li>
{% endblock %}
{% block content %}
    {% include "base/menu.html" %}
    <div class="col-md-8 col-sm-8 content-steps" id="content-wrapper">
    {% block steps %}
    {% endblock steps %}
    </div>
    <div class="col-md-8 col-sm-8" id="content-wrapper">
        {% block administration_content %}
        {% endblock administration_content %}
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            </div>
          </div>
        </div>
    </div>

{% include "clinical_trials/modal-field-revision.html" %}
{% include "clinical_trials/modal-field-registrant.html" %}
{% endblock content %}
{% block extrascripts %}
<script type="text/javascript">
{% if reset %}
var tour = '{{ reset }}';
    localStorage.removeItem(tour+'_current_step');
    localStorage.removeItem(tour+'_end');
{% endif %}

var help = {{ tour|safe }};

var tour = new Tour(help);

tour.init();
tour.start();

</script>

{% if user.is_registrant %}
<script type="text/javascript">
$(window).bind('beforeunload', function(e) {
    var show_message = false;
    $('form.form_ct input:not([type="submit"], [type="hidden"]), form.form_ct textarea:not([id*="prefix"])').each(function() {
        if($(this).val().length){
            show_message = true;
        }
    });

    if(show_message){
        var message = '{% trans "Before leave this step save the informations. Are you sure you want to leave this step?" %}';
        e.returnValue = message;
        return message;
    }
});

$('#main-content form').submit(function(){
    $(window).unbind('beforeunload');
})

$('#content-wrapper form').submit(function(){
    $(window).unbind('beforeunload');
})

$('.modal.fade.bs-example-modal-lg').on('show.bs.modal', function(){
    $(window).unbind('beforeunload');
})
</script>
{% endif %}

{% endblock %}
