{% extends 'base/detail_view.html' %}
{% load i18n %}
{% block administration_content %}
<h1>{% trans "Clinical trial" %} {{ object.code }}</h1>
<hr />
    
{% trans "Days since your last interaction with this trial:" %} {{ object.days_last_check }}
{% trans "Please, choose between reopen this trial for edition, or just confirm if it not had any change." %}

<form action="." method="POST">
    {% csrf_token %}
    <br>
    <input class="button" type="submit" name="reopen" value="{% trans "Reopen for Edit" %}">
    <br><br>
    <input class="button" type="submit" name="no_changes" value="{% trans "No changes" %}">
</form>

{% endblock administration_content %}

