{% extends 'base/detail_view.html' %}
{% load i18n %}
{% block administration_content %}
<h1>{% trans "Clinical trial" %} {{ object.code }}</h1>
<hr />
    
{% trans "Days since your last interaction with this trial:" %} {{ object.days_last_check }}

<br/><br/>

{% trans "Currently, this trial situation is " %}<b>{{ object.get_study_status_display|default_if_none:"Blank" }}</b>. {% trans "If that is not the current trial situation, please change the field below and save this information. If it's situation is still the same, just click in the next button." %}



<form action="." method="POST">
    {% csrf_token %}
    <br>
    {{ form }}
    <br><br>
    <div class="row">
      <div class="col-md-4">
          <input class="button" type="submit" name="save" value="{% trans "Save" %}">
      </div>
      <div class="col-md-4">
          <input class="button" type="submit" name="next" value="{% trans "Next" %}">
      </div>
    </div>
</form>



{% endblock administration_content %}

