{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Send" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="SEND" %}
{% endblock steps %}
{% block administration_content %}
<div class="row">
  <div class="col-sm-12 content send-step">
    {% include "clinical_trials/messages_clinical_trials.html" %}
    <h1 class="title_line">
      <span class="glyphicon glyphicon-chevron-right" style="color: #5D6162;border: 1px solid #5D6162;border-radius: 50%;padding: 3px;padding: 3px 9px;"></span>
      {% trans 'Send' %}
    </h1>
    {% if workflow_transition_allowed %}
    {% if workflow_current_state.pk == state_model.STATE_EM_PREENCHIMENTO %}
      <div class="col-sm-3">
        <form method="post" class="change-wk-state-form" action="{% url "clinical_trial_edit_list" object.id %}">
          {% csrf_token %}
          <input type="hidden" name="complete_filling" value="yes"/>
          
          <input type="submit" class="change-wk-state-button" value="{% trans 'Send to evaluation' %}">
        </form>
      </div>
    {% endif %}
    {% if workflow_current_state.pk == state_model.STATE_REVISANDO_PREENCHIMENTO %}
      <div class="col-sm-3">
        <form method="post" class="change-wk-state-form" action="{% url "clinical_trial_edit_list" object.id %}">
          {% csrf_token %}
          <input type="hidden" name="finish_filling_revision" value="yes"/>
          
          <input type="submit" class="change-wk-state-button" value="{% trans 'Sendo to evaluation' %}">
        </form>
      </div>
    {% endif %}
    
    {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO %}
      <div class="col-sm-3">
        <form method="post" class="change-wk-state-form" action="{% url "clinical_trial_edit_list" object.id %}">
          {% csrf_token %}
          <input type="hidden" name="resend_to_revision" value="yes"/>
          
          <input type="submit" class="change-wk-state-button" value="{%  trans 'Resend to Revision' %}">
        </form>
      </div>
    {% endif %}

    {% if workflow_current_state.pk == state_model.STATE_REVISAO_PREENCHIMENTO_RESUBMETIDO %}
      <div class="col-sm-3">
        <form method="post" class="change-wk-state-form" action="{% url "clinical_trial_edit_list" object.id %}">
          {% csrf_token %}
          <input type="hidden" name="finish_filling_revision_resubmited" value="yes"/>
          
          <input type="submit" class="change-wk-state-button" value="{%  trans 'Resend to Revision' %}">
        </form>
      </div>
    {% endif %}
  {% else %}
    <h3 style="text-align:center;">{% trans 'This clinical trial does not have avaiable transitions, see the summary step.' %}</h3>
  {% endif %}
  </div>
  </div>
{% endblock administration_content %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>
{% endblock %}