{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Attatchment" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="2" %}
{% endblock steps %}
{% block administration_content %}
<div class="row">
  <div class="col-sm-12 content">
  {% if attachment_formset.errors or form.errors %}
      {% include "base/correct_errors_below.html" %}
  {% endif %}
  {% include "clinical_trials/messages_clinical_trials.html" %}
  <h1 class="title_line">
    <img src="{% static 'img/2-circle.png' %}"/>
    {% trans 'Attachments' %}
  </h1>
<div class="row">
    <form class="form_ct" method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
    {{ form }}
    {% include "clinical_trials/clinical_trials_generic_formset.html" with current_formset=attachment_formset formset_content_type_id=ctattachment_content_type_id  %}
    {% if form_style == "default" %}
	    <div class="submit-line">
        <input type="submit" value="{% trans 'Save' %}" class="button" />
      </div>
    {% endif %}
    </form>
</div>


<script src="{% static 'js/jquery.formset-without-delete-link.js' %}"></script>
{% if form_style == "default" %}
<script type="text/javascript">
$(function() {
    $('.form-row.inline.{{ attachment_formset.prefix }}').formset({
        prefix: '{{ attachment_formset.prefix }}',
        addText: '{% trans 'Add Another' %}'
    });
});


</script>
{% endif %}

</div>
</div>
{% endblock administration_content %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>
  <script type="text/javascript">
  var ATTACHMENT_TYPES = {{ attachment_types|safe }};
  function check_attachment_type(element) {
    if($(element).val() == "") {
        $(element).parents('div.form-row').find('[id*=file]').parents('.fieldWrapper').hide();
        $(element).parents('div.form-row').find('[id*=link]').parents('.fieldWrapper').hide();
    }
    else {
        if(ATTACHMENT_TYPES[$(element).val()] == 'L') {
            $(element).parents('div.form-row').find('[id*=file]').parents('.fieldWrapper').hide();
            $(element).parents('div.form-row').find('[id*=link]').parents('.fieldWrapper').show();
        }
        else {
            $(element).parents('div.form-row').find('[id*=link]').parents('.fieldWrapper').hide();
            $(element).parents('div.form-row').find('[id*=file]').parents('.fieldWrapper').show();
        }
    }
  }
  $('body').delegate('select[id*=-attachment]', 'change', function(){
    check_attachment_type(this);    
  });

  $('select[id*=-attachment]').each(function(){
    check_attachment_type(this);    
  });

  </script>
{% endblock %}