{% extends "administration/base_administration.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{{ block.super }}
{% if must_show_ct_edit_breadcrumb_link %}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
{% endif %}
<li class="formTab">
    <div class="selected">
        {% trans "Clinical trial Detail" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

{% if not html_snapshot %}

    <h1 class="main-title">{% trans 'Registered Clinical Trials' %}</h1>
    {% if has_date_finished %}
        <h3 class="green-text">{% trans 'Study Finished' %}</h3>
    {% endif %}
    <div class="buttons_center">
    {% if workflow_transition_allowed %}
        {% if workflow_current_state.pk == state_model.STATE_AGUARDANDO_AVALIACAO and user.is_evaluator %}
          <form method="post" action="{% url 'clinical_trial_edit_list' object.pk %}">
            {% csrf_token %}
            <input type="hidden" name="start_evaluation" value="yes"/>
            <input type="submit" class="change-wk-state-button no-print" value="{%  trans 'Start Evaluation' %}" />
          </form>
        {% endif %}
        {% if workflow_current_state.pk == state_model.STATE_AGUARDANDO_REVISAO and user.is_reviser %}
          <form method="post" action="{% url 'clinical_trial_edit_list' object.pk %}">
            {% csrf_token %}
            <input type="hidden" name="start_revision" value="yes"/>
            
            <input type="submit" class="change-wk-state-button no-print" value="{%  trans 'Start Revision' %}" />
          </form>
        {% endif %}
        {% if workflow_current_state.pk == state_model.STATE_PUBLICADO and object.user == user %}
          <form method="post" action="{% url 'clinical_trial_edit_list' object.pk %}">
            {% csrf_token %}
            <input type="hidden" name="reopen_for_filling" value="yes"/>
            
            <input type="submit" class="change-wk-state-button no-print" value="{%  trans 'Reopen for filling' %}" />
          </form>
        {% endif %}
    <button id="print_button" class="change-wk-state-button" onclick="printDiv('printArea')">{% trans 'Print Report' %}</button>
    {% endif %}
    </div>

    {% if user.is_authenticated and can_view_history %}
    <h4 style="margin-left: 15px;">
    <img src="{% static 'img/update-history-icon.png' %}">
    <a href="{% url 'clinicaltrial_history' object.pk %}">{% trans 'Clinical trial history' %}</a>
    </h4>
    {% endif %}
    <div id="printArea">
        <div class="only_print"><img src="{% static 'img/rebec_logo.png' %}"></div>
        <div class="blocks_content">
            <h1>{% trans 'Primary Id Number' %}: {{ object.code|default_if_none:"--------" }}</h1>

            <p class="ct_info">{{ object.current_ctdetail.public_title|default_if_none:"" }}</p>
            <p class="ct_info">{% trans 'Registration Date' %}: <span style="color:#324BA4">{{ object.date_last_publication|date:"DATE_FORMAT" }}</span></p>

            <p class="ct_info">{% trans 'Last Update' %}: <span style="color:#324BA4">{{ object.date_last_change|date:"DATE_FORMAT" }}</span></p>

            {% if publications_dates %}
                <p style="font-size: 21px;">{% trans 'Publication Dates' %}</p>
                <ul>
                {% for i in publications_dates %}
                    <li>
                      <a href="{% url 'clinicaltrial_snapshot_view' i.pk %}">{{ i.update_date }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="blocks_content">
            <h1>{% trans 'Study Status' %}:</h1>
            <p>{{ object.get_study_status_display|default_if_none:"" }}</p>

            <h1>{% trans 'Study Type' %}:</h1>
            <p>{{ object.get_study_type_display|default_if_none:"" }}</p>

            {% if object.study_type != 'I' %}
                <h1>{% trans 'Observational Study Fields' %}:</h1>
                <p>{% trans 'Follow-Up Period' %}: {{ object.get_followup_period_display|default_if_none:"" }}</p>
                <p>{% trans 'Reference Period' %}: {{ object.get_reference_period_display|default_if_none:"" }}</p>
            	<p>{% trans 'Observational Study Design' %}: {{ object.observational_study_design|default_if_none:"" }}</p>
            {% endif %}

        </div>
        <div class="blocks_content">
            <div class="no-break">
            <p class="form-label"><label>{% trans 'Scientific Title' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in ctdetails %}
                    <p>
                        {{ i.language_code }}
                    </p>
                    <div class="row">
                        <div class="col-sm-12 clinical-trial-detail-value">
                            {{ i.scientific_title|default_if_none:"" }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
            
            <div class="no-break">
            <h1 class="form-label">{% trans 'Trial Identification' %}</h1>
            {% for i in object.identifier_set.all %}
                {% if i.setup_identifier.name == 'OUTROS' %}
                  <p class="form-label" style="font-size: 18px; margin-bottom:10px;">{{ i.description }}: <span style="color:#324BA4">{{ i.code }}</span></p>
                {% else %}
                  <p class="form-label" style="font-size: 18px; margin-bottom:10px;">{{ i.setup_identifier.issuing_body }}: <span style="color:#324BA4">{{ i.code }}</span></p>
                {% endif %}
            {% endfor %}
            <div class="only_print page-break"></div>
            <p class="form-label"><label>{% trans 'Public Title' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in ctdetails %}
                    <p>
                        {{ i.language_code }}
                    </p>
                    <div class="row">
                        <div class="col-sm-12 clinical-trial-detail-value">
                            {{ i.public_title|default_if_none:"" }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>

            <div class="no-break">
            <p class="form-label"><label>{% trans 'Public Acronym' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in ctdetails %}
                    <p>
                        {{ i.language_code }}
                    </p>
                    <div class="row">
                        <div class="col-sm-12 clinical-trial-detail-value">
                            {{ i.acronym|default_if_none:"" }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>

            <div class="no-break">
            <p class="form-label"><label>{% trans 'Study Description' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in ctdetails %}
                    <p>
                        {{ i.language_code }}
                    </p>
                    <div class="row">
                        <div class="col-sm-12 clinical-trial-detail-value">
                            {{ i.study_description|default_if_none:"" }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>

        <div class="blocks_content">
            <h1>{% trans 'Sponsors' %}</h1>

            <div class="sponsors">
                {% for i in object.sponsor_set.all %}
                    {% if i.sponsor_type == 'P' %}
                        <p style="font-size:15px;font-weight:bold;">{% trans 'Primary Sponsor' %}:</p> <p style="font-size:15px;">{{ i.institution }}</p>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="sponsors">
                <p style="font-size:15px;font-weight:bold;">{% trans 'Secondary Sponsors' %}:</p>
                {% for i in object.sponsor_set.all %}
                    {% if i.sponsor_type == 'S' %}
                        <p style="font-size:15px;">{{ i.institution }}</p>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="sponsors">
                <p style="font-size:15px;font-weight:bold;">{% trans 'Source(s) of Monetary or Material Support' %}:</p>
                {% for i in object.sponsor_set.all %}
                    {% if i.sponsor_type == 'U' %}
                        <p style="font-size:15px;">{{ i.support_source }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="blocks_content">
            <h1>{% trans 'Health Conditions' %}</h1>
            <div class="no-break">
            <p class="form-label"><label>{% trans 'Health Condition(s) or Problem(s)' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in ctdetails %}
                    <p>
                        {{ i.language_code }}
                    </p>
                    <div class="row">
                        <div class="col-sm-12 clinical-trial-detail-value">
                            {{ i.health_condition|default_if_none:"" }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>

            <div class="no-break">
            <p class="form-label"><label>{% trans 'General Descriptors for Health Condition(s)' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in object.descriptor_set.all %}
                    {% if i.descriptor_type == 'G' %}
                        <div class="row">
                            <div class="col-sm-12 clinical-trial-detail-value">
                                {% for lang in i.get_vocabulary_item_in_current_ct_languages %}
                                    <p><b>{{ lang.language }}</b></p>
                                    <p>{{ lang.text }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            </div>

            <div class="no-break">
            <p class="form-label"><label>{% trans 'Specific Descriptors for Health Condition(s)' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in object.descriptor_set.all %}
                    {% if i.descriptor_type == 'S' %}
                        <div class="row">
                            <div class="col-sm-12 clinical-trial-detail-value">
                                {% for lang in i.get_vocabulary_item_in_current_ct_languages %}
                                    <p><b>{{ lang.language }}</b></p>
                                    <p>{{ lang.text }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        </div>
        <div class="blocks_content">
        

            {% if object.study_type == 'I' %}
                <h1>{% trans 'Interventions' %}</h1>

                <p class="form-label"><label>{% trans 'Intervention Code(s)' %}:</label></p>
                <ul>
                    {% for i in object.intervention_codes.all %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>

                <div class="no-break">
                    <p class="form-label"><label>{% trans 'Interventions' %}:</label></p>
                    <div class="fields-wrapper">
                        {% for i in object.interventions.all %}
                            <div class="row">
                                <div class="col-sm-12 clinical-trial-detail-value">
                                    {{ i.description|default_if_none:"" }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% else %}
                <div class="no-break">
                    <h1 class="form-label"><label>{% trans 'Observations' %}:</label></h1>
                    <div class="fields-wrapper">
                        {% for i in object.intervention_observations.all %}
                            <div class="row">
                                <div class="col-sm-12 clinical-trial-detail-value">
                                    {{ i.description|default_if_none:"" }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


            <div class="no-break">
            <p class="form-label"><label>{% trans 'Descriptor for Intervention' %}:</label></p>
                {% for i in object.descriptor_set.all %}
                    {% if i.descriptor_type == 'I' %}
                        <div class="fields-wrapper">
                            {% if i.vocabulary_item.get_language_code_1 %}
                                <p>
                                    {{ i.vocabulary_item.get_language_code_1 }}
                                </p>
                                <div class="row">
                                    <div class="col-sm-12 clinical-trial-detail-value">
                                        {{ i.vocabulary_item.description_lang_1 }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if i.vocabulary_item.get_language_code_2 %}
                                <p>
                                    {{ i.vocabulary_item.get_language_code_2 }}
                                </p>
                                <div class="row">
                                    <div class="col-sm-12 clinical-trial-detail-value">
                                        {{ i.vocabulary_item.description_lang_2 }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if i.vocabulary_item.get_language_code_3 %}
                                <p>
                                    {{ i.vocabulary_item.get_language_code_3 }}
                                </p>
                                <div class="row">
                                    <div class="col-sm-12 clinical-trial-detail-value">
                                        {{ i.vocabulary_item.description_lang_3 }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>    
                    {% endif %}
                {% empty %}
                    <div class="fields-wrapper">
                        <div class="col-sm-12 clinical-trial-detail-value">
                            {% trans 'Empty' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="blocks_content">
            <h1>{% trans 'Recruitment' %}</h1>

            <div class="no-break">
            <label>{% trans 'Recruitment Status' %}: {% if object.get_recruitment_status.0 %}<span style="color:#319B5A">{% else %}<span style="color:#FF1C27">{% endif %}{{ object.get_recruitment_status.1 }}</span></label>

            <div class="fields-wrapper">
                <div class="row">
                    <div class="col-sm-12 clinical-trial-detail-value">
                        <ul>
                            {% for i in object.recruitment_countries.all %}
                                <li>{{ i }}</li>   
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <p>{% trans 'Planned Date of First Enrollment' %}: <span style="color:#324BA4">{{ object.date_first_enrollment|default_if_none:"" }}</span></p> 
            <p>{% trans 'Planned Date of Last Enrollment' %}: <span style="color:#324BA4">{{ object.date_last_enrollment|default_if_none:"" }}</span></p>
            </div>

            <table class="table_list">
                <thead>
                <tr class="table_title">
                    <th>{% trans 'Target Sample Size' %}:</th>
                    <th>{% trans 'Gender (inclusion sex)' %}:</th>
                    <th>{% trans 'Inclusion Minimum Age' %}:</th>
                    <th>{% trans 'Inclusion Maximum Age' %}:</th>
                </tr>
                </thead>
                <tbody>
                    
                    <tr class="table_style">
                        <td>{{ object.world_target_size }}</td>
                        <td>{{ object.get_gender_display|default_if_none:"" }}</td>
                        <td>
                            {% if object.minimum_age_no_limit %}
                                {% trans 'No Limit' %}
                            {% else %}
                                {{ object.inclusion_minimum_age }} {{ object.get_minimum_age_unit_display|default_if_none:"" }}</td>
                            {% endif %}
                        </td>
                        <td>
                            {% if object.maximum_age_no_limit %}
                                {% trans 'No Limit' %}
                            {% else %}
                                {{ object.inclusion_maximum_age }} {{ object.get_maximum_age_unit_display|default_if_none:"" }}
                            {% endif %}
                        </td>

                    </tr>
                    
                </tbody>
            </table>

            <div class="no-break">
            <p class="form-label"><label>{% trans 'Inclusion Criteria' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in ctdetails %}
                    <p>
                        {{ i.language_code }}
                    </p>
                    <div class="row">
                        <div class="col-sm-12 clinical-trial-detail-value">
                            {{ i.inclusion_criteria }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>

            <div class="no-break">
            <p class="form-label"><label>{% trans 'Exclusion Criteria' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in ctdetails %}
                    <p>
                        {{ i.language_code }}
                    </p>
                    <div class="row">
                        <div class="col-sm-12 clinical-trial-detail-value">
                            {{ i.exclusion_criteria|default_if_none:"" }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

        <div class="blocks_content">
            <div class="no-break">
            <h1>{% trans 'Study Design' %}</h1>
            <p class="form-label"><label>{% trans 'Study design' %}:</label></p>
                <div class="fields-wrapper">
                    <div class="row">
                        <div class="col-sm-12 clinical-trial-detail-value">
                            {% trans 'Expanded access program' %}: {{ object.get_expanded_access_program_display|default_if_none:"" }}; {% trans 'Study Purpose' %}: {{ object.study_purpose|default_if_none:"" }}; {% trans 'Intervention Assignment' %}: {{ object.intervention_assignment|default_if_none:"" }}; {% trans 'Number of arms' %}: {{ object.number_arms|default_if_none:"" }}; {% trans 'Masking type' %}: {{ object.masking_type|default_if_none:"" }}; {% trans 'Allocation type' %}: {{ object.allocation_type|default_if_none:"" }}; {% trans 'Study Phase' %}: {{ object.study_phase|default_if_none:"" }}.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blocks_content">
            <h1>{% trans 'Outcomes' %}</h1>

            <div class="no-break">
            <p class="form-label"><label>{% trans 'Primary Outcomes' %}:</label></p>
            <div class="fields-wrapper">
                {% for i in object.outcome_set.all %}
                    {% if i.outcome_type == 'P' %}
                        <p>
                            {{ i.name }}
                        </p>
                        <div class="row">
                            <div class="col-sm-12 clinical-trial-detail-value">
                                {{ i.found_outcome }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

            <div class="no-break">
            <p class="form-label"><label>{% trans 'Secondary Outcomes' %}:</label></p>

                {% for i in object.outcome_set.all %}
                    {% if i.outcome_type == 'S' %}
                    <div class="fields-wrapper">
                        <p>
                            {{ i.name }}
                        </p>
                        <div class="row">
                            <div class="col-sm-12 clinical-trial-detail-value">
                                {{ i.found_outcome }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="blocks_content">
            <div class="no-break">
            <h1 id="contacts">{% trans 'Contacts' %}</h1>

            {# This loops below must stay on this format, because they are inside a <pre> tag #}
            <pre>
            {% trans 'Contacts for Public Queries' %}{% for i in object.ctcontact_set.all %}{% if i.contact_type == 'P' %}

                    {% trans 'Full Name' %}: {{ i.contact.first_name }}{% if i.contact.middle_name %} {{ i.contact.middle_name }}{% endif %}{% if i.contact.last_name %} {{ i.contact.last_name }}{% endif %}
                    {% trans 'Address' %}: {{ i.contact.address }}
                    {% trans 'City' %}: {{ i.contact.city }} - {{ i.contact.state }}/{{ i.contact.country }}
                    {% trans 'Zip Code' %}: {{ i.contact.postal_code }}
                    {% trans 'Telephone' %}: {{ i.contact.phone }}
                    {% trans 'E-mail' %}: {{ i.contact.email }}
                    {% trans 'Affiliation' %}: {{ i.contact.institution }}{% endif %}{% endfor %}
                
            {% trans 'Contacts for Scientific Queries' %}{% for i in object.ctcontact_set.all %}{% if i.contact_type == 'S' %}

                    {% trans 'Full Name' %}: {{ i.contact.first_name }}{% if i.contact.middle_name %} {{ i.contact.middle_name }}{% endif %}{% if i.contact.last_name %} {{ i.contact.last_name }}{% endif %}
                    {% trans 'Address' %}: {{ i.contact.address }}
                    {% trans 'City' %}: {{ i.contact.city }} - {{ i.contact.state }}/{{ i.contact.country }}
                    {% trans 'Zip Code' %}: {{ i.contact.postal_code }}
                    {% trans 'Telephone' %}: {{ i.contact.phone }}
                    {% trans 'E-mail' %}: {{ i.contact.email }}
                    {% trans 'Affiliation' %}: {{ i.contact.institution }}{% endif %}{% endfor %}

            {% trans 'Contact(s) for Site Queries' %}{% for i in object.ctcontact_set.all %}{% if i.contact_type == 'W' %}

                    {% trans 'Full Name' %}: {{ i.contact.first_name }}{% if i.contact.middle_name %} {{ i.contact.middle_name }}{% endif %}{% if i.contact.last_name %} {{ i.contact.last_name }}{% endif %}
                    {% trans 'Address' %}: {{ i.contact.address }}
                    {% trans 'City' %}: {{ i.contact.city }} - {{ i.contact.state }}/{{ i.contact.country }}
                    {% trans 'Zip Code' %}: {{ i.contact.postal_code }}
                    {% trans 'Telephone' %}: {{ i.contact.phone }}
                    {% trans 'E-mail' %}: {{ i.contact.email }}
                    {% trans 'Affiliation' %}: {{ i.contact.institution }}{% endif %}{% endfor %}
            </pre>
            </div>
        </div>

        <div class="blocks_content">
            <h1>{% trans 'Attachments' %}</h1>
            {% for i in object.ctattachment_set.all %}
                {% if i.public %}
                    {% if i.file %}
                        <a target="_blank" href="{{ i.file.url }}">{{ i.description }}</a>
                    {% elif i.link %}
                        <a target="_blank" href="{{ i.link }}">{{ i.description }}</a>
                    {% endif %}
                {% else %}
                    {{ i.attachment.name }}
                {% endif %}
                <br/>
            {% endfor %}
        </div>
        <div class="blocks_content">
            <h1 class="no-print">{% trans 'Additional Links' %}:</h1>

            {% if object.code %}
                <a href="{% url 'clinical_trial_download' object.code %}" class="no-print">
                    <p>{% trans 'Download as XML' %}</p>
                </a>
            {% endif %}
        </div>
    </div>
{% else %}
  {% trans "This is a snapshot from" %} {{ snapshot_date|date:"DATE_FORMAT" }}
  {{ html_snapshot|safe }}
{% endif %}
{% endblock administration_content %}

{% block extrastyle %}
    <link href="{% static 'css/print_detail_ct.css' %}" rel="stylesheet" type="text/css"  media="print, handheld" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials_detail.css' %}" />

{% endblock %}

{{ block.super }}
{% block extrascripts %}

    <script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>
    <script type="text/javascript">

        function printDiv(divName) {
             var printContents = document.getElementById(divName).innerHTML;
             var originalContents = document.body.innerHTML;

             document.body.innerHTML = printContents;

             window.print();

             document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}
