{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Clinical Trials" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
    <h1>{% trans "Clinical trials without current holder" %}</h1>
    <hr />
    
    <form action="." method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_field_errors }}
        <table class="table table-bordered table_list">
            <thead>
                <tr class="table_title">
                    <th>{% trans 'Clinical Trial' %}</th>
                    <th>{% trans 'Holder' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr class="table_style">
                        <td>{{ form.id }}<a target="_blank" href="{% url 'clinical_trial_detail' form.instance.id %}">{{ form.instance }}</a></td>
                        <td>{{ form.holder.errors }}{{ form.holder }}</td>
                    </tr>
                {% empty %}
                    <tr class="table_style">
                        <td colspan="2">{% trans 'No clinical trials without holder' %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="{% trans 'Save' %}" class=" button btn btn-success">
    </form>

    <div class="pagination">
        <span class="step-links">
            {% if current_page.has_previous %}
                <form action="." method="get">
                    {% if search_form.user.value %}
                        <input type="hidden" name="user" value="{{ search_form.user.value }}">
                    {% endif %}
                    {% if search_form.group.value %}
                        <input type="hidden" name="group" value="{{ search_form.group.value }}">
                    {% endif %}
                    <input type="hidden" name="page" value="{{ current_page.previous_page_number }}">
                    <input type="submit" class="btn btn-info" value="{% trans 'Previous' %}">
                </form>
            {% endif %}
            {% if current_page.number == 1 and current_page.paginator.num_pages == 1 %}
            {% else %}
                <span class="current">
                    {% trans 'Page' %} {{ current_page.number }} {% trans 'of' %} {{ current_page.paginator.num_pages }}
                </span>
            {% endif %}

            {% if current_page.has_next %}
                <form action="." method="get">
                    {% if search_form.user.value %}
                        <input type="hidden" name="user" value="{{ search_form.user.value }}">
                    {% endif %}
                    {% if search_form.group.value %}
                        <input type="hidden" name="group" value="{{ search_form.group.value }}">
                    {% endif %}
                    <input type="hidden" name="page" value="{{ current_page.next_page_number }}">
                    <input type="submit" class="btn btn-info" value="{% trans 'Next' %}">
                </form>
            {% endif %}
        </span>
    </div>

{% endblock administration_content %}

{% block extrascripts %}
<script type="text/javascript">
  function get_url_parameters (term, page, context) {
      var field_id = jQuery(this).data('field_id'),
        res = {
          'term': term,
          'page': page,
          'context': context,
          'group_id': $(this).parent().next().find('[id*=group][type=hidden]').val()
        };
      if (field_id) {
        res['field_id'] = field_id;
      }
      return res;
    }
</script>
{% endblock %}