{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n ct_tags %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Identification" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="1" %}
{% endblock steps %}
{% block administration_content %}
<div class="row">
	<div class="col-sm-12 content">
        {% if identifications_formset.errors or identifiers_formset.errors or form.errors %}
            {% include "base/correct_errors_below.html" %}
        {% endif %}
		{% include "clinical_trials/messages_clinical_trials.html" %}
		<form method="POST" action="." class="form_ct">
			<h1 class="title_line">
				<img src="{% static 'img/1-circle.png' %}"/>
				<span>{% trans 'Identification' %}</span>
			</h1>
                
                

                {% include "clinical_trials/clinical_trials_identification_ctdetail_formset.html" with current_formset=identifications_formset %}
                <div class="help-input-text" style="margin-top:14px">
                    <span class="field-help" data-toggle="tooltip"  data-html="true" data-placement="left" title="<p>Os identificadores secundários são fundamentalmente os números de registro junto aos Comitês de Ética em Pesquisa (CEP), Sistema Nacional de Ética em Pesquisa (SISNEP), Plataforma Brasil (PB) e número do registro do estudo em outros registros de ensaios clínicos (p.ex. clinicaltrials.gov, ANZCTR etc.)</p>">{% trans "Help" %}<img src="{% static 'img/interrog.png' %}"/></span>
                </div>
                <h2 class="subtitle-formset">{% trans 'Identifying Numbers' %}</h2>
                {% include "clinical_trials/clinical_trials_generic_formset.html" with current_formset=identifiers_formset formset_content_type_id=identifier_content_type_id %}


            {% if form_style == "default" %}			 
                <div class="submit-line">
                    <input type="submit" value="{% trans 'Save' %}" class="button" />
                </div>
            {% endif %}

        <div class="modal fade" id="modal-confirm-study-type-change">
          <div class="modal-dialog modal-sm" style="max-width: 65%;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans "Confirm the change of study type" %}</h4>
              </div>
              <div class="modal-body">
                <p>
                {% blocktrans %}
                    You are changing this trial's study type. All your information in the step 5
                    will be erased.

                    Are you sure?
                {% endblocktrans %}
                </p>
              </div>
              <div class="modal-footer">
                <input type="submit" name="accept_modal" value="{% trans 'Ok and Change' %}" class="button" style="margin-bottom:0;" />
                <button type="button" class="button" data-dismiss="modal" style="margin-bottom:0;">{% trans "Close" %}</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </form>


        <script src="{% static 'js/jquery.formset-without-delete-link.js' %}"></script>
    </div>

    

    <script type="text/javascript">
        $(function() {
            $('.form-row.inline.{{ identifiers_formset.prefix }}').formset({
                prefix: '{{ identifiers_formset.prefix }}',
                addText: "{% trans 'Add Another' %}"
            });
        })
    </script>
    <script type="text/javascript">
    var IDENTIFIERS_HELP_TEXT = {{ identifiers_help_text|safe }};
    function change_help(element, language_object, attribute){
        if(language_object && language_object[attribute]){
            $(element).parent().parent().parent().find('.field-help')
            .attr('title', language_object[attribute])
            .attr('title', language_object[attribute]).tooltip('fixTitle');
        }
        else {
            $(element).parent().parent().parent().find('.field-help')
            .attr('title', '').tooltip('fixTitle');
        }
    }

    $(document).ready(function(){

        $('input[type=hidden][name*=-setup_identifier], select[name*=-setup_identifier]').each(function(index, element){
            var language_object = IDENTIFIERS_HELP_TEXT[$(element).val()];
            change_help(element, language_object, 'identifier');
            var code_field = $(element).parents('.form-row').find('input[id*=-code]:eq(0)');
            change_help(code_field, language_object, 'code');
            var description_field = $(element).parents('.form-row').find('input[id*=-description]:eq(0)');
            change_help(description_field, language_object, 'description');
            var date_field = $(element).parents('.form-row').find('input[id*=-date]:eq(0)');
            change_help(date_field, language_object, 'date');
        });


        $(document).delegate('select[name*=-setup_identifier]', 'change', function(the_event){
            var element = the_event.target;
            var language_object = IDENTIFIERS_HELP_TEXT[$(element).val()];
            change_help(element, language_object, 'identifier');
            var code_field = $(element).parents('.form-row').find('input[id*=-code]:eq(0)');
            change_help(code_field, language_object, 'code');
            var description_field = $(element).parents('.form-row').find('input[id*=-description]:eq(0)');
            change_help(description_field, language_object, 'description');
            var date_field = $(element).parents('.form-row').find('input[id*=-date]:eq(0)');
            change_help(date_field, language_object, 'date');
        });

    });
    </script>


    </div>
</div>

{% endblock administration_content %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
{{ block.super }}

    <script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>

    {# verificatin to show the accept modal #}
    {% if form.errors.accept_modal == 'show' %}
        <script type="text/javascript">
            $('#modal-confirm-study-type-change').modal();
        </script>
    {% endif %}
{% endblock %}
