{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n ct_tags %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Contacts" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="9" %}
{% endblock steps %}
{% block administration_content %}
<div class="row">
  <div class="col-sm-12 content">
  {% if contacts_formset.errors or form.errors %}
      {% include "base/correct_errors_below.html" %}
  {% endif %}
  {% include "clinical_trials/messages_clinical_trials.html" %}
    
    <div class="help-input-text" style="margin-top: 20px;">
      <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title='<p>O registrante deverá preencher os 03 campos de CONTATOS (contatos para questões públicas, contatos para questões científicas, contatos para informações sobre os centros de pesquisa). Pode-se usar um mesmo contato para os 03 casos (a mesma pessoa ou entidade pode ser a fonte para uma ou todos os tipos de informação), bastando para isso selecioná-lo na janela "dropdown". Caso o contato ainda não exista (como é o caso dos primeiros cadastros/registros realizados), o registrante deve criar um novo contato, clicando no link "Criar novo contato", preencher o formulário corretamente/completamente, e, após “salvar novo contato”, selecioná-lo na janela "dropdown" para o campo de CONTATOS desejado.

Fique atento para que seja informada como contato a pessoa ou entidade que realmente esteja apta a prestar informações sobre o tópico informado (questões públicas, questões científicas, centros de pesquisa). No caso da existência de uma central de atendimento (SAC, call center etc.) que efetivamente possa fornecer as informações, ela poderá ser informada, desde que com os dados completos de endereço, e-mail, telefone (0800) etc. Chamamos especial atenção para: (a) código postal deverá ser preenchido de acordo com o país do endereço, no caso do brasil usar: xx.xxx-xxx; (b) o telefone deverá usar o formato internacional (+55(xx)xxxxx-xxxx), ou seja, o número deverá ser precedido pelo código do país (Brasil = +55) e pelo código da cidade (Rio é 21, São Paulo é 11 etc.); (c) como em todos os campos, as siglas deverão também ser informadas por extenso.</p>'>{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
    </div>
  
  <h1 class="title_line">
    <img src="{% static 'img/9-circle.png' %}"/>
    {% trans 'Contacts' %}
  </h1>

<div class="row">
    <form class="form_ct" method="POST" action=".">
        {% csrf_token %}
        {{ form }}
    {{ contacts_formset.management_form }}
{% for child_form in contacts_formset %}
{% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
  <div class="form-row inline {{ contacts_formset.prefix }}">
    {% for field in child_form %}
        {% if not field.is_hidden %}
          {% if form_style == "default" or form_style == "observations" and not field.name == 'DELETE' %}
            <div class="fieldWrapper">
              <div class="row-input label-line">
                <div class="no-margin-left">
                  {{ field.label_tag }} {% if field.field.required %}<span class="fielct-required "></span>{% endif %}
                </div>
                <div class="help-input-text">
                  {% if field.help_text %}
                  <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
                  {% endif %}
                </div>
              
                {% if child_form.instance.pk %}
                  <div class="revision-icons-wrapper">
                  {% if object.get_workflow_state.pk != 1 %}
                      {% if form_style == "observations" %}
                        <a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk contacts_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
                          {% count_observations object.pk contacts_formset.content_type_id child_form.instance.pk field.name %}
                          {% if count_observations_result > 0 %}
                            {% trans "observation" %}
                            <img src="{% static 'img/view-pending-observations-icon.png' %}">
                          {% else %}
                            {% trans "observation" %}
                            <img src="{% static 'img/edit-observation-icon.png' %}">
                          {% endif %}
                        </a>
                      {% else %}
                        {% if not field.name == 'DELETE' %}
                          <a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk contacts_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
                            {% trans "observation" %}
                            {% count_observations object.pk contacts_formset.content_type_id child_form.instance.pk field.name %}
                            {% if count_observations_result > 0 %}
                              <img src="{% static 'img/view-pending-observations-icon.png' %}">
                            {% else %}
                              <img src="{% static 'img/edit-observation-iconpng' %}">
                            {% endif %}
                          </a>
                        {% endif %}
                      {% endif %}
                  {% endif %}
                  </div>
                {% endif %}
                </div>
                
              
                <div class="row-input input{% if field.name == 'contact' and form_style == 'observations' %} contact-field-wrapper{% endif %}  ">
                  <div class="field-input {% if field.name == 'contact' %} contact-field{% endif %}{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}">
                    {{ field }}
                    {% if field.name == 'contact' and form_style == 'observations' %}
                    {% trans 'Full Name' %}: {{ child_form.instance.contact.first_name }}{% if child_form.instance.contact.middle_name %} {{ child_form.instance.contact.middle_name }}{% endif %}{% if child_form.instance.contact.last_name %} {{ child_form.instance.contact.last_name }}{% endif %}
                    <br>
                      {% trans 'Address' %}: {{ child_form.instance.contact.address }}
                      <br>
                      {% trans 'City' %}: {{ child_form.instance.contact.city }} - {{ child_form.instance.contact.state }}/{{ child_form.instance.contact.country }}
                      <br>
                      {% trans 'Zip Code' %}: {{ child_form.instance.contact.postal_code }}
                      <br>
                      {% trans 'Telephone' %}: {{ child_form.instance.contact.phone }}
                      <br>
                      {% trans 'E-mail' %}: {{ child_form.instance.contact.email }}
                      <br>
                      {% trans 'Affiliation' %}: {{ child_form.instance.contact.institution }}
                      {% endif %}
                    {% if field.name == 'contact' %}
                        <a class="new-contact-button" style="display:none;" href="{% url 'clinical_trial_add_contact' object.pk 'P' %}">{% trans 'New Contact' %}</a>
                      {% if child_form.instance.pk  and form_style == 'default' %}
                        <a class="edit-contact-button" href="{% url 'contact_manage_edit' child_form.instance.contact.pk %}?back_url={{ request.path }}">{% trans 'Edit this Contact' %}</a>
                      {% endif %}
                    {% endif %}
                    </div>
                  <div class="text-center">
                  {% if form_style == 'default' %}
                    {% if field.errors %}
                      <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
                    {% elif child_form.non_field_errors and field.name == 'contact_type' %}
                      <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ child_form.non_field_errors.0 }}"/>
                    {% elif field.value %}
                      <img src="{% static 'img/field-ok.png' %}"/>
                    {% endif %}
                  {% endif %}
                </div>
                            
                </div>
            </div>
          {% endif %}
        {% else %}
          {{ field }}
        {% endif %}
    {% endfor %}
  {% endif %}
    
    </div>
  {% endfor %}
<div class="form-row inline {{ contacts_formset.prefix }} empty-form" style="display:none;">
    {% for field in contacts_formset.empty_form %}
      {% if not field.is_hidden %}
        <div class="fieldWrapper">
          {{ field.label_tag }} {% if field.field.required %}<span class="fielct-required"></span>{% endif %}
             <div class="help-input-text">
              {% if field.help_text %}
                <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
              {% endif %}
              </div>
            <div class="row-input input  ">
              <div class="field-input">
                {{ field }}
                {% if field.name == 'contact' %}
                    <a class="new-contact-button" style="display:none;" href="{% url 'clinical_trial_add_contact' object.pk 'P' %}">{% trans 'New Contact' %}</a>
                {% endif %}
                </div>          
            </div>
        </div>
      {% else %}
        {{ field }}
      {% endif %}
          {% endfor %}
    
    </div>

      {% if form_style == "default" %}
  	    <div class="submit-line">
          <input type="submit" value="{% trans 'Save' %}" class="button" />
        </div>
      {% endif %}
    </form>
</div>


<script src="{% static 'js/jquery.formset-without-delete-link.js' %}"></script>
<script type="text/javascript">
  function get_url_parameters (term, page, context) {
    var field_id = jQuery(this).data('field_id'),
      res = {
        'term': term,
        'page': page,
        'context': context,
        'clinical_trial_id': "{{ object.pk }}"
      };
    if (field_id) {
      res['field_id'] = field_id;
    }
    return res;
}
</script>
{% if form_style == "default" %}
<script type="text/javascript">
$(function() {
    $('.form-row.inline.{{ contacts_formset.prefix }}').formset({
        prefix: '{{ contacts_formset.prefix }}',
        addText: '{% trans 'Add Another' %}'
    });
});

var BASE_INSTITUTION_ADD_URL = "{% url 'clinical_trial_add_contact' object.pk 'P' %}";
BASE_INSTITUTION_ADD_URL = BASE_INSTITUTION_ADD_URL.replace('/P', '/##type##');
$('.new-contact-button').each(function(index, element) {
  $(element).attr('href', BASE_INSTITUTION_ADD_URL.replace('##type##', $(element).parents('.form-row').find('select[id*="-contact_type"]').val()));
});
$(document).delegate('select[id*="-contact_type"]', 'change', function() {
  var type = $(this).val();
  $(this).parents('.form-row').find('.new-contact-button').attr('href', BASE_INSTITUTION_ADD_URL.replace('##type##', type));;
});

function hide_show_new_contact_button(contact_type_field) {
  if($(contact_type_field).val() != "" && $(contact_type_field).parents('.form-row').find('[id*=-contact]:not([id*=-contact_type])').val() == "") {
        $(contact_type_field).parents('.form-row').find('.new-contact-button').show();
    }
    else {
        $(contact_type_field).parents('.form-row').find('.new-contact-button').hide();
    }
}
$(document).delegate('[id*=-contact]:not([id*=-contact_type])', 'change', function(){
    if($(this).val() != ""){
      $(this).nextAll('.edit-contact-button').show();
    }
    else {
      $(this).nextAll('.edit-contact-button').hide();
    }
    hide_show_new_contact_button($(this).parents('.form-row').find('[id*=-contact_type]'));
});
$(document).delegate('[id*=-contact_type]', 'change', function(){
    hide_show_new_contact_button(this);
});
$('[id*=-contact_type]').each(function(){
  hide_show_new_contact_button(this);
});

$(document).delegate('a.new-contact-button', 'click', function() {
    $(window).unbind('beforeunload');
    var r = confirm('{% trans "You are leaving this screen to create a new contact, any data on this step that is not saved will be lost. Continue?" %}');
    if (r == true) {
        windoe.study_location = $(this).attr('href');
    }
    return false;
});

</script>
<style type="text/css">
  div.contact-field select {
    width: 60%;
  }
</style>
{% endif %}

</div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock administration_content %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
{{ block.super }}
  <script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var number_public = $('[id*=contact_type]:not([id*=prefix]) option[value="P"]:selected').length;
      var number_scientific = $('[id*=contact_type]:not([id*=prefix]) option[value="S"]:selected').length;
      var number_web = $('[id*=contact_type]:not([id*=prefix]) option[value="W"]:selected').length;
      if(number_public == 0) {
        $('.add-row').click();
        $('[id*=contact_type]:not([id*=prefix]):last').val('P').trigger("change");
      }
      if(number_scientific == 0) {
        $('.add-row').click();
        $('[id*=contact_type]:not([id*=prefix]):last').val('S').trigger("change");
      }
      if(number_web == 0) {
        $('.add-row').click();
        $('[id*=contact_type]:not([id*=prefix]):last').val('W').trigger("change");
      }
    });
  </script>
{% endblock %}