{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Clinical trial Summary" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="summary" %}
{% endblock steps%}
{% block administration_content %}
  <div class="col-sm-12 content">
  {% include "clinical_trials/messages_clinical_trials.html" %}
  <h1 id="title_sumary">
    <img src="{% static 'img/summary-circle.png' %}"/>
    {% trans 'Summary' %}
  </h1>
<table class="table table-bordered table_list table_sumary">
  <thead>
    <tr class="table_title">
      <th>{% trans "Step" %}</th>
      <th>{% trans "Form Name" %}</th>
      <th>{% trans "Situation" %}</th>
      <th>{% trans "Changed" %}</th>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <th>{% trans "Revision Messages" %}</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>
        <a href="{% url 'clinical_trial_edit_identification' object.id %}">
          {% trans "Identification" %}
        </a>
      </td>
      <td>
        {% if object.check_identification_step.0 %}
          <img src="{% static 'img/field-ok.png' %}"/> <span class="table-inner-text">{% trans "Complete" %}</span>
        {% else %}
          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ object.check_identification_step.1 }}"/> <span class="table-inner-text">{% trans "Missing" %}</span>
        {% endif %}
      </td>
      <td>
          {% if 1 in steps_with_changed_fields %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
      </td>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          {% if object.check_has_wk_state_obs_for_identifications_step %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    <tr>
      <td>2</td>
      <td>
        <a href="{% url 'clinical_trial_edit_attacments' object.pk %}">
          {% trans "Attachments" %}
        </a>
      </td>
      <td>
        {% if object.check_attachments_step.0 %}
          <img src="{% static 'img/field-ok.png' %}"/> <span class="table-inner-text">{% trans "Complete" %}</span>
        {% else %}
          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ object.check_attachments_step.1 }}"/> <span class="table-inner-text">{% trans "Missing" %}</span>
        {% endif %}
      </td>
      <td>
          {% if 2 in steps_with_changed_fields %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
      </td>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          {% if object.check_has_wk_state_obs_for_attachments_step %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    <tr>
      <td>3</td>
      <td>
        <a href="{% url 'clinical_trial_edit_sponsors' object.id %}">
          {% trans "Sponsors" %}
        </a>
      </td>
      <td>
        {% if object.check_sponsors_step.0 %}
          <img src="{% static 'img/field-ok.png' %}"/> <span class="table-inner-text">{% trans "Complete" %}</span>
        {% else %}
          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ object.check_sponsors_step.1 }}"/> <span class="table-inner-text">{% trans "Missing" %}</span>
        {% endif %}
      </td>
      <td>
          {% if 3 in steps_with_changed_fields %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
      </td>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          {% if object.check_has_wk_state_obs_for_sponsors_step %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    <tr>
      <td>4</td>
      <td>
        <a href="{% url 'clinical_trial_edit_health_conditions' object.id %}">
          {% trans "Health Conditions" %}
        </a>
      </td>
      <td>
        {% if object.check_health_conditions_step.0 %}
          <img src="{% static 'img/field-ok.png' %}"/> <span class="table-inner-text">{% trans "Complete" %}</span>
        {% else %}
          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ object.check_health_conditions_step.1 }}"/> <span class="table-inner-text">{% trans "Missing" %}</span>
        {% endif %}
      </td>
      <td>
          {% if 4 in steps_with_changed_fields %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
      </td>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          {% if object.check_has_wk_state_obs_for_health_conditions_step %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    <tr>
      <td>5</td>
      <td>
        <a href="{% url 'clinical_trial_edit_interventions' object.id %}">
          {{ object.get_study_type_display }}
        </a>
      </td>
      <td>
        {% if object.check_interventions_step.0 %}
          <img src="{% static 'img/field-ok.png' %}"/> <span class="table-inner-text">{% trans "Complete" %}</span>
        {% else %}
          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ object.check_interventions_step.1 }}"/> <span class="table-inner-text">{% trans "Missing" %}</span>
        {% endif %}
      </td>
      <td>
          {% if 5 in steps_with_changed_fields %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
      </td>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          {% if object.check_has_wk_state_obs_for_interventions_step %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    <tr>
      <td>6</td>
      <td>
        <a href="{% url 'clinical_trial_edit_recruitment' object.id %}">
          {% trans "Recruitment" %}
        </a>
      </td>
      <td>
        {% if object.check_recruitment_step.0 %}
          <img src="{% static 'img/field-ok.png' %}"/> <span class="table-inner-text">{% trans "Complete" %}</span>
        {% else %}
          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ object.check_recruitment_step.1 }}"/> <span class="table-inner-text">{% trans "Missing" %}</span>
        {% endif %}
      </td>
      <td>
          {% if 6 in steps_with_changed_fields %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
      </td>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          {% if object.check_has_wk_state_obs_for_recruitment_step %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    <tr>
      <td>7</td>
      <td>
        <a href="{% url 'clinical_trial_edit_study_type' object.id %}">
          {% trans "Study Design" %}
        </a>
      </td>
      <td>
        {% if object.check_study_type_step.0 %}
          <img src="{% static 'img/field-ok.png' %}"/> <span class="table-inner-text">{% trans "Complete" %}</span>
        {% else %}
          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ object.check_study_type_step.1 }}"/> <span class="table-inner-text">{% trans "Missing" %}</span>
        {% endif %}
      </td>
      <td>
          {% if 7 in steps_with_changed_fields %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
      </td>
     {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          {% if object.check_has_wk_state_obs_for_study_type_step %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    <tr>
      <td>8</td>
      <td>
        <a href="{% url 'clinical_trial_edit_outcomes' object.id %}">
          {% trans "Outcomes" %}
        </a>
      </td>
      <td>
        {% if object.check_outcomers_step.0 %}
          <img src="{% static 'img/field-ok.png' %}"/> <span class="table-inner-text">{% trans "Complete" %}</span>
        {% else %}
          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ object.check_outcomers_step.1 }}"/> <span class="table-inner-text">{% trans "Missing" %}</span>
        {% endif %}
      </td>
      <td>
          {% if 8 in steps_with_changed_fields %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
      </td>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          {% if object.check_has_wk_state_obs_for_outcomes_step %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    <tr>
      <td>9</td>
      <td>
        <a href="{% url 'clinical_trial_edit_contacts' object.pk %}">
          {% trans "Contacts" %}
        </a>
      </td>
      <td>
        {% if object.check_contacts_step.0 %}
          <img src="{% static 'img/field-ok.png' %}"/> <span class="table-inner-text">{% trans "Complete" %}</span>
        {% else %}
          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ object.check_contacts_step.1 }}"/> <span class="table-inner-text">{% trans "Missing" %}</span>
        {% endif %}
      </td>
      <td>
          {% if 9 in steps_with_changed_fields %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
      </td>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          {% if object.check_has_wk_state_obs_for_contacts_step %}
            <span class="green-text"> {% trans "Yes" %}</span>
          {% else %}
            <span> {% trans "No" %}</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>
    {% if workflow_current_state.pk != state_model.STATE_EM_REVISAO and workflow_current_state.pk != state_model.STATE_EM_AVALIACAO %}
    <tr>
      <td>10</td>
      <td>
        <a href="{% url 'clinical_trial_edit_send' object.pk %}">
          {% trans "Send" %}
        </a>
      </td>
      <td>
        <img src="{% static 'img/field-error.png' %}"/> <span class="table-inner-text">{% trans "Send this trial" %}</span>
      </td>
      <td>
        --
      </td>
      {% if workflow_current_state.pk == state_model.STATE_RESUBMETIDO or workflow_current_state.pk == state_model.STATE_EM_REVISAO or workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
        <td>
          --
        </td>
      {% endif %}

    </tr>
    {% endif %}
  </tbody>
</table>
{% if user.is_authenticated and can_view_history %}
  <h4>
  {% if has_pending_observations %}
    <img src="{% static 'img/view-pending-observations-icon.png' %}">
  {% else %}
    <img src="{% static 'img/email-10-icon_7_.png' %}">
  {% endif %}
  <a href="{% url 'list_workflow_pending_observations' object.pk %}">{% trans 'Observations' %}</a>
  </h4>
<h4>
<img src="{% static 'img/update-history-icon.png' %}">
<a href="{% url 'clinicaltrial_history' object.pk %}">{% trans 'Clinical trial history' %}</a>
</h4>
{% endif %}
<hr/>
  {% if workflow_current_state.pk == state_model.STATE_EM_AVALIACAO %}
      <div class="col-sm-2 wk-transition-button">
        <form method="post" class="change-wk-state-form" action="{% url "clinical_trial_edit_list" object.id %}">
          {% csrf_token %}
          <input type="hidden" name="finish_evaluation" value="yes"/>
          <input type="submit" class="change-wk-state-button" value="{% trans 'Finish Evaluation' %}">
        </form>
      </div>
    {% endif %}
    {% if workflow_current_state.pk == state_model.STATE_EM_REVISAO %}
      <div class="col-sm-2 wk-transition-button">
        <form method="post" class="change-wk-state-form" action="{% url "clinical_trial_edit_list" object.id %}">
          {% csrf_token %}
          <input type="hidden" name="resubmit" value="yes"/>
          
          <input type="submit" class="change-wk-state-button" value="{%  trans 'Resubmit' %}">
        </form>
      </div>
      <div class="col-sm-2 wk-transition-button">
        <div class="change-wk-state-form">
          <a class="button" data-toggle="modal" href="#modal-confirm-publish">{% trans 'Publish' %}</a>
        </div>
      </div>
    {% endif %}

</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal-confirm-publish" >
  <div class="modal-dialog modal-sm" style="max-width: 40%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Publication confirmation" %}</h4>
      </div>
      <div class="modal-body">
        {% trans 'Are you sure about to publish this trial?' %}
      </div>
      <div class="modal-footer">
        <form method="post" class="change-wk-state-form" action="{% url "clinical_trial_edit_list" object.id %}">
          {% csrf_token %}
          <input type="hidden" name="publish" value="yes"/>
          <div class="row pull-right">
            <div class="col-sm-6">
              <input type="submit" class="change-wk-state-button" value="{% trans 'Yes' %}" style="width: 124px;">
            </div>
            <div class="col-sm-6">
              <a class="button" value="{% trans 'Yes' %}" data-dismiss="modal">{% trans 'No' %}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock administration_content %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
{{ block.super }}

  <script type="text/javascript">
    $('span.field-help, img.field-error').tooltip();

    $('#content-wrapper a').click(function(){
        $(window).unbind('beforeunload');
    })
  </script>
{% endblock %}
