{% extends "administration/base_administration.html" %}
{% load i18n static ct_tags %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "New Clinical Trial" %}
    </div>
</li>
{% endblock %}

{% block administration_content %}
<div class="row">
  <div class="col-sm-12 content">
  <h1 id="title_create_ct">
    {% trans 'Create a new clinical Trial' %}
  </h1>
	<form method="post">{% csrf_token %}
	    {% for field in form %}
	    {% if field.name != 'accept_terms' %}
	    	{% if field.name == 'language_1_mandatory' %}
	    	<h1 class="title_line" style="margin-left: 0px; margin-bottom: 10px;">{% trans 'Choose the Clinical Trials languages' %}</h2>
	    	{% endif %}
			{% if not field.is_hidden %}
				<div class="fieldWrapper" id="{{field.html_name}}">
					<div class="row-input">
						{{ field.label_tag }}{% if field.field.required %}<span class="fielct-required "></span>{% endif %}
						<div class="help-input-text">
						{% if field.help_text %}
			            	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title='{{ field.help_text }}'>{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
			        	{% endif %}
			        	</div>
			        </div>
				    <div class="input row-input  ">
			        	<div class="field-input">
				        {{ field }}
				        </div>
				    	<div class="text-right">
							{% if field.errors %}
								<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
							{% elif field.value %}
								<img src="{% static 'img/field-ok.png' %}"/>
							{% endif %}
						</div>
				    </div>
				</div>
			{% else %}
				{{ field }}
			{% endif %}
		{% endif %}
	{% endfor %}

		<h2>{% trans 'Terms of Use' %}</h2>
		<pre id="terms_of_use">{{ terms_of_use|safe }}</pre>

		<div class="fieldWrapper">
					<label for="{{ form.accept_terms.id_for_label }}">{% trans 'I accept the terms of use' %}</label>
					<div class="help-input-text">
					{% if form.accept_terms.help_text %}
	            		<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ form.accept_terms.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
			        {% endif %}
			    	</div>
				    <div class="input row-input">
				    	<div class="field-input">
				        {{ form.accept_terms }}
				        </div>
				    	<div class="text-center">
							{% if form.accept_terms.errors %}
								<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ form.accept_terms.errors.0 }}"/>
							{% elif form.accept_terms.value %}
								<img src="{% static 'img/field-ok.png' %}"/>
							{% endif %}
						</div>
				                
				    </div>
				</div>
		<div class="submit-line">
		<input id="save_ct" class="button" type="submit" value="{% trans 'Save' %}">
		</div>
		<div class="modal fade" id="modal-confirm-ct">
		  <div class="modal-dialog modal-sm" style="max-width: 65%;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">{% trans "Create this clinical trial" %}</h4>
		      </div>
		      <div class="modal-body">
		        <p>
		    		Prezado(a) registrante, você está prestes a criar um novo registro de estudo no ReBEC. Você é o único responsável e habilitado para fornecer informações sobre o estudo. É importante ressaltar que seu estudo passará por um processo de revisão com foco no correto e coerente preenchimento dos campos que implica, a cada nova submissão ou ressubmissão feita por você, um prazo de até 45 dias para avaliação por parte do ReBEC. Em tempo algum será feita uma apreciação ética ou metodológica "per se". Assim, pedimos especial gentileza na observância das orientações feitas por nossa equipe de revisores, bem como daquelas que constam nos campos de ajuda. Elas possuem todas as informações que devem constar nos campos, incluindo exemplos. Isso garantirá mais agilidade para a aprovação e obtenção do seu número de registro.</p><p>Certifique-se, com base no protocolo, da correta informação sobre o tipo de estudo - observacional ou intervencional - pois a plataforma não permite alteração posterior, o que implicaria a deleção do registro atual e criação de um outro registro e novo preenchimento. Vale ressaltar que um estudo intervencional (ou ensaio clínico) envolve a realização em pacientes voluntários de intervenções – uso de drogas, equipamentos, procedimentos, dietas... - e possui desenhos com especificação de enfoque do estudo, desenho da intervenção, número de braços, tipo de mascaramento, tipo de alocação e fase do estudo. Já no estudo observacional, os pesquisadores não realizam intervenções de acordo com o plano/protocolo de pesquisa, mas observam pacientes e desfechos de uma evolução na qual eles não intervieram. Os Estudos Observacionais aceitos pelo ReBEC são os analíticos (caso-controle, coorte e corte transversal). Em caso de estudos que possam ter uma etapa intervencional e outra observacional, o pesquisador deve definir qual é a etapa que melhor define o projeto - se a de intervenção ou de observação - e escolher em que formato (intervencional ou observacional) irá registrar o estudo. As informações sobre a segunda etapa devem ser inseridas no campo “Descrição do estudo”.
		    	</p>
		      </div>
		      <div class="modal-footer">
		        <input type="submit" name="accept_modal" value="{% trans 'Ok and Create' %}" class="button" style="margin-bottom:0;" />
		        <button type="button" class="button" data-dismiss="modal" style="margin-bottom:0;">{% trans "Close" %}</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</form>
</div>
</div>

{% endblock administration_content %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
  <style type="text/css">
  	.input div.tooltip {
  		width: 340px;
  	}
  </style>
{% endblock %}

{% block extrascripts %}
{{ block.super }}

<script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>

{# verificatin to show the accept modal #}
{% if form.errors.accept_modal == 'show' %}
	<script type="text/javascript">
		$('#modal-confirm-ct').modal();
	</script>
{% endif %}
<script type="text/javascript">
$(window).bind('beforeunload', function(e) {
    var message = ('{% trans "Are you sure you want to abandon the creation of a new clinical trial ? All informations will be lost." %}');
    e.returnValue = message;
    return message;
});

$('#main-content form').submit(function(){
    $(window).unbind('beforeunload');
})
</script>
{% endblock %}
