{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n ct_tags %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Health Conditions" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="4" %}
{% endblock steps %}
{% block administration_content %}
<div class="row">
	<div class="col-sm-12 content">
	{% if health_conditions_formset.errors or descriptors_formset.errors or form.errors %}
        {% include "base/correct_errors_below.html" %}
    {% endif %}
	{% include "clinical_trials/messages_clinical_trials.html" %}
	<h1 class="title_line">
		<img src="{% static 'img/4-circle.png' %}"/>
		{% trans 'Health Conditions' %}
	</h1>

<div class="row">
	<form class="form_ct" method="POST" action=".">
	    {% csrf_token %}
		{{ form }}
		{{ health_conditions_formset.management_form }}
		{% for temp_field in health_conditions_formset.0 %}
			{% if not temp_field.is_hidden %}
				<p class="form-label {{ temp_field.name }}">{{ temp_field.label_tag }}</p><span class="fielct-required "></span>
				<div class="help-input-text">
				{% if temp_field.name == "health_condition" %}
            	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>No campo “CONDIÇÕES DE SAÚDE OU PROBLEMAS”, deve(m) ser indicado(s) a(s) condição(ões) de saúde ou problema(s) estudado(s) ou seja as condições de saúde particulares ou problemas  que estão sendo prevenidos  ou rastreados e que servem de critérios de inclusão para o estudo. Essa orientação também é valida para estudos conduzidos  em humanos  saudáveis pertencentes à população-alvo.<br />ATENÇÃO, pois esse campo deve estar em concordância com os descritores escolhidos no campo “DESCRITORES ESPECÍFICOS PARA AS CONDIÇÕES DE SAÚDE“, já que estes estão diretamente ligadas as condições de saúde. Com isso, PARA CADA 'CONDIÇÃO DE SAÚDE' INFORMADA É NECESSÁRIO LOCALIZAR UM DESCRITOR ESPECÍFICO PARA AS CONDIÇÕES DE SAÚDE E TODOS OS DESCRITORES ESPECÍFICOS DEVEM CONSTAR NO CAMPO 'CONDIÇÕES DE SAÚDE'.</p><p>Exemplo: Se no campo “Condições de Saúde ou Problemas” Foi Indicado (Hipertensão, Claudicação Intermitente) no campo “Descritores Específicos para as Condições de saúde” devem constar os seguintes descritores: 'Hipertensão - C14.907.489', Claudicação Intermitente - C14.907.137.126.669.</p>">{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
            	{% endif %}
            </div>
				<div class="fields-wrapper">
					{% for child_form in health_conditions_formset %}
						{% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
							{% for field in child_form %}
								{% if field.name == temp_field.name %}
									<div class="fieldWrapper">
										<div class="row-input label-line">
											<div class="icon_caret">
												<span class="glyphicon caret"></span>{{ child_form.instance.language_code }}
											</div>
											<div class="revision-icons-wrapper">
											   {% if object.get_workflow_state.pk != 1 %}
													{% if form_style == "observations" %}
														<a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk ctdetail_content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
															{% count_observations object.pk ctdetail_content_type_id child_form.instance.pk field.name %}
															{% if count_observations_result > 0 %}
																{% trans "observation" %}
																<img src="{% static 'img/view-pending-observations-icon.png' %}">
															{% else %}
																{% trans "observation" %}
																<img src="{% static 'img/edit-observation-icon.png' %}">
															{% endif %}
														</a>
													{% else %}
														<a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk ctdetail_content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
															{% trans "observation" %}
															{% count_observations object.pk ctdetail_content_type_id child_form.instance.pk field.name %}
															{% if count_observations_result > 0 %}
																<img src="{% static 'img/view-pending-observations-icon.png' %}">
															{% else %}
																<img src="{% static 'img/edit-observation-icon.png' %}">
															{% endif %}
														</a>
													{% endif %}
											   {% endif %}
											</div>
										</div>
										<div class="row-input">
										<div class="field-input">
			    							{{ field }}
			    						</div>
			    						<div class="text-center">
			    							{% if form_style == 'default' %}
				    							{% if field.errors %}
				    								<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
				    							{% elif field.value %}
				    								<img src="{% static 'img/field-ok.png' %}"/>
				    							{% endif %}
				    						{% endif %}
			    						</div>
			    					  </div>
			    					</div>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				</div>
			{% else %}
				{% for child_form in health_conditions_formset %}
						{% for field in child_form %}
							{% if field.name == temp_field.name %}
								{{ field }}
							{% endif %}
						{% endfor %}
				{% endfor %}
			{% endif %}
		{% endfor %}


		<div class="help-input-text">
        	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>DESCRITORES são termos padronizados para identificar os temas, condições e aspectos tratados em dada pesquisa, estudo ou publicação. Eles funcionam como palavras-chave que permitem que outros pesquisadores e estudiosos localizem estudos que tratem dos mesmos objetos de interesse. Neste campo você deve, após ter selecionado o TIPO DE DESCRITOR ( Geral ou Específico) e o VOCABULÁRIO (Decs ou CID), escolher quais termos são os mais representativos e coerentes com o que foi informado no campo CONDIÇÕES DE SAÚDE OU PROBLEMAS.</p>">{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
        </div>
   	    <h2 class="subtitle-formset">{% trans 'Descriptors' %}</h2>
   	    {% if descriptors_formset.non_form_errors %}
   	    	<div class="alert alert-error">{{ descriptors_formset.non_form_errors }}</div>
   	    {% endif %}
   	    {{ descriptors_formset.management_form }}
		{% for child_form in descriptors_formset %}
			{% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
				<div class="form-row inline {{ descriptors_formset.prefix }}">
					{% for field in child_form %}
							{% if field.name == 'vocabulary_item_en' or field.name == 'vocabulary_item_es' or field.name == 'vocabulary_item_pt' or not field.is_hidden %}
								{% if form_style == "default" or form_style == "observations" and not field.name == 'DELETE' %}
									<div class="fieldWrapper{% if field.name == 'vocabulary_item_en' or field.name == 'vocabulary_item_es' or field.name == 'vocabulary_item_pt' and not form_style == "observations" %} vocabulary_item_wrapper vocabulary_item_wrapper-{{ field.name }}{% endif %}">
										<div class="row-input label-line">
											<div class="no-margin-left">
												{{ field.label_tag }} {% if field.field.required %}<span class="fielct-required "></span>{% endif %}
											</div>
											<div class="help-input-text">
												{% if field.help_text %}
							                	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
							                	{% endif %}
							                </div>
											<div class="revision-icons-wrapper">
											   {% if object.get_workflow_state.pk != 1 and child_form.instance.pk %}
													{% if form_style == "observations" %}
														<a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk descriptor_content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
															{% count_observations object.pk descriptor_content_type_id child_form.instance.pk field.name %}
															{% if count_observations_result > 0 %}
																{% trans "observation" %}
																<img src="{% static 'img/view-pending-observations-icon.png' %}">
															{% else %}
																{% trans "observation" %}
																<img src="{% static 'img/edit-observation-icon.png' %}">
															{% endif %}
														</a>
													{% else %}
														<a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk descriptor_content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-registrant-modal">
															{% trans "observation" %}
															{% count_observations object.pk descriptor_content_type_id child_form.instance.pk field.name %}
															{% if count_observations_result > 0 %}
																<img src="{% static 'img/view-pending-observations-icon.png' %}">
															{% else %}
																<img src="{% static 'img/edit-observation-icon.png' %}">
															{% endif %}
														</a>
													{% endif %}
												{% endif %}
											</div>
										</div>
										
									    <div class="row-input input{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}">
									    	<div class="field-input">
									        {{ field }}
									        {% if field.name == 'vocabulary_item_en' or field.name == 'vocabulary_item_es' or field.name == 'vocabulary_item_pt' and not form_style == "observations" %}
			    								<a href="#" class="search-modal-button" data-toggle="modal">{% trans "Search" %}</a>
			    							{% endif %}
									        </div>
									    	<div class="text-center">
									    		{% if form_style == 'default' %}
													{% if field.errors %}
														<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
													{% elif field.value %}
														<img src="{% static 'img/field-ok.png' %}"/>
													{% endif %}
						    					{% endif %}
											</div>
									                
									    </div>
									</div>
								{% endif %}
							{% else %}
								{{ field }}
							{% endif %}
			          {% endfor %}
					{% endif %}
				</div>
			{% endfor %}
		<div class="form-row inline {{ descriptors_formset.prefix }}" style="display:none;">
				{% for field in descriptors_formset.empty_form %}
					{% if not field.is_hidden %}
						<div class="fieldWrapper{% if field.name == 'vocabulary_item_en' or field.name == 'vocabulary_item_es' or field.name == 'vocabulary_item_pt' %} vocabulary_item_wrapper vocabulary_item_wrapper-{{ field.name }}{% endif %}">
							<div class="row-input label-line">
								<div class="no-margin-left">
								{{ field.label_tag }}{% if field.field.required %}<span class="fielct-required"></span>{% endif %}
								</div>
								<div class="help-input-text">
								{% if field.help_text %}
					                	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
					                {% endif %}
					            </div>
					        </div>
						    <div class="row-input input">
						    	<div class="field-input">
						        {{ field }}
						        {% if field.name == 'vocabulary_item_en' or field.name == 'vocabulary_item_es' or field.name == 'vocabulary_item_pt' and not form_style == "observations" %}
			    					<a href="#" class="search-modal-button" data-toggle="modal">{% trans "Search" %}</a>
			    				{% endif %}
						        </div>
						    </div>
						</div>
					{% else %}
						{{ field }}
					{% endif %}
		          {% endfor %}
		
		</div>
	  {% if form_style == 'default' %}
	  <div class="submit-line">
        <input type="submit" value="{% trans 'Save' %}" class="button" />
      </div>
      {% endif %}
    </form>
</div>

{% include "clinical_trials/modal-search-vocabulary.html" %}

<style>
	.vocabulary_item_wrapper {
		display: none;
	}
</style>
<script src="{% static 'js/jquery.formset-without-delete-link.js' %}"></script>
<script type="text/javascript">
	var current_input_modal;
	$('body').delegate('.search-modal-button', 'click', function() {
		current_input_modal_en = $(this).parents('.form-row:eq(0)').find('[id*=vocabulary_item_en]');
		current_input_modal_es = $(this).parents('.form-row:eq(0)').find('[id*=vocabulary_item_es]');
		current_input_modal_pt = $(this).parents('.form-row:eq(0)').find('[id*=vocabulary_item_pt]');
		$('#cid10-table').hide().find('tbody').html('');
		$('#decs-table').hide().find('tbody').html('');
		$('#decs_search_input').val('');
		$('#cid10_search_input').val('');
		if($(this).parents('.form-row:eq(0)').find('select[id*=parent_vocabulary]:eq(0)').val() == 'CID-10') {
			$('#cid10-table').show();
			$('#vocabulary-search').on('shown.bs.modal', function (e) {
    			$('#cid10_search_input').focus();
			});
		}
		else {
			$('#decs-table').show();
			$('#vocabulary-search').on('shown.bs.modal', function (e) {
    			$('#decs_search_input').focus();
			});
		}
		
		$('#vocabulary-search').modal('show');

		
	});
</script>

{% if form_style == "default" %}
<script type="text/javascript">
$(function() {
    $('.form-row.inline.{{ descriptors_formset.prefix }}').formset({
        prefix: '{{ descriptors_formset.prefix }}',
        addText: '{% trans 'Add Another' %}'
    });
});


$('[id*=-parent_vocabulary]').each(function(){
	if($(this).val()) {
        $(this).parents('.form-row').find('.vocabulary_item_wrapper').hide();
        $(this).parents('.form-row').find('.vocabulary_item_wrapper-vocabulary_item_{{ language }}').show();
    }
});

$('body').delegate('[id*=-parent_vocabulary]', 'change', function(){
	if($(this).val()) {
        $(this).parents('.form-row').find('.vocabulary_item_wrapper').hide();
        $(this).parents('.form-row').find('.vocabulary_item_wrapper-vocabulary_item_{{ language }}').show();
    }
    else {
    	$(this).parents('.form-row').find('.vocabulary_item_wrapper').hide().find('input').val('');
    }
});
</script>
{% endif %}

</div>
</div>

{% endblock administration_content %}


{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
{{ block.super }}

	<script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>

	<script type="text/javascript">
	$(document).ready(function() {
		//Check if has no General Descriptors, then create one
		if($('[id*=descriptor_type] option[value="G"]:selected').length == 0) {
			$('.add-row').click();
			$('[id*=descriptor_type]:last').val('G');
		}
		//Check if has no Specific Descriptors, then create one
		if($('[id*=descriptor_type] option[value="S"]:selected').length == 0) {
			$('.add-row').click();
			$('[id*=descriptor_type]:last').val('S');
		}
		

		
	});
	</script>
{% endblock %}