{% load static i18n ct_tags %}
{{ current_formset.management_form }}
{% for child_form in current_formset %}
		{% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
		<div class="form-row inline {{ current_formset.prefix }}">
			{{ child_form.non_field_errors }}
			{% for field in child_form %}
					{% if not field.is_hidden %}
					    {% if form_style == "default" or form_style == "observations" and field.name != 'DELETE' %}
							<div class="fieldWrapper">
								<div class="row-input label-line">
									<div class="no-margin-left">
										{{ field.label_tag }}
									</div>
									<div class="help-input-text">
				            			{% if field.help_text %}
				            				<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
				            			{% endif %}
									</div>
									{% if child_form.instance.pk %}
										<div class="revision-icons-wrapper">
										{% if object.get_workflow_state.pk != 1 %}
											{% if form_style == "observations" and not field.name == 'DELETE' %}
												<a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
													
													{% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
													{% if count_observations_result > 0 %}
														{% trans "observation" %}
														<img src="{% static 'img/view-pending-observations-icon.png' %}">
													{% else %}
														{% trans "observation" %}
														<img src="{% static 'img/edit-observation-icon.png' %}">
													{% endif %}
												</a>
											{% else %}
											 	{% if not field.name == 'DELETE' %}
													<a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
														{% trans "observation" %}
														{% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
														{% if count_observations_result > 0 %}
															<img src="{% static 'img/view-pending-observations-icon.png' %}">
														{% else %}
															<img src="{% static 'img/edit-observation-icon.png' %}">
														{% endif %}
													</a>
												{% endif %}
											{% endif %}
										{% endif %}
										</div>
									{% endif %}

								</div>
							    <div class="row-input input{% if field_changed %} red-border{% endif %}" id="{{field.name}}">
							    	<div class="field-input">
							        	{{ field }}
							        </div>
							    	<div class="text-center">
							    		{% if form_style == 'default' %}
											{% if field.errors %}
												<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
											{% elif field.value %}
												<img src="{% static 'img/field-ok.png' %}"/>
											{% endif %}
				    					{% endif %}
									</div>
							                
							    </div>
							    <div class="clear"></div>
							</div>
						{% endif %}
					{% else %}
						{{ field }}
					{% endif %}
	          {% endfor %}
	         </div>
		{% endif %}
	{% endfor %}

{% if form_style == "default"  %}
<div class="form-row inline {{ current_formset.prefix }} empty-form" style="display:none;">
	{{ current_formset.empty_form.non_field_errors }}
	{% for field in current_formset.empty_form %}
			{% if not field.is_hidden %}
			    {% if form_style == "default" or form_style == "observations"%}
					<div class="fieldWrapper">
						<div class="row-input label-line">
							<div class="no-margin-left">
								{{ field.label_tag }}
							</div>
							<div class="help-input-text">
		            			{% if field.help_text %}
		            				<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
		            			{% endif %}
							</div>
						</div>
					    <div class="row-input input{% if field_changed %} red-border{% endif %}" id="{{field.name}}">
					    	<div class="field-input">
					        	{{ field }}
					        </div>
					    	<div class="text-center">
					    		{% if form_style == 'default' %}
									{% if field.errors %}
										<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
									{% elif field.value %}
										<img src="{% static 'img/field-ok.png' %}"/>
									{% endif %}
		    					{% endif %}
							</div>
					                
					    </div>
					    <div class="clear"></div>
					</div>
				{% endif %}
			{% else %}
				{{ field }}
			{% endif %}
      {% endfor %}
  </div>
{% endif %}
