{% load static i18n %}
<div class="row ct-steps-content">
	<div class="col-sm-12 content ct-steps">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2 ct-sumary-link">
				<ul class="nav nav-pills">
					<li>
						<a href="{% url 'clinical_trial_edit_list' object.pk %}" class="summary-link">
							{% if active_step == "summary" %}
								<img src="{% static 'img/summary-icon-circle.png' %}"/>
							{% else %}
								<img src="{% static 'img/summary-icon-circle.png' %}"/>
							{% endif %}
							{% trans 'Summary' %}
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-10 col-sm-8 col-xs-8" id="steps-list">
				<ul class="nav">
		  		  <li>
		  		  	<a href="{% url 'clinical_trial_edit_identification' object.id %}">
		  		  		<p>{% trans 'Identification' %}</p>
		  		  		{% if active_step == "1" %}
		  		  			<img src="{% static 'img/menu-step-1.png' %}"/>
		  		  		{% elif active_step == "summary" %}
		  		  			<img src="{% static 'img/menu-step-lt1.png' %}"/>
		  		  		{% elif active_step > "1" %}
		  		  			<img src="{% static 'img/menu-step-gt1.png' %}"/>
		  		  		{% endif %}
		  		  	</a>
		  		  </li>
		  		  <li>
				  	<a href="{% url 'clinical_trial_edit_attacments' object.pk %}">
				  		<p>{% trans 'Attachments' %}</p>
				  		{% if active_step == "2" %}
		  		  			<img src="{% static 'img/menu-step-2.png' %}"/>
		  		  		{% elif active_step < "2" or active_step == "summary" %}
		  		  			<img src="{% static 'img/menu-step-lt2.png' %}"/>
		  		  		{% elif active_step > "2" %}
		  		  			<img src="{% static 'img/menu-step-gt2.png' %}"/>
		  		  		{% endif %}
				  	</a>
				  </li>
				  <li>
				  	<a href="{% url 'clinical_trial_edit_sponsors' object.id %}">
				  		<p>{% trans 'Sponsors' %}</p>
				  		{% if active_step == "3" %}
		  		  			<img src="{% static 'img/menu-step-3.png' %}"/>
		  		  		{% elif active_step < "3" or active_step == "summary" %}
		  		  			<img src="{% static 'img/menu-step-lt3.png' %}"/>
		  		  		{% elif active_step > "3" %}
		  		  			<img src="{% static 'img/menu-step-gt3.png' %}"/>
		  		  		{% endif %}
				  	</a>
				  </li>
				  <li>
				  	<a href="{% url 'clinical_trial_edit_health_conditions' object.id %}">
				  		<p>{% trans 'Health Cond.' %}</p>
				  		{% if active_step == "4" %}
		  		  			<img src="{% static 'img/menu-step-4.png' %}"/>
		  		  		{% elif active_step < "4" or active_step == "summary" %}
		  		  			<img src="{% static 'img/menu-step-lt4.png' %}"/>
		  		  		{% elif active_step > "4" %}
		  		  			<img src="{% static 'img/menu-step-gt4.png' %}"/>
		  		  		{% endif %}
				  	</a>
				  </li>
				  <li>
				  	<a href="{% url 'clinical_trial_edit_interventions' object.id %}">
				  		<p>{{ object.get_study_type_display }}</p>
				  		{% if active_step == "5" %}
		  		  			<img src="{% static 'img/menu-step-5.png' %}"/>
		  		  		{% elif active_step < "5" or active_step == "summary" %}
		  		  			<img src="{% static 'img/menu-step-lt5.png' %}"/>
		  		  		{% elif active_step > "5" %}
		  		  			<img src="{% static 'img/menu-step-gt5.png' %}"/>
		  		  		{% endif %}
				  	</a>
				  </li>
				</ul>  
				<ul class="nav">
				  <li>
				  	<a href="{% url 'clinical_trial_edit_recruitment' object.id %}">
				  		<p>{% trans 'Recruitment' %}</p>
				  		{% if active_step == "6" %}
		  		  			<img src="{% static 'img/menu-step-6.png' %}"/>
		  		  		{% elif active_step < "6" or active_step == "summary" %}
		  		  			<img src="{% static 'img/menu-step-lt6.png' %}"/>
		  		  		{% elif active_step > "6" %}
		  		  			<img src="{% static 'img/menu-step-gt6.png' %}"/>
		  		  		{% endif %}
				  	</a>
				  </li>
				  <li>
				  	<a href="{% url 'clinical_trial_edit_study_type' object.id %}">
				  		<p>{% trans 'Study Design' %}</p>
				  		{% if active_step == "7" %}
		  		  			<img src="{% static 'img/menu-step-7.png' %}"/>
		  		  		{% elif active_step < "7" or active_step == "summary" %}
		  		  			<img src="{% static 'img/menu-step-lt7.png' %}"/>
		  		  		{% elif active_step > "7" %}
		  		  			<img src="{% static 'img/menu-step-gt7.png' %}"/>
		  		  		{% endif %}
				  	</a>
				  </li>
				  <li>
				  	<a href="{% url 'clinical_trial_edit_outcomes' object.id %}">
				  		<p>{% trans 'Outcomes' %}</p>
				  		{% if active_step == "8" %}
		  		  			<img src="{% static 'img/menu-step-8.png' %}"/>
		  		  		{% elif active_step < "8" or active_step == "summary" %}
		  		  			<img src="{% static 'img/menu-step-lt8.png' %}"/>
		  		  		{% elif active_step > "8" %}
		  		  			<img src="{% static 'img/menu-step-gt8.png' %}"/>
		  		  		{% endif %}
				  	</a>
				  </li>
				  <li>
				  	<a href="{% url 'clinical_trial_edit_contacts' object.pk %}">
				  		<p>{% trans 'Contacts' %}</p>
				  		{% if active_step == "9" %}
		  		  			<img src="{% static 'img/menu-step-9.png' %}"/>
		  		  		{% elif active_step < "9" or active_step == "summary" %}
		  		  			<img src="{% static 'img/menu-step-lt9.png' %}"/>
		  		  		{% elif active_step > "9" %}
		  		  			<img src="{% static 'img/menu-step-gt9.png' %}"/>
		  		  		{% endif %}
				  	</a>
				  </li>
				  {% if workflow_current_state.pk != state_model.STATE_EM_REVISAO and workflow_current_state.pk != state_model.STATE_EM_AVALIACAO %}
					  <li>
					  <a>
					  	<p>{% trans 'Send' %}</p>
					  	{% if active_step == "send" %}
					  		<img src="{% static 'img/menu-step-10.png' %}"/>
					  	{% else %}
					  		<a href="{% url 'clinical_trial_edit_send' object.pk %}">
					  			<img src="{% static 'img/menu-step-lt10.png' %}"/>
					  		</a>
					  	{% endif %}
					  	</a>
					  </li>
				  {% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
