{% load static i18n ct_tags %}
{{ current_formset.management_form }}
{% if current_formset.non_form_errors %}
    {{ current_formset.non_form_errors }}
{% endif %}
{% for child_form in current_formset %}
    {% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
        <div class="form-row inline {{ current_formset.prefix }}">
            {{ child_form.non_field_errors }}
            {% for field in child_form %}
                    {% if not field.is_hidden %}
                        {% if form_style == "default" or form_style == "observations" and not field.name == 'DELETE' %}
                            <div class="fieldWrapper{% if field.name == 'found_outcome' %} found-outcome-field-wrapper{% endif %}">
                                <div class="row-input label-line">
                                    <div class="no-margin-left">
                                        {{ field.label_tag }}{% if field.field.required %}<span class="fielct-required "></span>{% endif %}
                                    </div>
                                    <div class="help-input-text">
                                    {% if field.help_text %}
                                        <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
                                    {% endif %}
                                    </div>
                                    {% if child_form.instance.pk %}
                                        <div class="revision-icons-wrapper">
                                        {% if object.get_workflow_state.pk != 1 %}
                                            {% if form_style == "observations" %}
                                                <a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
                                                    
                                                    {% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
                                                    {% if count_observations_result > 0 %}
                                                        {% trans "observation" %}
                                                        <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                                    {% else %}
                                                        {% trans "observation" %}
                                                        <img src="{% static 'img/edit-observation-icon.png' %}">
                                                    {% endif %}
                                                </a>
                                            {% else %}
                                                {% if not field.name == 'DELETE' %}
                                                    <a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
                                                        {% trans "observation" %}
                                                        {% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
                                                        {% if count_observations_result > 0 %}
                                                            <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                                        {% else %}
                                                            <img src="{% static 'img/edit-observation-icon.png' %}">
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    {% endif %}
                                    
                                </div>
                                <div class="row-input input{% if field_changed %} red-border{% endif %}  "{% if field.name == 'found_outcome' %} style="height: 145px;"{% endif %}>
                                    <div class="field-input">
                                        {{ field }}
                                    </div>
                                    <div class="text-center">
                                        {% if form_style == 'default' %}
                                            {% if field.errors %}
                                                <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
                                            {% elif field.value %}
                                                <img src="{% static 'img/field-ok.png' %}"/>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                            
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {{ field }}
                    {% endif %}
              {% endfor %}
        {% endif %}
            </div>
    {% endfor %}
<div class="form-row inline {{ current_formset.prefix }} empty-form" style="display:none;">
        {% for field in current_formset.empty_form %}
            {% if not field.is_hidden %}
                <div class="fieldWrapper{% if field.name == 'found_outcome' %} found-outcome-field-wrapper{% endif %}">
                    <div class="row-input label-line">
                        <div class="no-margin-left">
                            {{ field.label_tag }}{% if field.name == 'name' or field.name == 'point_of_time_of_interest' or field.name == 'measurement_method' %}<span class="fielct-required"></span>{% endif %}
                        </div>
                        <div class="help-input-text">
                        {% if field.help_text %}
                            <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
                        {% endif %}
                        </div>
                    </div>
                    <div class="row-input input  "{% if field.name == 'found_outcome' %} style="height: 145px;"{% endif %}>
                        <div class="field-input">
                        {{ field }}
                        </div>
                    </div>
                </div>
            {% else %}
                {{ field }}
            {% endif %}
          {% endfor %}
        
        </div>