{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Recruitment" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="6" %}
{% endblock steps %}
{% block administration_content %}
<div class="row">
  <div class="col-sm-12 content">
  {% if recruitment_formset.errors or form.errors %}
      {% include "base/correct_errors_below.html" %}
  {% endif %}
  {% include "clinical_trials/messages_clinical_trials.html" %}
  <h1 class="title_line">
    <img src="{% static 'img/6-circle.png' %}"/>
    {% trans 'Recruitment' %}
  </h1>
<div class="row">
  <form class="form_ct" method="POST" action=".">
    {% if form.non_field_errors %}
      {{ form.non_field_errors }}
    {% endif %}
    {% include "clinical_trials/clinical_trial_ctdetail_recruitment_formset.html" with current_formset=recruitment_formset %}

      {% if form_style == "default" %}
  	    <div class="submit-line">
          <input type="submit" value="{% trans 'Save' %}" class="button" />
        </div>
      {% endif %}
    </form>
</div>

{% if form_style == "default" %}
<script type="text/javascript">
/*
  function minimum_age_no_limit_change(checked) {
    if(checked) {
      $('#id_inclusion_minimum_age, #id_minimum_age_unit').val('').hide();
    }
    else {
      $('#id_inclusion_minimum_age, #id_minimum_age_unit').show();
    }
  }

  function maximum_age_no_limit_change(checked) {
    if(checked) {
      $('#id_inclusion_maximum_age, #id_maximum_age_unit').val('').hide();
    }
    else {
      $('#id_inclusion_maximum_age, #id_maximum_age_unit').show();
    }
  }

  $('#id_minimum_age_no_limit').on('change', function() {
    minimum_age_no_limit_change($(this).is(':checked'));
  });

  $('#id_maximum_age_no_limit').on('change', function() {
    maximum_age_no_limit_change($(this).is(':checked'));
  });

  minimum_age_no_limit_change();
  maximum_age_no_limit_change();
  */
</script>
<script type="text/javascript">
  function replaceAll(find, replace, str) {
    return str.replace(new RegExp(find, 'g'), replace);
  }
  $('[id*=inclusion_criteria], [id*=exclusion_criteria]').select2({
      tags:true,
      tokenSeparators: [";"],
      initSelection : function (element, callback) {
                        var data = [];
                        var previous_value = element.val();
                        element.val("");
                        previous_value = replaceAll(',', ';', previous_value);
                        $(previous_value.split(";")).each(function () {
                            data.push({id: this, text: this});
                        });
                      callback(data);
                      }
      }).on("change", function(e) {
        if(e.removed != undefined) {
          $(e.currentTarget).val(replaceAll(e.removed.id.toString()+';', "", $(e.currentTarget).val()));
          $(e.currentTarget).val(replaceAll(e.removed.id.toString()+',', "", $(e.currentTarget).val()));
          $(e.currentTarget).val(replaceAll(e.removed.id.toString(), "", $(e.currentTarget).val()));
        }
      });
</script>
{% endif %}

</div>
</div>
{% endblock administration_content %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
{{ block.super }}

  <script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>
  <script type="text/javascript">
    //controls the seelct2 recruitment countries wrapper's size and padding
    $('#id_recruitment_countries').on('change', function(){
      $('#s2id_id_recruitment_countries').parent().parent().css('padding-bottom',
        parseInt(($('#s2id_id_recruitment_countries').css('height') || "0").replace('px', '')) + 20 + 'px');
    });
    $(document).ready(function(){
      $('#s2id_id_recruitment_countries').parent().parent().css('padding-bottom',
        parseInt(($('#s2id_id_recruitment_countries').css('height') || "0").replace('px', '')) + 20 + 'px');
    });
    
  </script>  
{% endblock %}
