{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Study Design" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="7" %}
{% endblock steps %}
{% block administration_content %}
<div class="row">
  <div class="col-sm-12 content">
  {% if study_type_formset.errors or form.errors %}
      {% include "base/correct_errors_below.html" %}
  {% endif %}
  {% include "clinical_trials/messages_clinical_trials.html" %}
   <div class="help-input-text" style="margin-top:15px;">
  {% if object.study_type == 'O' %}
      <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>Caro registrante, a revisão da seção DESENHO DO ESTUDO depende diretamente das informações contidas no campo OBSERVAÇÃO E TIPO DE ESTUDO.</p><p>PORTANTO, solicitamos especial ATENÇÃO para que não existam divergências de informações.</p>">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
  {% else %}
      <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>Caro registrante, a revisão da seção TIPO DO ESTUDO depende diretamente das informações contidas no campo INTERVENÇÃO.</p><p>PORTANTO, solicitamos especial ATENÇÃO A(S) observação(ões) aberta(s) para o campo. Favor marcar a opção: “intervenções” ou “observacional”. Ressaltando, um estudo intervencional (ou ensaio clínico) envolve a realização em pacientes voluntários de intervenções – uso de drogas, equipamentos, procedimentos, dietas...</p><p>O estudo intervencional possui desenhos com especificação de enfoque do estudo, desenho da intervenção, número de braços, tipo de mascaramento, tipo de alocação e fase do estudo. </p><p>Já no estudo observacional, os pesquisadores não realizam intervenções de acordo com o plano/protocolo de pesquisa, mas observam pacientes e desfechos de uma evolução na qual eles não intervieram. Os Estudos Observacionais aceitos pelo ReBEC são os Analíticos ( Caso-controle, coorte e corte Transversal).</p>">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
  {% endif %}
  </div>
  <h1 class="title_line">
    <img src="{% static 'img/7-circle.png' %}"/>
    {% trans 'Study Design' %}
  </h1>

  
<div class="row">

	<form class="form_ct" method="POST" action="." id="study_type_form">
   {% if object.study_type != 'I' %}
    <div style="display: inline;" class="fieldWrapper">
          <div class="row-input label-line">
              <div class="no-margin-left">
                  <label for="id_followup_period">{% trans "Analytical Study Observational Type" %}:</label>
              </div>
          </div>
          
            <div class="row-input input">
              <div class="field-input">
              {% if object.intervention_observations.exists %}
                  {{ object.intervention_observations.all.0.get_study_type_display }}
              {% else %}
                  <span class="text-error">{% trans "Not set. You can change it on the Observations step." %}</span>
              {% endif %}
              </div>
              <div class="text-center">
                
                
              
            </div>
            </div>
      </div>
    {% endif %}
		{% include "clinical_trials/study_type_ctdetail_formset.html" with current_formset=study_type_formset %}
    {% if form_style == "default" %}
	    <div class="submit-line">
        <input type="submit" value="{% trans 'Save' %}" class="button" />
      </div>
    {% endif %}
    </form>
</div>

</div>
</div>
{% endblock administration_content %}

{% block extrascripts %}
{{ block.super }}

<script type="text/javascript">
  function study_type_field_change() {
    if('{{ object.study_type }}' == 'O') {
      $('form h3, form input, form label, form select, form textarea').each(
        function() {
          $(this).parents('.fieldWrapper, .fields-wrapper').hide();
        }
      );
      $('label[for*=study_design]').hide();
      $('label[for=id_followup_period], #id_followup_period, label[for=id_reference_period], #id_reference_period, form input[id*=study_design], form h3, form input[type=submit]').each(
        function() {
          $(this).parents('.fieldWrapper, .fields-wrapper').show();
        }
      );
      $('label[for*=study_design]').hide();
    }
    else {
      $('form h3, form input, form label, form select, form textarea').each(
        function() {
          $(this).parents('.fieldWrapper, .fields-wrapper').show();
        }
      );
      $('label[for*=study_design]').show();
    }
  }

  study_type_field_change();
</script>

<script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>
<script type="text/javascript">
	//If Type is interventions, dont allow to edit the study design fields

  function show_stydy_design_obs_study_design_time_perspective() {
    $('textarea[id*=study_design]').parents('.fieldWrapper:eq(0), .fields-wrapper:eq(0)').show();
    $('label[for*=study_design]').show();
    $('#id_followup_period').parents('.fieldWrapper:eq(0), .fields-wrapper:eq(0)').show();
    $('#id_reference_period').parents('.fieldWrapper:eq(0), .fields-wrapper:eq(0)').show();
  }

  function hide_all_fields() {
    $('#study_type_form input, #study_type_form textarea, #study_type_form select').each(
      function() {
          if($(this).attr('name') != 'csrfmiddlewaretoken' && $(this).attr('type') != 'hidden')
          {
            $(this).parents('.fieldWrapper:eq(0), .fields-wrapper:eq(0)').hide();
          }
      }
    );
    $('label[for*=study_design]').hide();
  }

  function show_all_fields() {
    $('#study_type_form input, #study_type_form textarea, #study_type_form select').each(
      function() {
          if($(this).attr('name') != 'csrfmiddlewaretoken' && $(this).attr('type') != 'hidden')
          {
            $(this).parents('.fieldWrapper:eq(0), .fields-wrapper:eq(0)').show();
          }
      }
    );
    $('label[for*=study_design]').show();
  }

  function study_type_changed() {
    hide_all_fields();
    if('{{ object.study_type }}' == "I"){
          show_all_fields();
      }
      else {
          show_stydy_design_obs_study_design_time_perspective();
      }
  }
  study_type_changed();
</script>
{% endblock extrascripts %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}