{% load static i18n ct_tags %}
{% csrf_token %}

{% for field in form %}
    {% if field.name == 'study_type' %}
        {% if not field.is_hidden %}
            {% if form_style == "default" or form_style == "observations" and form.instance.pk  %}
                <div class="fieldWrapper">
                    <div class="row-input label-line">
                        <div class="no-margin-left">
                            {{ field.label_tag }}{% if field.field.required %}<span class="fielct-required "></span>{% endif %}
                        </div>
                        <div class="help-input-text">
                        {% if field.help_text %}
                            <span class="field-help" data-html="true" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans "Help" %}<img src="{% static 'img/interrog.png' %}"/></span>
                        {% endif %}
                        </div>
                        <div class="revision-icons-wrapper">
                           {% if object.get_workflow_state.pk != 1 %}
                                {% if form_style == "observations" %}
                                    <a href="{% url 'field_revisor_screen' form.instance.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
                                        {% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
                                        {% if count_observations_result > 0 %}
                                            {% trans "observation" %}
                                            <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                        {% else %}
                                            {% trans "observation" %}
                                            <img src="{% static 'img/edit-observation-icon.png' %}">
                                        {% endif %}
                                    </a>
                                {% else %}
                                    <a href="{% url 'field_registrant_screen' form.instance.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
                                        {% trans "observation" %}
                                        {% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
                                        {% if count_observations_result > 0 %}
                                            <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                        {% else %}
                                            <img src="{% static 'img/edit-observation-icon.png' %}">
                                        {% endif %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        
                    </div>
                    
                    <div class="row-input input{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}">
                        <div class="field-input">
                        {{ field }}
                        </div>
                        <div class="text-center">
                            {% if form_style == 'default' %}
                                {% if field.errors %}
                                    <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
                                {% elif field.value %}
                                    <img src="{% static 'img/field-ok.png' %}"/>
                                {% endif %}
                            {% endif %}
                        </div>
                                
                    </div>
                </div>
            {% endif %}
        {% else %}
            {{ field }}
        {% endif %}
    {% endif %}
{% endfor %}

{{ current_formset.management_form }}
{% for temp_field in current_formset.0 %}
    {% if not temp_field.is_hidden %}
        <p class="form-label">{{ temp_field.label_tag }}</p>{% if temp_field.name != 'acronym' %}<span class="fielct-required "></span>{% endif %}
        <div class="help-input-text">
        {% if temp_field.name == 'scientific_title' %}
            <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>O título científico do estudo <b>deve ser EXATAMENTE IGUAL ao que consta no documento de aprovação pelo comitê de ética (parecer consubstanciado). Somente a primeira letra do título, dos nomes próprios, de doenças, dos procedimentos e/ou drogas devem estar em caixa alta. </b>Não deve haver pontuação no final da sentença.</p><p>Exemplos: “A Efetividade da bandagem funcional em pacientes com osteoartrite de joelho - ensaio clínico randomizado: estudo piloto” ou “Estudo Fase IIb, randomizado e controlado por placebo para avaliar a eficácia clínica e segurança da Terapia de Indução e de Manutenção com BMS-936557 em indivíduos com Colite Ulcerativa (UC) ativa” ou “Alterações na expressão gênica do tecido gástrico e intestinal de pacientes diabéticos tipo 2 submetidos à Gastroplastia Redutora a Y-ROUX”.</p>">{% trans "Help" %}<img src="{% static 'img/interrog.png' %}"/></span>
        {% elif temp_field.name == 'public_title' %}
            <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>O título público DEVE ESTAR DE ACORDO COM O TÍTULO CIENTÍFICO, mas em uma LINGUAGEMMAIS COLOQUIAL, visando o público em geral. Não utilizar termos técnicos de difícil compreensão.<br>Por exemplo: ao invés de “cirurgia bariátrica”, use “cirurgia de redução do estômago”; ou, ao invés de “alopecia”, use “calvície”.<br>- USAR O MESMO TÍTULO PÚBLICO USADO NA PLATAFORMA BRASIL.<br>- LEMBRE-SE: O título público poderá ser disponibilizado em consultas públicas para referenciar seu projeto de pesquisa depois de receber o paracer de aprovação pelo CEP.<br>- SOMENTEA PRIMEIRA LETRA, OS NOMES DAS DOENÇAS, DOS PROCEDIMENTOS E/OU DROGAS NO TÍTULODEVEM ESTAR EM CAIXA ALTA. Não deve haver pontuação no final da sentença.</p><p>Exemplo 01)Título científico: “A Efetividade da bandagem funcional em pacientes com osteoartrite de joelho - ensaio clínico randomizado: estudo piloto”; Título Público: “O efeito da bandagem elástica em pacientes com artrose de joelho”;</p><p>Exemplo 02) Título científico: “Estudo Fase IIb, randomizado e controlado por placebo para avaliar a eficácia clínica e segurança da Terapia de Indução e de Manutenção com BMS-936557 em indivíduos com Colite Ulcerativa (UC) ativa” ; Título Público: “Avaliação de eficácia e segurança da Terapia de Indução e de Manutenção com BMS-936557 em indivíduos com Colite Ulcerativa”;</p><p>Exemplo 03)Título científico: “Alterações na expressão gênica do tecido gástrico e intestinal de pacientes diabéticos tipo 2 submetidos à Gastroplastia Redutora a Y-ROUX” ; Título Público: “Alterações no tecido do estômago e intestino de pacientes diabéticos que fizeram cirurgia de redução do estômago”.</p>">{% trans "Help" %}<img src="{% static 'img/interrog.png' %}"/></span>
        {% elif temp_field.name == 'acronym' %}
            <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>Os acrônimos referem-se às siglas de fácil lembrança com as que alguns pesquisadores ou grupos de pesquisa 'batizam' OFICIALMENTE um projeto de pesquisa para divulgação do estudo em contextos mais amplos. Por exemplo: ELSA (Estudo Longitudinal de Saúde do Adulto). </p><p>Orientação ao registrante: O ACRÔNIMO (CIENTÍFICO ou PÚBLICO) DO ENSAIO SÓ DEVE SER COLOCADO CASO ESTEJA DISPONÍVEL NO PARECER DE APROVAÇÃO DO COMITÊ DE ÉTICA. CASO CONTRÁRIO, DEVERÁ PERMANECER EM BRANCO. EXEMPLO: ELSA – Estudo Longitudinal de Saúde do Adulto.</p>">{% trans "Help" %}<img src="{% static 'img/interrog.png' %}"/></span>
        {% elif temp_field.name == 'study_description' %}
            <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>Este é um campo aberto onde o pesquisador deve FALAR DE FORMA BREVE sobre a pesquisa como um todo, seria um resumo. CASO PERTINENTE, inclua nesse breve resumo informações quanto a follow-up, períodos de wash-out, alterações no tratamento que podem ocorrem com a evolução do sujeito, ao decorrer do projeto.</p><p>Exemplo 1:<br>Este projecto tem como objectivo melhorar a taxa de adesão por meio de assistência farmacêutica em pacientes com lúpus eritematoso sistêmico (LES) para ajudar a alcançar os objetivos terapêuticos e finalmente a melhoria da qualidade de vida desses pacientes.</p><p>A adesão ao tratamento é um dos principais determinantes para a eficácia dos cuidados de saúde. O não cumprimento pode levar a falha terapêutica, tornar mais difícil e complexa a gestão de doenças crônicas ou causar a morte. A eficácia das intervenções sobre a adesão tem um impacto importante na saúde da população. Lúpus eritematoso sistêmico (LES) é uma doença auto-imune com alta proporção de internações e óbitos e alto custo do tratamento. A prevalência de adesão nesse grupo de pacientes no Brasil é muito baixa (31,7%) e tratamento de drogas é complexo. Nosso objetivo é avaliar a eficácia da Assistência Farmacêutica na adesão do tratamento medicamentoso por pacientes com LES atendidos em um ambulatório de Reumatologia, no Rio de Janeiro, Brasil.</p><p>Ensaio clínico randomizado (experimentação pragmática), no qual 120 pacientes adultos com diagnóstico de LES confirmado serão acompanhados por 12 meses, e distribuídos aleatoriamente em dois grupos: o grupo de intervenção (com a presença de um farmacêutico de acordo com o Método Dader para Assistência Farmacêutica), e o grupo controle (com a presença de um profissional com o aconselhamento em matéria de higiene / nutrição e redução dos riscos na terapia lúpus não-farmacêutico). O principal resultado será adesão à terapia medicamentosa e desfechos secundários a melhoria da condição médica ea qualidade de vida dos pacientes.</p><p>Exemplo 2:<br>A rifampicina é um potente indutor do CYP450 e diminui a concentração plasmática de NRTI e inibidores de protease. Em nosso estudo, vamos comparar as doses 600mg ( 4x ao dis) e  800mg( 4x ao dia) de efavirenz no uso concomitante de rifampicina para tratar a tuberculose. A hipótese é que a dose de 800 mg seria mais adequado do que a 600mg.<br>O estudo consiste em um ensaio clínico randomizado comparando efavirenz 600 mg  contra efavirenz 800 mg em pacientes com tuberculose (tratados com regimes incluindo rifampicina) e diagnóstico de AIDS. A duração total do estudo é de 6 meses para cada paciente. Todos os pacientes elegíveis serão tratados com um regime para a tuberculose de acordo com diretrizes brasileiras: rifampicina (600mg 4xdia); isoniazida (400 mg 4xdia) e pirazinamida (2g 4xdia) durante 6 meses para um peso de 45 kg ou mais e doses adaptadas para pessoas com menos de 45 kg. Para os pacientes com história prévia de TB terapia etambutol 1.200mg 4xdia será adicionado ao regime.<br>Ambos os grupos irão receber inibidores nucleósidos da transcriptase reversa (NRTI) e um inibidor da transcriptase não nucleosídico (ITRNN) para o tratamento do VIH. O ITRN de primeira escolha será zidovudina e lamivudina associação. Pacientes que apresentam contra-indicação para o uso desses medicamentos receberá outros NRTI. O NRTI é efavirenz (800 ou 600 mg).</p><p>Os anti-retrovirais serão iniciadas 30 dias após a terapia de TB estável. Em caso de eventos adversos durante o tratamento da TB que levam à interrupção do tratamento, os medicamentos do estudo será adiada até o 30º dia após a terapia tripla para TB. Durante a terapia HIV NRTI pode ser alterada em caso de intolerância.</p>">{% trans "Help" %}<img src="{% static 'img/interrog.png' %}"/></span>
        {% endif %}

        </div>
        <div class="fields-wrapper">
            {% for child_form in current_formset %}
                {% for field in child_form %}
                    {% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
                        {% if field.name == temp_field.name %}
                            <div class="fieldWrapper">
                                <div class="row-input label-line">
                                    <div class="icon_caret">
                                        <span class="glyphicon caret"></span>{{ child_form.instance.language_code }}
                                    </div>
                                    <div class="revision-icons-wrapper">
                                       {% if object.get_workflow_state.pk != 1 %}
                                            {% if form_style == "observations" %}
                                                <a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
                                                    {% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
                                                    {% if count_observations_result > 0 %}
                                                        {% trans "observation" %}
                                                        <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                                    {% else %}
                                                        {% trans "observation" %}
                                                        <img src="{% static 'img/edit-observation-icon.png' %}">
                                                    {% endif %}
                                                </a>
                                            {% else %}
                                                <a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
                                                    {% trans "observation" %}
                                                    {% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
                                                    {% if count_observations_result > 0 %}
                                                        <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                                    {% else %}
                                                        <img src="{% static 'img/edit-observation-icon.png' %}">
                                                    {% endif %}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row-input">
                                <div class="field-input {% if field_changed and not field.name == 'DELETE' %} red-border-in-field{% endif %}">
                                    {{ field }}
                                </div>
                                <div class="text-center">
                                    {% if form_style == 'default' %}
                                        {% if field.errors %}
                                            <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
                                        {% elif field.value %}
                                            <img src="{% static 'img/field-ok.png' %}"/>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        {% for child_form in current_formset %}
                {% for field in child_form %}
                    {% if field.name == temp_field.name %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
        {% endfor %}
    {% endif %}
{% endfor %}

{% for field in form %}
    {% if field.name == 'study_final_date' or field.name == 'study_status' %}
        {% if not field.is_hidden %}
            {% if form_style == "default" or form_style == "observations" and form.instance.pk  %}
                <div class="fieldWrapper">
                    <div class="row-input label-line">
                        <div class="no-margin-left">
                            {{ field.label_tag }}{% if field.field.required %}<span class="fielct-required "></span>{% endif %}
                        </div>
                        <div class="help-input-text">
                        {% if field.help_text %}
                            <span class="field-help" data-html="true" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans "Help" %}<img src="{% static 'img/interrog.png' %}"/></span>
                        {% endif %}
                        </div>
                        <div class="revision-icons-wrapper">
                           {% if object.get_workflow_state.pk != 1 %}
                                {% if form_style == "observations" %}
                                    <a href="{% url 'field_revisor_screen' form.instance.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
                                        {% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
                                        {% if count_observations_result > 0 %}
                                            {% trans "observation" %}
                                            <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                        {% else %}
                                            {% trans "observation" %}
                                            <img src="{% static 'img/edit-observation-icon.png' %}">
                                        {% endif %}
                                    </a>
                                {% else %}
                                    <a href="{% url 'field_registrant_screen' form.instance.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
                                        {% trans "observation" %}
                                        {% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
                                        {% if count_observations_result > 0 %}
                                            <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                        {% else %}
                                            <img src="{% static 'img/edit-observation-icon.png' %}">
                                        {% endif %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        
                    </div>
                    
                    <div class="row-input input{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}">
                        <div class="field-input">
                        {{ field }}
                        </div>
                        <div class="text-center">
                            {% if form_style == 'default' %}
                                {% if field.errors %}
                                    <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
                                {% elif field.value %}
                                    <img src="{% static 'img/field-ok.png' %}"/>
                                {% endif %}
                            {% endif %}
                        </div>
                                
                    </div>
                </div>
            {% endif %}
        {% else %}
            {{ field }}
        {% endif %}
    {% endif %}
{% endfor %}