{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n ct_tags %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Sponsors" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="3" %}
{% endblock steps %}
{% block administration_content %}


<div class="row">

	<div class="col-sm-12 content">
    {% if sponsors_formset.errors or form.errors %}
        {% include "base/correct_errors_below.html" %}
    {% endif %}
	{% include "clinical_trials/messages_clinical_trials.html" %}
	<h1 class="title_line">
		<img src="{% static 'img/3-circle.png' %}"/>
		{% trans 'Sponsors' %}
	</h1>
<div class="row">
	<form class="form_ct" method="POST" action=".">
		{% csrf_token %}
		{{ form }}
	    {{ sponsors_formset.management_form }}
		{% for child_form in sponsors_formset %}
			{% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
				<div class="form-row inline {{ sponsors_formset.prefix }}">
					{% for field in child_form %}
						{% if form_style == "observations" and field.name == 'DELETE' %}
						{% else %}

							{% if not field.is_hidden %}
								<div class="fieldWrapper">
									<div class="row-input label-line">
										<div class="no-margin-left">
											{{ field.label_tag }}{% if not field.name == 'DELETE' %}<span class="fielct-required "></span>{% endif %}
										</div>
                                        <div class="help-input-text">
                                            {% if field == 'P' %}
                                                <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="olá">{% trans 'help' %}<img src="{% static 'img/interrog.png' %}"/></span>
                                            {% endif %}
                                            {% if field.help_text %}
                                            <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'help' %}<img src="{% static 'img/interrog.png' %}"/></span>
                                            {% endif %}
                                        </div>
										{% if child_form.instance.pk %}
											<div class="revision-icons-wrapper">
											{% if object.get_workflow_state.pk != 1 %}
												{% if form_style == "observations" %}
													<a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk sponsor_content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
                                                        
                                                        {% count_observations object.pk sponsor_content_type_id child_form.instance.pk field.name %}
                                                        {% if count_observations_result > 0 %}
                                                            {% trans "observation" %}
                                                            <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                                        {% else %}
                                                            {% trans "observation" %}
                                                            <img src="{% static 'img/edit-observation-icon.png' %}">
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    {% if not field.name == 'DELETE' %}
                                                        <a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk sponsor_content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-registrant-modal">
                                                            {% trans "observation" %}
                                                            {% count_observations object.pk sponsor_content_type_id child_form.instance.pk field.name %}
                                                            {% if count_observations_result > 0 %}
                                                                <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                                            {% else %}
                                                                <img src="{% static 'img/edit-observation-icon.png' %}">
                                                            {% endif %}
                                                        </a>
                                                    {% endif %}
												{% endif %}
											{% endif %}
											</div>
										{% endif %}

									</div>
								    <div class="row-input input{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}  "{% if field|fieldtype == 'Textarea' %} style="height:150px;"{% endif %}>
								    	<div class="field-input">
								        	{{ field }}
								        	{% if field.name == 'institution' and form_style == "default" %}
											   	<a class="new-institution-button" href="{% url 'institution_add_sponsor' object.pk 'U' %}">{% trans 'New Institution' %}</a>
											{% endif %}
								        </div>
								    	<div class="text-center">
								    		{% if form_style == 'default' %}
												{% if field.errors %}
													<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
												{% elif field.value %}
													<img src="{% static 'img/field-ok.png' %}"/>
												{% endif %}
					    					{% endif %}
										</div>
								                
								    </div>
								</div>							
							{% else %}
								{{ field }}
							{% endif %}
						{% endif %}
			         {% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	<div class="form-row inline {{ sponsors_formset.prefix }} empty-form" style="display:none;">
		{% for field in sponsors_formset.empty_form %}
			{% if not field.is_hidden %}
				<div class="fieldWrapper">
					{{ field.label_tag }}{% if field.required %}<span class="fielct-required "></span>{% endif %}
                    <div class="help-input-text">
					   {% if field.help_text %}
		                	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
		                {% endif %}
                    </div>
				    <div class="input row-input"{% if field|fieldtype == 'Textarea' %} style="height:150px;"{% endif %}>
				    	<div class="field-input">

				        {{ field }}
				        {% if field.name == 'institution' and form_style == "default" %}
						   	<a class="new-institution-button" href="{% url 'institution_add_sponsor' object.pk 'U' %}">{% trans 'New Institution' %}</a>
						{% endif %}
				        </div> 
				    </div>
				</div>
			{% else %}
				{{ field }}
			{% endif %}
          {% endfor %}
		
		</div>
	{% if form_style == 'default' %}
	  <div class="submit-line">
       	<input type="submit" value="{% trans 'Save' %}" class="button" />
      </div>
    {% endif %}
    </form>
</div>

<script src="{% static 'js/jquery.formset-for-django-select2-without-delete-link.min.js' %}"></script>
<script type="text/javascript">
	function get_url_parameters (term, page, context) {
			var field_id = jQuery(this).data('field_id'),
				res = {
					'term': term,
					'page': page,
					'context': context,
					'clinical_trial_id': "{{ object.pk }}"
				};
			if (field_id) {
				res['field_id'] = field_id;
			}
			return res;
		}

</script>

<script type="text/javascript">
$(function() {
    $('.form-row.inline.{{ sponsors_formset.prefix }}').formset({
        prefix: '{{ sponsors_formset.prefix }}',
        addText: '{% trans 'Add Another' %}'
    });
});



var BASE_INSTITUTION_ADD_URL = "{% url 'institution_add_sponsor' object.pk 'U' %}";
BASE_INSTITUTION_ADD_URL = BASE_INSTITUTION_ADD_URL.replace('/U', '/##type##');
$('.new-institution-button').each(function(index, element) {
    $(element).attr('href', BASE_INSTITUTION_ADD_URL.replace('##type##', $(element).parents('.form-row').find('select[id*="-sponsor_type"]').val()));
});

function change_new_institution_link(instituion_type_field) {
    var type = $(instituion_type_field).val();
    $(instituion_type_field).parents('.form-row').find('.new-institution-button').attr('href', BASE_INSTITUTION_ADD_URL.replace('##type##', type));;
}

$(document).delegate('select[id*="-sponsor_type"]', 'change', function(){change_new_institution_link(this);});


function get_url_parameters (term, page, context) {
            var field_id = jQuery(this).data('field_id'),
                res = {
                    'term': term,
                    'page': page,
                    'context': context,
                    'clinical_trial_id': "{{ object.pk }}"
                };
            if (field_id) {
                res['field_id'] = field_id;
            }
            return res;
        }


function hide_show_new_institution_button(sponsor_type_field) {
  if($(sponsor_type_field).val() != "") {
        $(sponsor_type_field).parents('.form-row').find('.new-institution-button').show();
    }
    else {
        $(sponsor_type_field).parents('.form-row').find('.new-institution-button').hide();
    }
}

function hide_show_institution_based_on_sponsor_type(sponsor_type_field) {
    var institution = $(sponsor_type_field).parents('.form-row').find('[id*=institution]').parents('.fieldWrapper:first').hide();
    var support_source = $(sponsor_type_field).parents('.form-row').find('[id*=support_source]').parents('.fieldWrapper:first').hide();
    var study_location = $(sponsor_type_field).parents('.form-row').find('[id*=study_location]').parents('.fieldWrapper:first').hide();
    var research_centers_in_brazil = $(sponsor_type_field).parents('.form-row').find('[id*=research_centers_in_brazil]').parents('.fieldWrapper:first').hide();

    if($(sponsor_type_field).val() == "U") {
        institution.hide();
        support_source.show();
        study_location.show();
        research_centers_in_brazil.show();
    }else {
        institution.show();
        support_source.hide();
        study_location.hide();
        research_centers_in_brazil.hide();
    }
}

$(document).delegate('[id*=-sponsor_type]', 'change', function(){
    hide_show_new_institution_button(this);
    hide_show_institution_based_on_sponsor_type(this);
});

function ensure_one_of_each_type() {
    if($('select[id*=sponsor_type] option[value=P]:selected').length == 1) {
       $('.add-row').click();
       var selected_text = $('select[id*=sponsor_type]:last').val('P').find('option:selected').html();
       $('select[id*=sponsor_type]:last').hide().after(selected_text);
       
    }else {
        var first_primary = $('select[id*=sponsor_type] option[value=P]:selected:first');
        first_primary.parent().hide().after(first_primary.html());
    }
    if($('select[id*=sponsor_type] option[value=S]:selected').length == 0) {
       $('.add-row').click();
       var selected_text = $('select[id*=sponsor_type]:last').val('S').find('option:selected').html();
       $('select[id*=sponsor_type]:last').hide().after(selected_text);
    }else {
        var first_secondary = $('select[id*=sponsor_type] option[value=S]:selected:first');
        first_secondary.parent().hide().after(first_secondary.html());
    }
    if($('select[id*=sponsor_type] option[value=U]:selected').length == 0) {
       $('.add-row').click();
       var selected_text = $('select[id*=sponsor_type]:last').val('U').find('option:selected').html();
       $('select[id*=sponsor_type]:last').hide().after(selected_text);
    }else {
        var first_support = $('select[id*=sponsor_type] option[value=U]:selected:first');
        first_support.parent().hide().after(first_support.html());
    }

    $('[id*=-sponsor_type]').each(function(){
      hide_show_new_institution_button(this);
      hide_show_institution_based_on_sponsor_type(this);
    });

    //when added a new form, make all the verifications again
    $('.add-row').on('click', function() {$('[id*=-sponsor_type]').each(function(){
      hide_show_new_institution_button(this);
      hide_show_institution_based_on_sponsor_type(this);
    });});

    //Now, loop over all the sponsors formset rows and change
    //"Add new institution" link to the proper type
    $('select[id*=sponsor_type]').each(function() {
        change_new_institution_link(this);
    });
}

window.addEventListener('load', ensure_one_of_each_type);



$(document).delegate('a.new-institution-button', 'click', function() {
    var r = confirm('{% trans "You are leaving this screen to create a new institution, any data on this step that is not saved will be lost. Continue?" %}');
    if (r == true) {
        windoe.study_location = $(this).attr('href');
    }
    return false;
});



var sponsor_type_help = {
    "P": "\nO patrocinador prim\u00e1rio \u00e9 a organiza\u00e7\u00e3o, grupo ou outra entidade legal que \u00e9 o proponente do estudo assumindo a responsabilidade de iniciar e/ou gerenciar um estudo e garantindo que o ensaio est\u00e1 devidamente registrado. \nN\u00e3o \u00e9 obrigat\u00f3rio que o patrocinador principal venha a ser o financiador direto do estudo, j\u00e1 que ele pode fazer uso de uma fonte de fomento.\n\nOrienta\u00e7\u00e3o ao registrante\n\n1) Quando um estudo pertencer a uma Universidade, Institui\u00e7\u00e3o ou Funda\u00e7\u00e3o estas ser\u00e3o o Patrocinador Prim\u00e1rio.\n\n2)Quando um estudo pertencer a Ind\u00fastria, o Patrocinador ser\u00e1 a empresa que est\u00e1 propondo o estudo, assumindo a responsabilidade de Iniciar e/ou gerenciar um estudo.\n",
    "S": "\n\n\nO patrocinador secund\u00e1rio pode ser indiv\u00edduos, organiza\u00e7\u00f5es ou outros entes legais (se houver) de institui\u00e7\u00f5es parceiras que concordaram com o patrocinador prim\u00e1rio em assumir responsabilidades. Um patrocinador secund\u00e1rio pode ter: concordado em assumir todas as responsabilidades juntamente com o patrocinador prim\u00e1rio; formar um grupo com o patrocinador prim\u00e1rio no qual as responsabilidades s\u00e3o alocadas entre os membros do grupo; atuar como representante legal do patrocinador em rela\u00e7\u00e3o a alguns ou todos os centros de pesquisa; ou assumir a responsabilidade pela acur\u00e1cia das informa\u00e7\u00f5es do ensaio submetido para registro. \nOrienta\u00e7\u00e3o ao registrante\n\n1) Quando um estudo pertencer a uma Universidade, Institui\u00e7\u00e3o ou Funda\u00e7\u00e3o o Patrocinador Secund\u00e1rio ser\u00e1  o Investigador Principal. \n\n2) Quando um estudo pertencer a Ind\u00fastria, o Patrocinador Secund\u00e1rio ser\u00e1 a ORPS que est\u00e1 assumindo as responsabilidades, juntamente com o Patrocinador Prim\u00e1rio de Iniciar e/ou gerenciar um estudo. Caso o patrocinador principal assuma a figura de ORPS este deve assumir tamb\u00e9m  a figura de Patrocinador Secund\u00e1rio.",
    "U": "\n\n\nNeste campo devem ser inseridas informa\u00e7\u00f5es sobre a(as) fonte(es) de apoio financeiro e material que s\u00e3o as institui\u00e7\u00f5es que proveem recursos financeiros, seja como financiamento de projetos ou bolsas de pesquisa (p.ex. FAPESP, CAPES, CNPq, FINEP), materiais (insumos) ou pessoal.\n\n"
}


function change_help_text(element) {
    $(element).attr('title', '').attr('data-original-title',
                    sponsor_type_help[$(element).parents('.fieldWrapper').find('[id*=sponsor_type]').val()]).tooltip('destroy');
}
$('[id*=sponsor_type]').each(function(index, element) {
    $(this).parents('.fieldWrapper').find('.field-help').on('mouseover', function() {
        change_help_text(this);
    });
});


</script>

</div>
</div>
{% endblock administration_content %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>
{% endblock %}
