{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Clinical Trials" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
    <h1>{% trans "Clinical Trials" %}</h1>
    <ul>
        {% for clinical_trial in object_list %}
            <li>
                <p>
                    <a href="{% url 'clinical_trial_detail' clinical_trial.id %}">{{ clinical_trial }}</a>
                    <br/>
                    <a class="btn btn-info" href="{% url 'clinical_trial_edit_list' clinical_trial.id %}">edit</a>
                    {% if clinical_trial.get_workflow_state.pk == STATE_EM_PREENCHIMENTO %}
                        <a class="btn btn-danger" href="{% url 'clinical_trial_delete' clinical_trial.id %}">delete</a>
                    {% endif %}  
                    <a class="btn btn-success" href="{% url 'clinical_trial_group_manage' clinical_trial.id %}">Group</a>
                </p>
            </li>
        {% endfor %}
    </ul>

    <a class="btn btn-success" href="{% url 'clinical_trial_add' %}">add</a>
{% endblock administration_content %}
