{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Outcomes" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="8" %}
{% endblock steps %}
{% block administration_content %}
<div class="row">
  <div class="col-sm-12 content">
  {% if outcomes_formset.errors or form.errors %}
      {% include "base/correct_errors_below.html" %}
  {% endif %}
  {% include "clinical_trials/messages_clinical_trials.html" %}
  <h1 class="title_line">
    <img src="{% static 'img/8-circle.png' %}"/>
    {% trans 'Outcomes' %}
  </h1>

<div class="row">

	<form class="form_ct" method="POST" action=".">
		{% csrf_token %}
		{% include "clinical_trials/clinical_trial_detail_outcomes_formset.html" with current_formset=outcomes_formset formset_content_type_id=outcome_content_type_id %}
		{% if form_style == "default" %}
		   <div class="submit-line">
	        	<input type="submit" value="{% trans 'Save' %}" class="button" />
	      </div>
	    {% endif %}
    </form>
</div>


<script src="{% static 'js/jquery.formset-without-delete-link.js' %}"></script>
{% if form_style == "default" %}
<script type="text/javascript">
$(function() {
    $('.form-row.inline.{{ outcomes_formset.prefix }}').formset({
        prefix: '{{ outcomes_formset.prefix }}',
        addText: '{% trans 'Add Another' %}',
        added: function(form) {
          if($('[id*=outcome_type] option[value="P"]:selected').length > 0) {
            $(form).find('[id*=outcome_type] option[value="P"]').remove();
          }
        }
    });
});
</script>
{% endif %}

</div>
</div>
{% endblock administration_content %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
{{ block.super }}

  <script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>

{% if is_get_request %}
  <script type="text/javascript">
    $(document).ready
      (function() {
        //check if have any primary outcome, and if not, create one just on this screen,
        //not saving the data automatically
        //OBS: this formset extra is 1, so if we dont have any primary outcome, it
        //will create a primary one in the first.
        var primary_ok = false;
        var secondary_ok = false;
        $(".form-row select[id*=outcome_type]").each(function() {
          if($(this).val() == 'P') {
            primary_ok = true;
          }
          if($(this).val() == 'S') {
            secondary_ok = true;
          }
        });

        if(!primary_ok) {
          $('.add-row').click();
          $($('.form-row:last')[0]).find('[id*=outcome_type]').val('P');
          $($('.form-row:last')[0]).find('[id*=outcome_type]').change();
          var selected = $($('.form-row:last')[0]).find('[id*=outcome_type] option:selected').html();
          $($('.form-row:last')[0]).find('[id*=outcome_type]').hide().after(selected);
        }
        else {
          var option_element = $($('.form-row [id*=outcome_type] option:selected[value="P"]')[0]);
          option_element.parents('select:first').hide().after(option_element.html());
        }
        if(!secondary_ok) {
          $('.add-row').click();
          $($('.form-row:last')[0]).find('[id*=outcome_type]').val('S');
          $($('.form-row:last')[0]).find('[id*=outcome_type]').change();
          var selected = $($('.form-row:last')[0]).find('[id*=outcome_type] option:selected').html();
          $($('.form-row:last')[0]).find('[id*=outcome_type]').hide().after(selected);
        }
        else {
          var option_element = $($('.form-row [id*=outcome_type] option:selected[value="S"]')[0]);
          option_element.parents('select:first').hide().after(option_element.html());
        }

        $('.form-row [id*=outcome_type] option:selected[value!="P"]').each(function(){
            $(this).parents('select:first').find('option[value="P"]').remove();
        });

      });
  </script>
{% endif %}
{% endblock %}