{% load static i18n ct_tags %}
{% csrf_token %}
{{ current_formset.management_form }}
{% for field in form %}
	{% if not field.is_hidden %}
		{% if form_style == "default" or form_style == "observations" and form.instance.pk  %}
			{% if field.name == 'world_target_size' %}
				<div class="help-input-text">
				<span class="field-help"  data-html="true" data-toggle="tooltip" data-placement="left" data-original-title='O registrante deverá indicar o número de participantes que este estudo pretende inscrever (ou inscreveu no caso de recrutamento completo e/ou análise de dados completa) no Total (Mundo) e no Brasil nos seus respectivos campos.'>{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
				</div>
				<h2 id="title_no_bold">{% trans "Target Sample Size" %}</h2>
				<hr/>
			{% endif %}
			{% if field.name == 'minimum_age_no_limit' or field.name == 'maximum_age_no_limit' %}
				<div class="div-unique-background">
			{% endif %}
			<div class="fieldWrapper">
				<div class="row-input label-line">
					<div>
						{{ field.label_tag }}{% if field.field.required or field.name == 'date_first_enrollment' or field.name == 'date_last_enrollment' or field.name == 'gender'  %}<span class="fielct-required"></span>{% endif %}
					</div>
					<div class="help-input-text">
					{% if field.help_text %}
		            	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
		        	{% endif %}
		        	</div>
					<div class="revision-icons-wrapper">
					   {% if object.get_workflow_state.pk != 1 %}
							{% if form_style == "observations" %}
								<a href="{% url 'field_revisor_screen' form.instance.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
									{% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
									{% if count_observations_result > 0 %}
										{% trans "observation" %}
										<img src="{% static 'img/view-pending-observations-icon.png' %}">
									{% else %}
										{% trans "observation" %}
										<img src="{% static 'img/edit-observation-icon.png' %}">
									{% endif %}
								</a>
							{% else %}
								<a href="{% url 'field_registrant_screen' form.instance.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
									{% trans "observation" %}
									{% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
									{% if count_observations_result > 0 %}
										<img src="{% static 'img/view-pending-observations-icon.png' %}">
									{% else %}
										<img src="{% static 'img/edit-observation-icon.png' %}">
									{% endif %}
								</a>
							{% endif %}
						{% endif %}
					</div>
					
				</div>
			    <div class="row-input input {% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}" id="{{ field.html_name }}">
			    	<div class="field-input">
			        {{ field }}
			        </div>
			    	<div class="text-center">
			    		{% if form_style == 'default' %}
							{% if field.errors %}
								<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
							{% elif field.value %}
								<img src="{% static 'img/field-ok.png' %}"/>
							{% endif %}
						{% endif %}
					</div>
			                
			    </div>
			</div>
            {% if field.name == 'minimum_age_unit' or field.name == 'maximum_age_unit' %}
            	</div>
			{% endif %}
			{% if field.name == 'statistical_sample_analysis' %}
				<hr/>
			{% endif %}
		{% endif %}
	{% else %}
		{{ field }}
	{% endif %}
{% endfor %}
{% for temp_field in current_formset.0 %}
	{% if not temp_field.is_hidden %}
		<p class="form-label">{{ temp_field.label_tag }}</p>
		{% if temp_field.name ==  'inclusion_criteria' %}
		<div class="help-input-text">
		<span class="field-help"  data-html="true" data-toggle="tooltip" data-placement="left" data-original-title='<p>No campo CRITÉRIOS DE INCLUSÃO você deve relacionar os critérios que serão usados no processo de seleção para que um indivíduo possa participar do estudo. Na redação dos critérios, favor não usar marcadores de texto (letras, hífens, números, ‘bolinhas’, ‘setinhas’ etc.), evidenciar apenas os critérios do protocolo que os sujeitos em potencial devem atender para serem elegíveis para a participação no estudo. Estes devem estar separados apenas por ponto e vírgula (;). </p><p>Por exemplo: “Voluntários sadios; ambos os gêneros; não fumantes; idade entre 18 e 60 anos; peso dentro do limite de variação de 15% do peso considerado normal para homens e mulheres, levando-se em consideração altura e estrutura física.”.</p>'>
		{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
		</div>
		<br />
		{% endif %}
		{% if temp_field.name == 'exclusion_criteria' %}
		<div class="help-input-text">
		<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title='<p>No campo CRITÉRIOS DE EXCLUSÃO você deve relacionar os critérios para a não seleção dos participantes. Ou seja, referem-se à não inclusão de um indivíduo no estudo, o que é diferente de critérios de descontinuidade (ou retirada de um participante). Na redação dos critérios, favor não usar marcadores de texto (letras, hífens, números, ‘bolinhas’, ‘setinhas’ etc.),  evidenciar apenas os critérios do protocolo que os sujeitos em potencial devem atender para serem elegíveis para a participação no estudo. Estes devem estar separados apenas por ponto e vírgula(;).</p><p>Por exemplo: “Voluntários fumantes; histórico de abuso de álcool ou drogas; diagnósticos de patologias cardíacas, renais, gastrintestinais, hepáticas, pulmonares, neurológicas, psiquiátricas, hematológicas ou metabólicas; antecedentes de hipersensibilidade a medicamentos; que estejam recebendo medicamentos uma semana antes do estudo ou durante a sua realização; que não estejam disponíveis para participar de todas as etapas do estudo.”.</p>'>
		{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
		</div>
		<br />
		{% endif %}

		{% if temp_field.name ==  'inclusion_criteria' or temp_field.name == 'exclusion_criteria' %}
			<span class="help-below-label">
				{% trans 'Type and hit Enter or ; to separate the criterias.' %}
			</span>
		{% endif %}
		<div class="fields-wrapper">
			{% for child_form in current_formset %}
				{% for field in child_form %}
					{% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
						{% if field.name == temp_field.name %}
								<div class="row-input label-line{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}">
									<div class="icon_caret">
										<span class="glyphicon caret"></span>{{ child_form.instance.language_code }}
									</div>
									<div class="help-input-text">
										{% if field.help_text %}
											<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">
												{% trans 'help' %}<img src="{% static 'img/interrog.png' %}">
											</span>
										{% endif %}
									</div>
									<div class="revision-icons-wrapper">
									   {% if object.get_workflow_state.pk != 1 %}
											{% if form_style == "observations" %}
												<a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
													{% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
													{% if count_observations_result > 0 %}
														{% trans "observation" %}
														<img src="{% static 'img/view-pending-observations-icon.png' %}">
													{% else %}
														{% trans "observation" %}
														<img src="{% static 'img/edit-observation-icon.png' %}">
													{% endif %}
												</a>
											{% else %}
												<a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
													{% trans "observation" %}
													{% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
													{% if count_observations_result > 0 %}
														<img src="{% static 'img/view-pending-observations-icon.png' %}">
													{% else %}
														<img src="{% static 'img/edit-observation-icon.png' %}">
													{% endif %}
												</a>
											{% endif %}
										{% endif %}
									</div>
									
								</div>
								<div class="row-input  ">
								<div class="field-input {% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}">
	    							{{ field }}
	    						</div>
	    						<div class="text-center">
	    							{% if form_style == 'default' %}
		    							{% if field.errors %}
		    								<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
		    							{% elif field.value %}
		    								<img src="{% static 'img/field-ok.png' %}"/>
		    							{% endif %}
		    						{% endif %}
	    						</div>
	    						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	{% else %}
		{% for child_form in current_formset %}
				{% for field in child_form %}
					{% if field.name == temp_field.name %}
						{{ field }}
					{% endif %}
				{% endfor %}
		{% endfor %}
	{% endif %}
{% endfor %}

<script type="text/javascript">
	
	function check_minimun_age() {
		if($('#id_minimum_age_no_limit').val() == 'True') {
			$('#id_inclusion_minimum_age').val('').parents('.fieldWrapper').hide();
			$('#id_minimum_age_unit').val('').parents('.fieldWrapper').hide();
		}else {
			$('#id_inclusion_minimum_age').parents('.fieldWrapper').show();
			$('#id_minimum_age_unit').parents('.fieldWrapper').show();
		}
	}
	function check_maximum_age() {
		if($('#id_maximum_age_no_limit').val() == 'True') {
			$('#id_inclusion_maximum_age').val('').parents('.fieldWrapper').hide();
			$('#id_maximum_age_unit').val('').parents('.fieldWrapper').hide();
		}else {
			$('#id_inclusion_maximum_age').parents('.fieldWrapper').show();
			$('#id_maximum_age_unit').parents('.fieldWrapper').show();
		}
	}
	$('#id_minimum_age_no_limit').on('change', function() {
		check_minimun_age();
	});
	$('#id_maximum_age_no_limit').on('change', function() {
		check_maximum_age();
	});
	check_minimun_age();
	check_maximum_age();
</script>
