{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Create Contact" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<h1>{% trans 'Create a new contact' %}</h1>
<hr/>
<form  class="form_ct" action="" method="post">{% csrf_token %}
    {% include 'base/field_wrapper.html' with field=form.institution %}

    {% include 'base/field_wrapper.html' with field=form.first_name %}

    {% include 'base/field_wrapper.html' with field=form.middle_name %}

    {% include 'base/field_wrapper.html' with field=form.last_name %}

    {% include 'base/field_wrapper.html' with field=form.email %}

    <div class="fieldWrapper">
        <label>{% trans 'Search for address' %}</label><br />
        <div class="input">
            <input type="text" id="address_search">
        </div>
    </div>

    {% include 'base/field_wrapper.html' with field=form.address %}

    {% include 'base/field_wrapper.html' with field=form.city %}

    {% include 'base/field_wrapper.html' with field=form.state %}

    {% include 'base/field_wrapper.html' with field=form.country %}

    {% include 'base/field_wrapper.html' with field=form.postal_code %}

    {% include 'base/field_wrapper.html' with field=form.phone %}
    <div class="submit-line">
    <p>{{ message }}</p>
    <input type="hidden" name="confirm", value="yes"/>
    
      <input type="submit" value="{% trans 'Confirm' %}" class="button" />
      <a class="button_gray" href="{{ cancel_url }}">{% trans 'No' %}</a>
    </div>
</form>

<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.geocomplete.min.js' %}"></script>
<script type="text/javascript">
    $("#address_search").geocomplete()
      .bind("geocode:result", function(event, result){
          var search_result = {};
          $.each(result.address_components, function(index, object){
              var name = object.types[0];
              search_result[name] = object.long_name;
              search_result[name + "_short"] = object.short_name;
          });
          $('#id_state').val(search_result.administrative_area_level_1);
          $('#id_city').val(search_result.locality);
          var address = search_result.route;
          if(search_result.street_number) {
            address = address + ' ' + search_result.street_number;
          }
          if(search_result.neighborhood) {
            address = address + ', ' + search_result.neighborhood;
          }
          $('#id_address').val(address);
          $('#id_country').val(search_result.country_short);
    });

  </script>
<script type="text/javascript">
$(document).ready(function(){    
    $("#id_postal_code").mask("99.999-999");
});
</script>
{% endblock administration_content %}

{% block extrascripts %}
{{ block.super }}

<script type="text/javascript" src="{% static 'js/maskinput.js' %}"/></script>
    <script type="text/javascript">
        $('span.field-help, img.field-error').tooltip({'trigger': 'click'});
        $('.field-error').parents('.fields-wrapper').addClass('with-error');
        $('.field-error').parents('.input').addClass('with-error');
    </script>
    <script type="text/javascript">
    function get_url_parameters (term, page, context) {
            var field_id = jQuery(this).data('field_id'),
                res = {
                    'term': term,
                    'page': page,
                    'context': context,
                    'clinical_trial_id': "{{ clinical_trial_pk }}"
                };
            if (field_id) {
                res['field_id'] = field_id;
            }
            return res;
        }
    </script>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
    <style type="text/css">
        div.fields-wrapper.with-error, div.input.with-error {
            background-color: #EBC0D0;
            border: 1px solid #000000;
        }
        .fieldWrapper {
            width: 60%;
        }
        .input {
            width: 100%;
        }
    </style>

{% endblock %}
