{% extends "clinical_trials/base_clinical_trials.html" %}
{% load static i18n ct_tags %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Interventions" %}
    </div>
</li>
{% endblock %}
{% block steps %}
{% include "clinical_trials/clinical_trial_steps_div.html" with active_step="5" %}
{% endblock steps %}
{% block administration_content %}
<div class="row">
  <div class="col-sm-12 content">
  {% if interventions_formset.errors or observations_formset.errors or form.errors %}
      {% include "base/correct_errors_below.html" %}
  {% endif %}
  {% include "clinical_trials/messages_clinical_trials.html" %}
  <h1 class="title_line">
    <img src="{% static 'img/5-circle.png' %}"/>
    {% if object.study_type == 'I' %}
      {% trans 'Interventions' %}
    {% else %}
      {% trans 'Observations' %}
    {% endif %}
  </h1>

<div class="row">
    <form class="form_ct" method="POST" action=".">
    {% csrf_token %}
    {{ interventions_formset.management_form }}
    {% if object.study_type == 'I' %}
    <div class="help-input-text">
        <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="Neste campo devem ser inseridas informações sobre cada uma das intervenções (braços) do estudo.">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
    </div>
    <h2 class="subtitle-formset">{% trans 'Interventions' %}</h2>
     
    
    {% include "clinical_trials/clinical_trial_ctdetail_generic_formset.html" %}
    {% for child_form in interventions_formset %}
      {% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
        <div class="form-row inline {{ interventions_formset.prefix }}">
          {% for field in child_form %}
              {% if field.name == 'vocabulary_item_en' or field.name == 'vocabulary_item_es' or field.name == 'vocabulary_item_pt' or not field.is_hidden %}
               {% if form_style == "default" or form_style == "observations" and not field.name == 'DELETE' %}
                  <div class="fieldWrapper">
                    <div class="row-input label-line">
                      <div class="no-margin-left">
                        {{ field.label_tag }}{% if field.field.required %}<span class="fielct-required "></span>{% endif %}
                      </div>
                      <div class="help-input-text">
                         {% if field.help_text %}
                          <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
                        {% endif %}
                      </div>
                      <div class="revision-icons-wrapper">
                        {% if form_style == "observations" %}
                          <a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk interventions_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
                            {% count_observations object.pk interventions_formset.content_type_id child_form.instance.pk field.name %}
                            {% if count_observations_result > 0 %}
                              {% trans "observation" %}
                              <img src="{% static 'img/view-pending-observations-icon.png' %}">
                            {% else %}
                              {% trans "observation" %}
                              <img src="{% static 'img/edit-observation-icon.png' %}">
                            {% endif %}
                          </a>
                        {% else %}
                          {% if child_form.instance.pk %}
                            <a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk interventions_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
                              {% trans "observation" %}
                              {% count_observations object.pk interventions_formset.content_type_id child_form.instance.pk field.name %}
                              {% if count_observations_result > 0 %}
                                <img src="{% static 'img/view-pending-observations-icon.png' %}">
                              {% else %}
                                <img src="{% static 'img/edit-observation-icon.png' %}">
                              {% endif %}
                            </a>
                          {% endif %}
                        {% endif %}
                      </div>
                      
                    </div>
                   
                      <div class="row-input input{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %} "{% if field.name == 'description' %} style="height: 145px;"{% endif %}>
                        <div class="field-input">
                          {{ field }}
                          </div>
                        <div class="text-center">
                        {% if field.errors %}
                          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
                        {% elif field.value %}
                          <img src="{% static 'img/field-ok.png' %}"/>
                        {% endif %}
                        {% if field.name in child_form.instance.get_last_wk_state_observations %}
                            <a data-toggle="modal" data-target="#modal" href="{% url 'list_workflow_field_observation' object.pk interventions_formset.content_type_id child_form.instance.pk field.name %}">
                              <span class="glyphicon glyphicon-envelope icon-error"></span>
                            </a>
                        {% endif %}
                      </div>
                                  
                      </div>
                  </div>
                  {% endif %}
              {% else %}
                {{ field }}
              {% endif %}
          {% endfor %}
        {% endif %}
        
        </div>
      {% endfor %}
    <div class="form-row inline {{ interventions_formset.prefix }}" style="display:none;">
        {% for field in interventions_formset.empty_form %}
          {% if not field.is_hidden %}
            <div class="fieldWrapper">
              {{ field.label_tag }}{% if field.field.required %}<span class="fielct-required "></span>{% endif %}
              <div class="help-input-text">
              {% if field.help_text %}
                <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
              {% endif %}
              </div>
                <div class="row-input input  "{% if field.name == 'description' %} style="height: 145px;"{% endif %}>
                  <div class="field-input">
                    {{ field }}
                  </div> 
                </div>
            </div>
          {% else %}
            {{ field }}
          {% endif %}
              {% endfor %}
    
    </div>

  {% endif %}

    {{ observations_formset.management_form }}
    {% if object.study_type == 'O' %}
    <div class="help-input-text">
      <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>Caro registrante, a revisão da seção DESENHO DO ESTUDO depende diretamente das informações contidas no campo OBSERVAÇÃO E TIPO DE ESTUDO. PORTANTO, solicitamos especial ATENÇÃO para que não existam divergências de informações.</p>">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
    </div>
     <h2 class="subtitle-formset">{% trans 'Methods and Observation Techniques' %}</h2>
        

    {% for child_form in observations_formset %}
      {% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
        <div class="form-row inline {{ observations_formset.prefix }}">
          {% for field in child_form %}
              {% if field.name == 'vocabulary_item_en' or field.name == 'vocabulary_item_es' or field.name == 'vocabulary_item_pt' or not field.is_hidden %}
               {% if form_style == "default" or form_style == "observations" and not field.name == 'DELETE' %}
                  <div class="fieldWrapper{% if field.name == 'vocabulary_item_en' or field.name == 'vocabulary_item_es' or field.name == 'vocabulary_item_pt' and not form_style == 'observations' %} vocabulary_item_wrapper{% endif %}">
                    <div class="row-input label-line">
                      <div class="no-margin-left">
                        {{ field.label_tag }}{% if field.field.required %}<span class="fielct-required "></span>{% endif %}
                      </div>
                      <div class="help-input-text">
                      {% if field.help_text %}
                        <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
                      {% endif %}
                      </div>
                      <div class="revision-icons-wrapper">
                         {% if object.get_workflow_state.pk != 1 and child_form.instance.pk and form_style == "default" and not field.name == 'DELETE' or form_style == "observations" %}
                            {% if form_style == "observations" %}
                              <a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk observations_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
                                {% count_observations object.pk observations_formset.content_type_id child_form.instance.pk field.name %}
                                {% if count_observations_result > 0 %}
                                  {% trans "observation" %}
                                  <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                {% else %}
                                  {% trans "observation" %}
                                  <img src="{% static 'img/edit-observation-icon.png' %}">
                                {% endif %}
                              </a>
                            {% else %}
                              <a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk observations_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
                                {% trans "observation" %}
                                {% count_observations object.pk observations_formset.content_type_id child_form.instance.pk field.name %}
                                {% if count_observations_result > 0 %}
                                  <img src="{% static 'img/view-pending-observations-icon.png' %}">
                                {% else %}
                                  <img src="{% static 'img/edit-observation-icon.png' %}">
                                {% endif %}
                              </a>
                            {% endif %}
                        {% endif %}
                      </div>
                      
                    </div>
                    
                      <div class="row-input input{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}"{% if field.name == 'description' %} style="height: 145px;"{% endif %}>
                        <div class="field-input">
                          {{ field }}
                          </div>
                        <div class="text-center">
                        {% if field.errors %}
                          <img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
                        {% elif field.value %}
                          <img src="{% static 'img/field-ok.png' %}"/>
                        {% endif %}
                        {% if field.name in child_form.instance.get_last_wk_state_observations %}
                            <a data-toggle="modal" data-target="#modal" href="{% url 'list_workflow_field_observation' object.pk observations_formset.content_type_id child_form.instance.pk field.name %}">
                              <span class="glyphicon glyphicon-envelope icon-error"></span>
                            </a>
                        {% endif %}
                      </div>
                                  
                      </div>
                  </div>
                  {% endif %}
              {% else %}
                {{ field }}
              {% endif %}
          {% endfor %}
        {% endif %}
        
        </div>
      {% endfor %}
    <div class="form-row inline {{ observations_formset.prefix }}" style="display:none;">
        {% for field in observations_formset.empty_form %}
          {% if not field.is_hidden %}
            <div class="fieldWrapper{% if field.name == 'vocabulary_item_en' or field.name == 'vocabulary_item_es' or field.name == 'vocabulary_item_pt' %} vocabulary_item_wrapper{% endif %}">
              {{ field.label_tag }}{% if field.field.required %}<span class="fielct-required "></span>{% endif %}
                <div class="help-input-text">
                {% if field.help_text %}
                  <span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %} <img src="{% static 'img/interrog.png' %}"/></span>
                {% endif %}
                </div>
                <div class="row-input input"{% if field.name == 'description' %} style="height: 145px;"{% endif %}>
                  <div class="field-input">
                    {{ field }}
                    </div>      
                </div>
            </div>
          {% else %}
            {{ field }}
          {% endif %}
              {% endfor %}
    </div>

  {% endif %}

    {% if form_style == "default" %}  
        <div class="submit-line">
          <input type="submit" value="{% trans 'Save' %}" class="button" />
        </div>
    {% endif %}
    </form>
</div>


<script src="{% static 'js/jquery.formset-for-django-select2-without-delete-link.min.js' %}"></script>

<script type="text/javascript">
  function get_url_parameters (term, page, context) {
      var field_id = jQuery(this).data('field_id'),
        res = {
          'term': term,
          'page': page,
          'context': context,
          'vocabulary_id': $(this).parents('div.form-row:eq(0)').find('[id*=-parent_vocabulary]').val()
        };
      if (field_id) {
        res['field_id'] = field_id;
      }
      return res;
    }
</script>
{% if form_style == "default" %}
<script type="text/javascript">
$(function() {
    $('.form-row.inline.{{ interventions_formset.prefix }}').formset({
        prefix: '{{ interventions_formset.prefix }}',
        addText: '{% trans 'Add Another' %}'
    });
});

$(function() {
    $('.form-row.inline.{{ descriptors_formset.prefix }}').formset({
        prefix: '{{ descriptors_formset.prefix }}',
        addText: '{% trans 'Add Another' %}'
    });
});

$(function() {
    $('.form-row.inline.{{ observations_formset.prefix }}').formset({
        prefix: '{{ observations_formset.prefix }}',
        addText: '{% trans 'Add Another' %}'
    });
});

$(document).delegate('[id*=-parent_vocabulary]', 'change', function(){
    if($(this).val()) {
        $(this).parents('.form-row').find('.vocabulary_item_wrapper').show().find('[id*=vocabulary_item]').select2("val", "");
    }
    else {
        $(this).parents('.form-row').find('.vocabulary_item_wrapper').hide().find('[id*=vocabulary_item]').select2("val", "");
    }
});

$('[id*=-parent_vocabulary]').each(function(){
  if($(this).val()) {
        $(this).parents('.form-row').find('.vocabulary_item_wrapper').show();
    }
});
</script>

{% endif %}
<script type="text/javascript">
    $('#id_intervention_codes').parents('.input:eq(0)').css('height', (Number($('#id_intervention_codes').css('height').split('px')[0])+40+"px"));
</script>

</div>
</div>
<style>
.tooltip {
    width: 750px!important;
  }
</style>
{% endblock administration_content %}

{% block extrastyle %}
<style>
  .vocabulary_item_wrapper {
    display: none;
  }
</style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">
{% endblock %}

{% block extrascripts %}
{{ block.super }}

  <script type="text/javascript" src="{% static 'js/clinical_trials.js' %}"></script>

  <script type="text/javascript">
  (function() {
      /*Show or hide the description_other field of the forms n the formset, based on the selected arm_type.*/
      function show_hide_description_other(arm_type_element) {
        if($(arm_type_element).val() == '5') {
          $(arm_type_element).parents('div.form-row').find('input[id*=description_other]').parents('.fieldWrapper').show();
        }
        else {
          $(arm_type_element).parents('div.form-row').find('input[id*=description_other]').val('').parents('.fieldWrapper').hide();
        }
      }

      $('body').delegate('select[id*=-arm_type]', 'change', function() {
        show_hide_description_other(this);
      });
      $('select[id*=-arm_type]').each(function(index, elem) {
        show_hide_description_other(elem);
      });
    })();
  </script>
{% endblock %}