{% load static i18n ct_tags %}
{% csrf_token %}
{{ current_formset.management_form }}
{% for temp_field in current_formset.0 %}
	{% if not temp_field.is_hidden %}
		<p class="form-label">{{ temp_field.label_tag }}</p>
		<div class="fields-wrapper">
			{% for child_form in current_formset %}
				{% for field in child_form %}
					{% if form_style == "default" or form_style == "observations" and child_form.instance.pk  %}
						{% if field.name == temp_field.name %}
							<div class="fieldWrapper">
								<div class="row-input label-line">
									<div class="icon_caret">
										<span class="glyphicon caret"></span>{{ child_form.instance.language_code }}
									</div>
									<div class="help-input-text">
									{% if field.help_text %}
										<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">
											{% trans 'Help' %}
											<img src="{% static 'img/interrog.png' %}" />
										</span>
									{% endif %}
									</div>
									<div class="revision-icons-wrapper">
									   {% if object.get_workflow_state.pk != 1 %}
											{% if form_style == "observations" %}
												<a href="{% url 'field_revisor_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" title="{% trans 'Add an observation' %}" data-toggle="modal" data-target="#field-revision-modal">
													{% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
													{% trans "observation" %}
													{% if count_observations_result > 0 %}
														<img src="{% static 'img/view-pending-observations-icon.png' %}">
													{% else %}
														<img src="{% static 'img/edit-observation-icon.png' %}">
													{% endif %}
												</a>
											{% else %}
												<a href="{% url 'field_registrant_screen' child_form.instance.clinical_trial.pk current_formset.content_type_id child_form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-registrant-modal">
													{% trans "observation" %}
													{% count_observations object.pk current_formset.content_type_id child_form.instance.pk field.name %}
													{% if count_observations_result > 0 %}
														<img src="{% static 'img/view-pending-observations-icon.png' %}">
													{% else %}
														<img src="{% static 'img/edit-observation-icon.png' %}">
													{% endif %}
												</a>
											{% endif %}
										{% endif %}
									</div>
								</div>
								<div class="row-input">
								<div class="field-input {% if field_changed and not field.name == 'DELETE' %} red-border-in-field{% endif %}">
	    							{{ field }}
	    						</div>
	    						<div class="text-center">
	    							{% if form_style == 'default' %}
		    							{% if field.errors %}
		    								<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
		    							{% elif field.value %}
		    								<img src="{% static 'img/field-ok.png' %}"/>
		    							{% endif %}
		    						{% endif %}
	    						</div>
	    						</div>
	    					</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	{% else %}
		{% for child_form in current_formset %}
				{% for field in child_form %}
					{% if field.name == temp_field.name %}
						{{ field }}
					{% endif %}
				{% endfor %}
		{% endfor %}
	{% endif %}
{% endfor %}

{% for field in form %}
	{% if not field.is_hidden %}
		{% if form_style == "default" or form_style == "observations" and form.instance.pk  %}
			<div class="fieldWrapper">
				<div class="row-input label-line">
					<div class="no-margin-left">
						{{ field.label_tag }}{% if field.field.required %}<span class="fielct-required"></span>{% endif %}
					</div>
					<div class="help-input-text {{ field.name }}">
						{% if field.help_text %}
		            	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
		            	{% endif %}
		            	{% if field.name == "intervention_codes" %}
		            	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="<p>Marcar uma ou mais categorias que representem o(s) tipo(s) de intervenções (a serem) realizadas no estudo registrado. Caso não encontre uma categoria adequada, marque a opção ‘Outro’.</p>">{% trans 'Help' %}<img src="{% static 'img/interrog.png' %}"/></span>
		            	{% endif %}
		            </div>
					<div class="revision-icons-wrapper">
					   {% if object.get_workflow_state.pk != 1 %}
						    {% if form_style == "observations" %}
								<a href="{% url 'field_revisor_screen' form.instance.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
									{% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
									{% if count_observations_result > 0 %}
										{% trans "observation" %}
										<img src="{% static 'img/view-pending-observations-icon.png' %}">
									{% else %}
										{% trans "observation" %}
										<img src="{% static 'img/edit-observation-icon.png' %}">
									{% endif %}
								</a>
							{% else %}
								<a href="{% url 'field_registrant_screen' form.instance.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}"   data-toggle="modal" data-target="#field-registrant-modal">
									{% trans "observation" %}
									{% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
									{% if count_observations_result > 0 %}
										<img src="{% static 'img/view-pending-observations-icon.png' %}">
									{% else %}
										<img src="{% static 'img/edit-observation-icon.png' %}">
									{% endif %}
								</a>
							{% endif %}
						{% endif %}
					</div>
					
				</div>
				
			    <div class="row-input input{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}">
			    	<div class="field-input">
			        {{ field }}
			        </div>
			    	<div class="text-center">
			    		{% if form_style == 'default' %}
							{% if field.errors %}
								<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
							{% elif field.value %}
								<img src="{% static 'img/field-ok.png' %}"/>
							{% endif %}
						{% endif %}
					</div>
			                
			    </div>
			</div>
		{% endif %}
	{% else %}
		{{ field }}
	{% endif %}
{% endfor %}