{% extends "administration/base_administration.html" %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Group Management" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<h1>{% trans "Group Management" %}</h1>
<hr />
<form method="post" class="group">{% csrf_token %}
    {{ form.as_p }}
    <br />
    <input class="button" type="submit" value="{% trans 'Save' %}" />
</form>

{% endblock administration_content %}