{% extends "administration/base_administration.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{{ block.super }}
{% if must_show_ct_edit_breadcrumb_link %}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
{% endif %}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_detail" object.id %}">
            {% trans "Clinical trial Detail" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Clinical trial history" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

<h1 class="main-title">{% trans 'Clinical trial history' %}</h1>
<br/>

<table class="table table-bordered" style="font-size:13pt;">
    <thead>
        <tr>
            <th>
                {% trans 'Date' %}
            </th>
            <th>
                {% trans 'Event' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for i in history_list %}
            <tr>
                <td>
                    {{ i.0 }}
                </td>
                <td>
                    {{ i.1 }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a class="show_all" href="{% if back_url %}{{ back_url }}{% else %}{% url "clinical_trial_detail" object.id %}{% endif %}">
{% trans "Back" %}
</a>
{% endblock %}
