{% extends "administration/base_administration.html" %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" object.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Confirm Decision" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
{% if request.is_ajax %}
	<a class="close" data-dismiss="modal"><img src="/static/img/close.png" /></a>
{% endif %}
<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <p>{% trans 'Are you sure you want to delete' %} "{{ object }}"?</p>
    <input class="confirm_delete" type="submit" value="{% trans 'Confirm' %}" />
    <a href="{% url 'home' %}" class="no_delete">{% trans "No" %}</a>
</form>

{% endblock administration_content %}
