{% load i18n %}
{% blocktrans %}
Hello,
The clinical trial has been <b>approved</b>.

To view the clinical trial: <a href="{{ site_url }}{{ trial.get_absolute_url }}">Click here</a>
{% endblocktrans %}