{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" clinical_trial_id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
{% if HTTP_REFERER %}
<li class="formTab">
    <div>
        <a href="{% if clinical_trial_url_step %}{{ clinical_trial_url_step }}{% else %}{{ HTTP_REFERER }}{% endif %}">
            {% trans "Clinical Trial Step" %}
        </a>
    </div>
</li>
{% endif %}
<li class="formTab">
    <div class="selected">
    {% trans 'Field Change History' %}
    </div>
</li>
{% endblock breadcrumbs %}
{% block administration_content %}

<h1>
    {% trans 'Change History' %}
</h1>
<hr />
<h3>{% trans 'History' %}</h3>
<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th><p>{% trans 'Date' %}</p></th>
        <th><p>{% trans 'User' %}</p></th>
        <th><p>{% trans 'Content' %}</p></th>
    </tr>
    </thead>
    <tbody>
    {% for i in history %}
        <tr class="table_style">
            <td>{{ i.date|default_if_none:"" }}</td>
            <td>{{ i.user|default_if_none:"" }}</td>
            <td style="white-space:normal;">{{ i.content|default_if_none:"" }}</td>
        </tr>
    {% empty %}
     <tr>
         <td colspan="2">
             {% trans 'No history for this field yet' %}
         </td>
     </tr>
    {% endfor %}
    </tbody>
</table>

<a class="button" href="{% if clinical_trial_url_step %}{{ clinical_trial_url_step }}{% else %}{{ HTTP_REFERER }}{% endif %}">{% trans 'Back' %}</a>
{% endblock administration_content %}