{% load i18n static %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title">{% trans 'Field Revision' %}</h4>
</div>
<div class="modal-body">
<hr />
    <div id="field-content-show">
    </div>

<h2>
    {% trans 'Change History' %}
</h2>
<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th><p>{% trans 'Date' %}</p></th>
        <th><p>{% trans 'User' %}</p></th>
        <th><p>{% trans 'Content' %}</p></th>
    </tr>
    </thead>
    <tbody>
    {% for i in history %}
        <tr class="table_style">
            <td>{{ i.date|default_if_none:"" }}</td>
            <td>{{ i.user|default_if_none:"" }}</td>
            <td style="white-space:normal;">{{ i.content|default_if_none:"" }}</td>
        </tr>
    {% empty %}
     <tr>
         <td colspan="2">
             {% trans 'No history for this field yet' %}
         </td>
     </tr>
    {% endfor %}
    </tbody>
</table>


<h2>
    {% trans ' Registrant Observations History' %}
</h2>
<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th><p>{% trans 'Date' %}</p></th>
        <th><p>{% trans 'User' %}</p></th>
        <th><p>{% trans 'Observation' %}</p></th>
    </tr>
    </thead>
    <tbody>
    {% for i in registrant_observation_history %}
        <tr class="table_style">
            <td>{{ i.update_date }}</td>
            <td>{{ i.user }}</td>
            <td>{{ i.observation }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
            <form id="new-observation-modal-form" action="{{ request.get_full_path }}" method="post">
                {% csrf_token %}
                <div class="field_errors" style="display:none;">
                    <div class="alert alert-danger">
                        {% trans "This field is required" %}
                    </div>
                </div>
                <textarea name="new_reg_obs"></textarea>
                <input type="submit" class="button pull-right no-margin" value="{% trans 'Refresh comments' %}" />
            </form>
        </td>
    </tr>
    </tbody>
    </table>


<h2>
    {% trans ' Reviser Observations History' %}
</h2>
<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th><p>{% trans 'Date' %}</p></th>
        <th><p>{% trans 'User' %}</p></th>
        <th><p>{% trans 'Observation' %}</p></th>
    </tr>
    </thead>
    <tbody>
    {% for i in revisor_observation_history %}
        <tr class="table_style">
            <td>{{ i.update_date }}</td>
            <td>{{ i.user }}</td>
            <td>{{ i.observation }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
<script type="text/javascript">
    $('#new-observation-modal-form').on('submit', function(event){
        if(!$('#new-observation-modal-form textarea[name=new_reg_obs]').val()) {
            event.preventDefault();
            $('#new-observation-modal-form .field_errors').show();
        }
    });
</script>
{% comment %}
<script type="text/javascript">
    (function(){
        var html = $('a[href*="{{ request.path }}"]').parents('.fieldWrapper').html();
        $('#field-content-show').html(html);
        $('#field-content-show a[data-target="#field-registrant-modal"]').remove();
    })();
</script>
</script>
{% endcomment %}