{% extends "administration/base_administration.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{{ block.super }}
{% if must_show_ct_edit_breadcrumb_link %}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" clinical_trial.id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
{% endif %}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_detail" clinical_trial.id %}">
            {% trans "Clinical trial Detail" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans "Pending Observations" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

<h1 class="main-title">{% trans 'Clinical trial history' %}</h1>
<br/>

<h4>{% trans 'New General Observations' %}</h4>
<hr>
<table class="table table-bordered table_list" >
    <thead>
        <tr class="table_title">
            <th>
                {% trans 'Date' %}
            </th>
            <th>
                {% trans 'User' %}
            </th>
            <th>
                {% trans 'Observation' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for i in general_new %}
            <tr>
                <td>
                    {{ i.update_date|date:"d/m/Y H:i" }}
                </td>
                <td>
                    {{ i.user }}
                </td>
                <td style="white-space:normal;">
                    {{ i.observation }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">{% trans "No pending observations to show." %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if show_new_general_obs_form %}
  <form action="." method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="button" value="{% trans 'Create' %}">
  </form>
{% endif %}
<br>

<h4>{% trans 'History of General Observations' %}</h4>
<hr>
<table class="table table-bordered table_list" >
    <thead>
        <tr class="table_title">
            <th>
                {% trans 'Date' %}
            </th>
            <th>
                {% trans 'User' %}
            </th>
            <th>
                {% trans 'Observation' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for i in general_history %}
            <tr>
                <td>
                    {{ i.update_date|date:"d/m/Y H:i" }}
                </td>
                <td>
                    {{ i.user }}
                </td>
                <td style="white-space:normal;">
                    {{ i.observation }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">{% trans "No pending observations to show." %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h4>{% trans 'New Specific Observations' %}</h4>
<hr>
<table id="table_obs" class="table table-bordered table_list" >
    <thead>
        <tr class="table_title">
            <th>
                {% trans 'Date' %}
            </th>
            <th>
                {% trans 'Step' %}
            </th>
            <th>
                {% trans 'Attribute' %}
            </th>
            <th>
                {% trans 'User' %}
            </th>
            <th>
                {% trans 'Observation' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for i in specific_new %}
            <tr>
                <td>
                    {{ i.update_date|date:"d/m/Y H:i" }}
                </td>
                <td>
                    {{ i.step }}
                </td>
                <td>
                    {{ i.attribute }}
                </td>
                <td>
                    {{ i.user }}
                </td>
                <td style="white-space:normal;">
                    {{ i.observation }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">{% trans "No pending observations to show." %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h4>{% trans 'Specific Observations History' %}</h4>
<hr>
<table id="table_obs" class="table table-bordered table_list" >
    <thead>
        <tr class="table_title">
            <th>
                {% trans 'Date' %}
            </th>
            <th>
                {% trans 'Step' %}
            </th>
            <th>
                {% trans 'Attribute' %}
            </th>
            <th>
                {% trans 'User' %}
            </th>
            <th>
                {% trans 'Observation' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for i in history %}
            <tr>
                <td>
                    {{ i.update_date|date:"d/m/Y H:i" }}
                </td>
                <td>
                    {{ i.step }}
                </td>
                <td>
                    {{ i.attribute }}
                </td>
                <td>
                    {{ i.user }}
                </td>
                <td style="white-space:normal;">
                    {{ i.observation }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">{% trans "No pending observations to show." %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a class="show_all" href="{% url "clinical_trial_edit_list" clinical_trial.id %}">
{% trans "Back to steps summary" %}
</a>
{% endblock %}
