{% for message in messages %}
    {% if 'info' in message.tags %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}
{% for message in messages %}
    {% if 'error' in message.tags %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}
{% for message in messages %}
    {% if 'success' in message.tags %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}