{% load i18n %}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="vocabulary-search">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 onclick="$('#cid10_search_input')[0].focus();">
            {% trans "Vocabulary Search" %}
        </h1>
      </div>

        <div id="cid10-table">
            <label for="cid10_search_input">{% trans "Type to search and hit 'Enter'" %}</label>
            <input type="text" id="cid10_search_input">
            <h2>{% trans "Search Result" %}</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Tree ID" %}</th>
                        <th>{% trans "English" %}</th>
                        <th>{% trans "Spanish" %}</th>
                        <th>{% trans "Portuguese" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div id="decs-table">
            <label for="decs_search_input">{% trans "Type to search and hit 'Enter'" %}</label>
            <input type="text" id="decs_search_input">
            <h2>{% trans "Search Result" %}</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Tree ID" %}</th>
                        <th>{% trans "English" %}</th>
                        <th>{% trans "Spanish" %}</th>
                        <th>{% trans "Portuguese" %}</th>
                        <th>{% trans "Definition" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
  </div>
  <script type="text/javascript">
      //Trigger event to choose an item
      (function() {
        $('#decs-table, #cid10-table').delegate('.choose-button', 'click', function() {
            var value = $(this).parents('tr:eq(0)').find('td:eq(0)').html() + ' - ';
            var code = value;

            var english_value = code + $(this).parents('tr:eq(0)').find('td.en-lang').html();
            var spanish_value = code + $(this).parents('tr:eq(0)').find('td.es-lang').html();
            var portuguese_value = code + $(this).parents('tr:eq(0)').find('td.pt-lang').html();

            current_input_modal_en.val(english_value);
            current_input_modal_es.val(spanish_value);
            current_input_modal_pt.val(portuguese_value);
            $('#vocabulary-search').modal('hide');
            current_input_modal_en = null;
            current_input_modal_es = null;
            current_input_modal_pt = null;
        });
      })();

      //DECS javascript procedures
      (function() {
        var decs_url = '{% url "descriptors_decs_search" %}?term=';
        var decs_table_body = $('#decs-table tbody');
        var search_decs = function(term) {
            decs_table_body.html('<tr><td colspan="5">{% trans "Searching..." %}</td></tr>');
            $('#decs-table').show();
            $('#cid10-table').hide();
            $.getJSON(decs_url+term).success(
                function(content){
                    decs_table_body.html('');
                    var current;
                    for(var i=0;i<content.length;i++) {
                        current = content[i];
                        decs_table_body.append(
                            '<tr><td>'+(current.tree_id||'')+'</td><td class="en-lang">'+(current.descriptor_en||'')+'</td><td class="es-lang">'+(current.descriptor_es||'')+'</td><td class="pt-lang">'+(current.descriptor_pt||'')+'</td><td>'+(current.definition||'')+'</td><td><button class="button choose-button">{% trans "Choose" %}</buton></td></tr>'
                        );
                    }
                    if(content.length == 0) {
                        decs_table_body.html('<tr><td colspan="5">{% trans "No results found..." %}</td></tr>');
                    }
                }
            ).error(function() {
                decs_table_body.html('<tr><td colspan="3"><b style="color:red;">{% trans "Search currently not available, please try again later." %}</b></td></tr>');
            });
        }
        


        $("#decs_search_input").keyup(function (e) {
            if (e.keyCode == 13) {
                search_decs($("#decs_search_input").val());
            }
        });
      })();

      //CID-10 javascript procedures
      (function() {
        var cid10_url = '{% url "descriptors_cid10_search" %}?term=';
        var cid10_table_body = $('#cid10-table tbody');
        var search_cid10 = function(term) {
            cid10_table_body.html('<tr><td colspan="4">{% trans "Searching..." %}</td></tr>');
            $('#decs-table').hide();
            $('#cid10-table').show();
            $.getJSON(cid10_url+term).success(
                function(content){
                    cid10_table_body.html('');
                    var current;
                    for(var i=0;i<content.length;i++) {
                        current = content[i];
                        cid10_table_body.append(
                            '<tr><td>'+(current.tree_id||'')+'</td><td class="en-lang">'+(current.descriptor_en||'')+'</td><td class="es-lang">'+(current.descriptor_es||'')+'</td><td class="pt-lang">'+(current.descriptor_pt||'')+'</td><td><button class="button choose-button">{% trans "Choose" %}</buton></td></tr>'
                        );
                    }
                    if(content.length == 0) {
                        cid10_table_body.html('<tr><td colspan="4">{% trans "No results found..." %}</td></tr>');
                    }
                }
            ).error(function() {
                cid10_table_body.html('<tr><td colspan="3"><b style="color:red;">{% trans "Search currently not available, please try again later." %}</b></td></tr>');

            });
        }
        


        $("#cid10_search_input").keyup(function (e) {
            if (e.keyCode == 13) {
                search_cid10($("#cid10_search_input").val());
            }
        });
      })();
  </script>
</div>
