<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="field-registrant-modal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>