{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url "clinical_trial_edit_list" clinical_trial_id %}">
            {% trans "Clinical Trial" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {% trans 'Add Workflow Observation' %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

<h1>
    {% trans 'Register a new observation' %}
</h1>
<hr />
<h3>{% trans 'History' %}</h3>
<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th><p>{% trans 'Date' %}</p></th>
        <th><p>{% trans 'User' %}</p></th>
        <th><p>{% trans 'Observation' %}</p></th>
    </tr>
    </thead>
    <tbody>
    {% for i in history %}
        <tr class="table_style">
            <td>{{ i.update_date }}</td>
            <td>{{ i.user }}</td>
            <td>{{ i.observation }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
<form method="post" >{% csrf_token %}
    <div class="update">
    {% for error in form.non_field_errors %}
        <div class="field_errors">
            {{ error }}
        </div>
    {% endfor %}
    {% for field in form %}
        <div class="fieldWrapper">
            <div class="field_errors">{{ field.errors }}</div>
        {{ field.label }}{% if field.field.required %}*{% endif %}<br />
        {{ field }}<br />
        </div>
    {% endfor %}
    </div>
    <input class="button" type="submit" value="{% trans 'Save' %}" />
</form>

{% endblock administration_content %}