{% load i18n static %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<h1>
    {% trans 'Observations for field' %}
</h1>
<hr />
<h3>{% trans 'History' %}</h3>
<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th><p>{% trans 'Date' %}</p></th>
        <th><p>{% trans 'User' %}</p></th>
        <th><p>{% trans 'Observation' %}</p></th>
        
    </tr>
    </thead>
    <tbody>
    {% for i in history %}
        <tr class="table_style">
            <td>{{ i.update_date }}</td>
            <td>{{ i.user }}</td>
            <td style="white-space:normal;">{{ i.observation }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
</div>