{% load static i18n ct_tags %}
{% csrf_token %}

{% for field in form %}
	{% if not field.is_hidden %}
		{% if field.name != "study_type" %}
			{% if form_style == "default" or form_style == "observations" and form.instance.pk  %}
				{% if object.study_type == "I" and field.name in followup_period_and_reference_period %}
					{# Não mostra os campos "followup_period" e "reference_period" para tipo de estudo intervenção #}
				{% else %}
					{% if field.name == 'followup_period' %}
						<h2 id="title_no_bold">{% trans "Time Perspective" %}</h2>
						<hr/>
					{% endif %}
					<div class="fieldWrapper">
					<div class="row-input label-line">
	                  <div class="no-margin-left">
	                    {{ field.label_tag }}{% if field.name != 'number_arms' %}<span class="fielct-required "></span>{% endif %}
	                  </div>
	                  <div class="help-input-text">
                  		{% if field.help_text %}
			            	<span class="field-help" data-html="true" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">{% trans 'help' %} <img src="{% static 'img/interrog.png' %}"/></span>
			            {% endif %}
			        	</div>
	                  <div class="revision-icons-wrapper">
	                     {% if object.get_workflow_state.pk != 1 %}
		                    {% if form_style == "observations" %}
		                      <a href="{% url 'field_revisor_screen' object.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-revision-modal">
		                      	{% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
		                    	{% if count_observations_result > 0 %}
 			                      	{% trans "observation" %}
		                      		<img src="{% static 'img/view-pending-observations-icon.png' %}">
		                      	{% else %}
		                      		{% trans "observation" %}
		                        	<img src="{% static 'img/edit-observation-icon.png' %}">
		                        {% endif %}
		                      </a>
		                    {% else %}
		                    	<a href="{% url 'field_registrant_screen' object.pk clinical_trial_content_type_id form.instance.pk field.name %}?back_url={{ request.path }}" data-toggle="modal" data-target="#field-registrant-modal">
		                    	{% trans "observation" %}
		                      	{% count_observations object.pk clinical_trial_content_type_id form.instance.pk field.name %}
		                    	{% if count_observations_result > 0 %}
		                      		<img src="{% static 'img/view-pending-observations-icon.png' %}">
		                      	{% else %}
		                        	<img src="{% static 'img/edit-observation-icon.png' %}">
		                        {% endif %}
		                      </a>
		                    {% endif %}
	                    {% endif %}
	                  </div>
	                	
	                </div>
					
					    <div class="row-input input{% if field_changed and not field.name == 'DELETE' %} red-border{% endif %}">
					    	<div class="field-input">
					        {{ field }}
					        </div>
					    	<div class="text-center">
					    		{% if form_style == 'default' %}
									{% if field.errors %}
										<img data-toggle="tooltip" data-placement="left" class="field-error" src="{% static 'img/field-error.png' %}" title="{{ field.errors.0 }}"/>
									{% elif field.value %}
										<img src="{% static 'img/field-ok.png' %}"/>
									{% endif %}
								{% endif %}
							</div>
					    </div>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
	{% else %}
		{{ field }}
	{% endif %}
{% endfor %}