{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
        <li>
            <a href="password/">{% trans "Change Password" %}</a>
        </li>
{% endblock %}
