<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
{% load i18n %}

<head>
    {% block head %}
        <title>Rebec</title>
    {% endblock %}
</head>
<body>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
