{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
<li class="formTab_home">
<div class="selected">
    <span class="glyphicon glyphicon-home"></span>
</div></li>
{% endblock %}

{% block administration_content %}
<h1>Acessibilidade</h1>
<pre>
    O termo acessibilidade significa incluir a pessoa com deficiência na participação de atividades como o uso de produtos, serviços e informações. Alguns exemplos são os prédios com rampas de acesso para cadeira de rodas e banheiros adaptados para deficientes.

Na internet, acessibilidade refere-se principalmente às recomendações do WCAG (World Content Accessibility Guide) do W3C e no caso do Governo Brasileiro ao e-MAG (Modelo de Acessibilidade em Governo Eletrônico). O e-MAG está alinhado as recomendações internacionais, mas estabelece padrões de comportamento acessível para sites governamentais.

Na parte superior do Site Secom existe uma barra de acessibilidade onde se encontra atalhos de navegação padronizados e a opção para alterar o contraste. Essas ferramentas estão disponíveis em todas as páginas do portal.

Os padrões de atalhos do governo federal são:

Teclando-se Alt + 1 em qualquer página do portal, chega-se diretamente ao começo do conteúdo principal da página.

Teclando-se Alt + 2 em qualquer página do portal, chega-se diretamente ao início do menu principal.

Teclando-se Alt + 3 em qualquer página do portal, chega-se diretamente em sua busca interna.

No caso do Firefox, em vez de Alt + número, tecle simultaneamente Alt + Shift + número.

Sendo Firefox no Mac OS, em vez de Alt + Shift + número, tecle simultaneamente Ctrl + Alt + número.

No Opera, as teclas são Shift + Escape + número. Ao teclar apenas Shift + Escape, o usuário encontrará uma janela com todas as alternativas de ACCESSKEY da página.

Ao final deste texto, você poderá baixar alguns arquivos que explicam melhor o termo acessibilidade e como deve ser implementado nos sites da Internet.

Leis e decretos sobre acessibilidade:

Decreto nº 5.296 de 02 de dezembro de 2004 (<a href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5296.htm">http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5296.htm</a>).
Decreto nº 6.949, de 25 de agosto de 2009 - Promulga a Convenção Internacional sobre os Direitos das Pessoas com Deficiência e seu Protocolo Facultativo, assinados em Nova York, em 30 de março de 2007 (<a href="http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2009/decreto/d6949.htm">http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2009/decreto/d6949.htm</a>).
Decreto nº 7.724, de 16 de Maio de 2012 - Regulamenta a Lei No 12.527, que dispõe sobre o acesso a informações (<a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/Decreto/D7724.htm">http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/Decreto/D7724.htm</a>).
Modelo de Acessibilidade de Governo Eletrônico (<a href="http://www.governoeletronico.gov.br/acoes-e-projetos/e-MAG">http://www.governoeletronico.gov.br/acoes-e-projetos/e-MAG</a>).
Portaria nº 03, de 07 de Maio de 2007 - formato .pdf (35,5Kb) - Institucionaliza o Modelo de Acessibilidade em Governo Eletrônico – e-MAG (<a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/portaria-no-03-de-07-05-2007">http://www.governoeletronico.gov.br/biblioteca/arquivos/portaria-no-03-de-07-05-2007</a>).
</pre>
{% endblock %}
