{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
<div class="selected">
    {% trans "Groups Management" %}
</div>
</li>
{% endblock %}
{% block administration_content %}
    <h1>{% trans "Groups Management" %}</h1>
    <hr />
    <div class="seach_filter">
        <form method="get" action=".">
            {{ search_form }}
            <input type="hidden" name="page" value="1">
            <input type="submit" value="{% trans 'Find' %}" class="button_seach btn btn-info">
            <a href=".">{% trans 'Clean Search' %}</a>
        </form>
    </div>


    <form action="{% url 'administration_admin_manage_groups' %}{{ get_parameters }}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_field_errors }}
        <table class="table table-bordered table_list">
            <thead>
                <tr class="table_title">
                    <th>{% trans 'Group' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Institution' %}</th>
                    <th>{% trans 'Administrators' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset.forms %}
                    <tr class="table_style" >
                        <td>{{ form.id }}<a href="{% url 'ctgroup_detail' form.instance.pk %}" target="blank">{{ form.instance }}</a></td>
                        <td>
                            {% if form.status.errors %}
                            <div class="alert alert-danger" role="alert">
                            {{ form.status.errors }}
                            </div>
                            {% endif %}
                            {{ form.status }}
                        </td>
                        <td class="institution">
                            {% if form.institution.errors %}
                            <div class="alert alert-danger" role="alert">
                            {{ form.institution.errors }}
                            </div>
                            {% endif %}
                            {{ form.institution }}
                        </td>
                        <td>
                            {% if form.administrators.errors %}
                            <div class="alert alert-danger" role="alert">
                            {{ form.administrators.errors }}
                            </div>
                            {% endif %}
                            {{ form.administrators }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">
                        {% trans 'No Groups' %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="{% trans 'Save' %}" class="btn btn-success button">
    </form>

    <div class="pagination">
        <span class="step-links">
            {% if current_page.has_previous %}
                <form action="." method="get">
                    {% if search_form.institution.value %}
                        <input type="hidden" name="institution" value="{{ search_form.institution.value }}">
                    {% endif %}
                    {% if search_form.group.value %}
                        <input type="hidden" name="group" value="{{ search_form.group.value }}">
                    {% endif %}
                    <input type="hidden" name="page" value="{{ current_page.previous_page_number }}">
                    <input type="submit" class="btn btn-info" value="{% trans 'Previous' %}">
                </form>
            {% endif %}

            {% if current_page.number == 1 and current_page.paginator.num_pages == 1 %}
            {% else %}
                <span class="current">
                    {% trans 'Page' %} {{ current_page.number }} {% trans 'of' %} {{ current_page.paginator.num_pages }}
                </span>
            {% endif %}

            {% if current_page.has_next %}
                <form action="." method="get">
                    {% if search_form.institution.value %}
                        <input type="hidden" name="institution" value="{{ search_form.institution.value }}">
                    {% endif %}
                    {% if search_form.group.value %}
                        <input type="hidden" name="group" value="{{ search_form.group.value }}">
                    {% endif %}
                    <input type="hidden" name="page" value="{{ current_page.next_page_number }}">
                    <input type="submit" class="btn btn-info" value="{% trans 'Next' %}">
                </form>
            {% endif %}
        </span>
    </div>

{% endblock administration_content %}
