{% extends "administration/administration/administration_index.html" %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
<div class="selected">
    {% trans "Allocation Type" %} >
</div>
</li>
{% endblock %}

{% block administration_content %}
<h1> {% trans "Allocation Type" %}</h1>
<a href="{% url "allocation_type_add" %}" class="button_new">{% trans 'New' %}</a>

<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th> {% trans "Description" %} </th>
        <th class="actions_style">{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr class="table_style">
            <td><a href="{% url "allocation_type_detail" object.id %}">{{ object }}</a></td>
            <td><a href="{% url "allocation_type_edit" object.id %}"><span id="icon_edit" class="glyphicon glyphicon-minus"></span><span id="icon_edit" class="glyphicon glyphicon-pencil" ></span></a>
            <a a data-toggle="modal" data-target="#delete" href="{% url "allocation_type_delete" object.id %}"><span id="icon_delete" class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="5">
                {% trans 'No Allocation Type' %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "base/modal-delete.html" %}

{% endblock administration_content %}