{% extends "administration/base_administration.html" %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Change Clinical Trial Owner" %}
    </div>
</li>
{% endblock %}

{% block administration_content %}
<form method="post">{% csrf_token %}
    {% for field in form %}
         <div class="fieldWrapper">
            <div class="field_errors">{{ field.errors }}</div>
            {{ field.label }}{% if field.field.required %}*{% endif %}<br />
            {{ field }}<br />
         </div>
    {% endfor %}
    <br/>
    <input type="submit" class="confirm_delete" value="{% trans 'Change' %}" />
    <a href="{% url 'ctgroup_edit' object.group.pk %}" class="no_delete">{% trans 'Back' %}</a>

</form>

<script type="text/javascript">
  function get_url_parameters (term, page, context) {
      var field_id = jQuery(this).data('field_id'),
        res = {
          'term': term,
          'page': page,
          'context': context,
          'clinical_trial_id': '{{ form.instance.pk }}'
        };
      if (field_id) {
        res['field_id'] = field_id;
      }
      return res;
    }
</script>

{% endblock administration_content %}
