{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Clinical Trials by evaluator and State" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
    <h1>{% trans "Clinical Trials by evaluator and State" %}</h1>
    <hr/>

    <form method="GET" action=".">
    	{{ search_form.evaluator.errors }}
    	{{ search_form.date_from.errors }}
    	{{ search_form.date_to.errors }}
    	{{ search_form.evaluator.label }}: {{ search_form.evaluator }}
    	{{ search_form.date_from.label }}: {{ search_form.date_from }}
    	{{ search_form.date_to.label }}: {{ search_form.date_to }}
    	<input type="submit" class="button" value="{% trans 'Search' %}"/>
    	<br/>
    	{% if search_form.is_bound %}
    		<a href=".">{% trans 'Clear filters' %}</a>
    	{% endif %}
    </form>
    <table class="table table-bordered table-dashboard">
	    <thead>
	        <tr>
	            <th>{% trans 'ID' %}</th>
	            <th>{% trans 'RBR' %}</th>
	            <th>{% trans 'Evaluator' %}</th>
	            <th>{% trans 'Date last state change' %}</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for i in object_list %}
	        <tr>
	            <td>
	                <a href="{% url 'clinical_trial_detail' i.id %}">{{ i }}</a>
	            </td>
	            <td>{{ i.code|default_if_none:"" }}</td>
	            <td>{{ i.holder }}</td>
	            <td>{{ i.date_last_state_change|default_if_none:"" }}</td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>

    <a class="button" href="{% url 'home' %}">{% trans 'Back' %}</a>
{% endblock administration_content %}
