{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
{% if object.pk %}
<li class="formTab">
    <div>
        <a href="{% url 'home' %}">
            {% trans object.get_model_name %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {{ object }}
        {% trans 'Edit' %}
    </div>
</li>
{% else %}
<li class="formTab">
    <div>
        <a href="{% url 'home' %}">
        {% trans view.model.get_model_name %}
        </a>
    </div>
</li>
<li class="formTab_home">
    <div class="selected">
        {% trans 'add' %}
    </div>
</li>
{% endif %}
{% endblock %}
{% block administration_content %}

<h1>
    {% if object.pk %}
        {% trans 'Edit' %}
        {% trans object.get_model_name %}
    {% else %}
        {% trans 'Register' %}
        {% trans view.model.get_model_name %}
    {% endif %}
</h1>
<hr />
<form method="post" >{% csrf_token %}
    <div class="update">
    {% for field in form %}
        {% include 'base/field_wrapper.html' with field=field %}
    {% endfor %}
    </div>
    <div class="submit-line">
      <input class="button" type="submit" value="{% trans 'Save' %}" />
    </div>
</form>

{% endblock administration_content %}

{% block extrascripts %}
{{ block.super }}
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.geocomplete.min.js' %}"></script>
<script type="text/javascript">
    $("#id_search_address").geocomplete()
      .bind("geocode:result", function(event, result){
          var search_result = {};
          $.each(result.address_components, function(index, object){
              var name = object.types[0];
              search_result[name] = object.long_name;
              search_result[name + "_short"] = object.short_name;
          });
          $('#id_address').val(search_result.route + ', ' + search_result.neighborhood);
          $('#id_state').val(search_result.administrative_area_level_1);
          $('#id_city').val(search_result.locality);
          //search for a contry with content equals to google name return.
          $('#id_country').val(
            $("#id_country option:contains('"+search_result.country+"')").val()
          );
    });

</script>
<script type="text/javascript">
    $('span.field-help, img.field-error').tooltip({'trigger': 'click'});
    $('.field-error').parents('.fields-wrapper').addClass('with-error');
    $('.field-error').parents('.input').addClass('with-error');
</script>
{% endblock extrascripts %}

{% block extrastyle %}
    <style type="text/css">
        div.fields-wrapper.with-error, div.input.with-error {
            background-color: #EBC0D0;
            border: 1px solid #000000;
        }
        .fieldWrapper {
            width: 60%;
        }
        .input {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/clinical_trials.css' %}">

{% endblock %}
