{% extends "administration/administration/administration_index.html" %}
{% load i18n  static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    
    </div>
</li>
{% endblock %}
{% block administration_content %}
 <h1>{% trans "Countries" %} </h1>
 <a href="{% url "country_add" %}" class="button_new">{% trans 'new' %}</a>
<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th> {% trans "Description" %} </th>
        <th class="actions_style">{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr class="table_style">
            <td><a href="{% url "country_detail" object.code %}">{{ object }}</a></td>
            <td>
                <a href="{% url "country_edit" object.code %}">
                    <span id="icon_edit_1" class="glyphicon glyphicon-minus"></span>
                    <span id="icon_edit" class="glyphicon glyphicon-pencil" ></span>
                </a>
                <a data-toggle="modal" data-target="#delete" href="{% url "country_delete" object.code %}">
                    <span id="icon_delete" class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        {% empty %}
                <tr>
                  <td colspan="5">
                    {% trans 'No Countries' %}
                  </td>
                </tr>
        {% endfor %}
    </tbody>
</table>

{% include "base/modal-delete.html" %}

{% endblock administration_content %}