{% extends "administration/administration/administration_index.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Clinical Trials Pending assessment" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

<h2>{% trans 'Pending assessment' %}</h2>

      <table class="table table-bordered table-dashboard">
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'RBR' %}</th>
            <th>{% trans 'Date creation' %}</th>
            <th>{% trans 'Date last state change' %}</th>
            <th>{% trans 'Remaining Days' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td><a href="{% url 'clinical_trial_detail' object.id %}">{{ object }}</a></td>
            <td>{{ object.code|default_if_none:"" }}</td>
            <td>{{ object.date_creation }}</td>
            <td>{{ object.date_last_state_change|default_if_none:"" }}</td>
            <td>
                <center>
                <div class="{{ object.get_remaining_days.1 }}">
                    {{ object.get_remaining_days.0 }}
                </div>
                </center>
            </td>        
        </tr>
        {% empty %}
            <tr>
              <td colspan="5">
                {% trans 'No Clinical Trial Pending assessment' %}
              </td>
            </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}

