{% extends "administration/administration/administration_index.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "List Clinical Trails" %}
    </div>
</li>
{% endblock %}

{% block administration_content %}
<h1>{% trans "Clinical Trails" %}</h1>
<hr />
<div class="seach_filter">
    <form method="get" action=".">
        <table class="seach_filter_form col-md-12">
        {{ search_form.as_table }}
        <input type="hidden" name="page" value="1">

        <tr class="seach_filter_form_last">
            <td>
                <input type="submit" value="{% trans 'Find' %}" class=" button_seach btn btn-info">
            </td>
            <td>
                <a href="." class="clear_search">
                    {% trans 'Clear search' %}
                </a>
            </td>
        </tr>
        </table>
    </form>
</div>
<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th> {% trans "Id" %} </th>
        <th> {% trans "RBR" %} </th>
        <th> {% trans "State Workflow" %} </th>
        <th> {% trans "User" %} </th>
        <th> {% trans "Holder" %} </th>
        <th> {% trans "Days" %} </th>
    </tr>
    </thead>
    <tbody> 
    {% for i in page.object_list %}
    <tr class="table_style">
        <td> <a href="{% url 'clinical_trial_detail' i.id %}"> {{ i.id }}</a></td>
        <td>{{ i.code|default_if_none:"" }}</td>
        <td>{{ i.get_workflow_state.name }}</td>
        <td class="text-normal-case">{{ i.user }}</td>
        <td class="text-normal-case">{{ i.holder }}{{ i.holder.group }}</td>
        <td>
            {% if i.get_workflow_state.pk >= 4 and i.get_workflow_state.pk <= 7 %}
            <div class="{{ i.get_remaining_days.1 }}">
            {{ i.get_remaining_days.0 }}
            </div>
            {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?{{ query_string }}&page={{ page.previous_page_number }}">{% trans "Previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ page.number }} {% trans "of" %} {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
            <a href="?{{ query_string }}&page={{ page.next_page_number }}">{% trans "Next" %}</a>
        {% endif %}
    </span>
</div>
{% endblock administration_content %}
