{% extends "administration/administration/administration_index.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Clinical Trial To be corrected" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

<h2>{% trans 'Clinical Trial To be corrected' %}</h2>

      <table class="table table-bordered table-dashboard">
        <thead>
            <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'RBR' %}</th>
            <th>{% trans 'Date creation' %}</th>
            <th>{% trans 'Date ultima alteração' %}</th>
            <th colspan="3">{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td>
                <a href="{% url 'clinical_trial_detail' object.id %}">{{ object }}</a>
            </td>
            <td>{{ object.code|default_if_none:"" }}</td>
            <td>{{ object.date_creation }}</td>
            <td>{{ object.date_last_state_change|default_if_none:"" }}</td>
            <td>
                <a class="btn" href="{% url 'clinical_trial_edit_list' object.id %}">
                    <span id="icon_edit_1" class="glyphicon glyphicon-minus"></span>
                    <span id="icon_edit" class="glyphicon glyphicon-pencil" ></span>
                </a>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">
                {% trans 'No Clinical Trial To be corrected' %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

{% endblock %}

