{% extends "administration/administration/administration_index.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Clinical Trial In development" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

<h2>{% trans 'Clinical Trial In development' %}</h2>

      <table class="table table-bordered table-dashboard">
        <thead>
            <tr>
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'Date creation' %}</th>
                <th colspan="3">{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
                <td><a href="{% url 'clinical_trial_detail' object.id %}">{{ object }}</a></td>
                <td>{{ object.date_creation }}</td>
                <td>
                    <a class="btn" href="{% url 'clinical_trial_edit_list' object.id %}">
                        <span id="icon_edit_1" class="glyphicon glyphicon-minus"></span>
                        <span id="icon_edit" class="glyphicon glyphicon-pencil" ></span>
                    </a>
                </td>
                <td>
                    <a class="btn" href="{% url 'clinical_trial_delete' object.id %}">
                        <span id="icon_delete" class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
                <td>
                    <a class="btn" href="{% url 'clinical_trial_group_manage' object.id %}">
                        {% trans "change group" %}
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">
                {% trans 'No Clinical Trial In development' %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

{% endblock %}

