{% extends "administration/administration/administration_index.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Clinical Trials Published" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

<h2>{% trans 'Published' %}</h2>

      <table class="table table-bordered table-dashboard">
        <thead>
            <tr>            
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'RBR' %}</th>
            <th>{% trans 'Date creation' %}</th>
            <th>{% trans 'Date published' %}</th>
        </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
                <td><a href="{% url 'clinical_trial_detail' object.id %}">{{ object }}</a></td>                
                <td>{{ object.code|default_if_none:"" }}</td>
                <td>{{ object.date_creation }}</td>
                <td>{{ object.date_last_publication|default_if_none:"" }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">
                {% trans 'No Clinical Trial Published' %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

{% endblock %}

