{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
      {% trans "Group Institution Pending List" %}
    </div>
</li>
{% endblock %}

{% block administration_content %}
    <h1>{% trans 'Groups With Pending Institutions' %}</h1>
    <hr />
      <table class="table table-bordered table_list">
        <thead>
          <tr class="table_title">
            <th>{% trans "Group" %}</th>
            <th>{% trans "Institution" %}</th>
            <th>{% trans "User" %}</th>
            <th colspan="2">{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for i in object_list %}
            <tr class="table_style">
              <td><a href="{% url 'ctgroup_detail' i.id %}">{{ i.name }}</a></td>
              <td>{{ i.institution.name }}</td>
              <td>
                <a href="{% url 'user_profile_detail' i.ctgrouplog_set.all.0.user.pk %}">
                {{ i.ctgrouplog_set.all.0.user }}
              </td>
              <td><a href="{% url 'group_institution_pending_decision' i.pk 'A' %}">
                <center>
                    <img  title="{% trans 'Accept' %}" class="icon_aprov" src="{% static 'img/aprov.png' %}" />
                    </center>
                  </a></td>
              <td><a href="{% url 'group_institution_pending_decision' i.pk 'R' %}">
                <center>
                <img  title="{% trans 'Refuse' %}" class="icon_aprov" src="{% static 'img/reprov.png' %}" />
                    </center></a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">{% trans "No Groups Pending" %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock administration_content %}
