{% extends "administration/administration/administration_index.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{{ block.super }}
{% if object.pk %}
<li class="formTab">
    <div>
        <a href="{{ view.success_url }}">
            {% trans object.get_model_name %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {{ object }}
    </div>
</li>
{% else %}
<li class="formTab">
    <div>
        <a href="{{ view.success_url }}">
            {% trans view.model.get_model_name %}
        </a> 
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {% trans 'add' %}
    </div>
</li>
{% endif %}
{% endblock %}

{% block administration_content %}

{% if formset.errors %}
    <div class="alert alert-danger">
        {% trans "Check errors in Users" %}
    </div>
{% endif %}

<h1 id="add_group">{% trans "Groups" %}</h1>
<hr />
<form action="" method="POST" id="ctgroup_form">
{% csrf_token %}
      {% for field in form %}
        <div class="fieldWrapper" id="{{field.html_name}}">
            <div class="field_errors">
            {% if field.errors %}
                {{ field.errors }}
                <div class="label_help">
                    {{ field.label }}
                    {% if field.field.required %}*{% endif %}
                    {% if field.help_text %}
                    <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">
                        {% trans 'Help' %}
                        <img src="{% static 'img/interrog.png' %}"/>
                    </span>
                    {% endif %}
                </div>
                <div class="clear"></div>
                <div class="input_error">
                {{ field }}
                {% if field.name == 'institution' %}
                    {% if form.instance.pk %}
                        <a id="add_institution_link" href="{% url 'institution_add_for_group' form.instance.pk %}">{% trans 'Create a new' %}</a>
                    {% else %}
                        <a id="add_institution_link" href="{% url 'institution_add_for_new_group' %}">{% trans 'Create a new' %}</a>
                    {% endif %}
                {% endif %}
                </div>  
            </div>
            {% else %}
            </div>
                <div class="label_help">
                    {{ field.label }}
                    {% if field.field.required %}*{% endif %}
                    {% if field.help_text %}
                    <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">
                        {% trans 'Help' %}
                        <img src="{% static 'img/interrog.png' %}"/>
                    </span>
                {% endif %}
                </div>
                <div class="clear"></div>
                <div class="input">
                {{ field }}
                {% if field.name == 'institution' %}
                    {% if form.instance.pk %}
                        <a id="add_institution_link" href="{% url 'institution_add_for_group' form.instance.pk %}">{% trans 'Create a new' %}</a>
                    {% else %}
                        <a id="add_institution_link" href="{% url 'institution_add_for_new_group' %}">{% trans 'Create a new' %}</a>
                    {% endif %}
                {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

<br />
<h1 id="members_group">{% trans "Members of the Group" %}</h1>
<hr />
    <a class="button button-visible-add-form">{% trans "new" %}</a>
    <table class="table table-bordered table_list">
        <thead>
        <tr id="table_title">
            <th> {% trans "User Name" %} </th>
            <th> {% trans "Type of User" %} </th>
            <th> {% trans "Status" %} </th>
            <th colspan="3">{% trans "Actions" %}</th>
       </tr>  
        </thead>
        <tbody>    
        {{ formset.management_form }}
        {% for item in formset.forms %}
        <tr class="table_style form-row inline {{ formset.prefix }}{% if item.errors %} danger{% endif %}" data-pk="{{ forloop.counter0 }}">
            {{ item.id }}
            <td data-value="{{ item.user.id_for_label }}">
                {{ item.instance.user }}
            </td>
            <td data-value="{{ item.type_user.id_for_label }}">
                {{ item.instance.get_type_user_display }}
            </td>
            <td data-value="{{ item.status.id_for_label }}">
                {{ item.instance.get_status_display }}
            </td>
            {% if item.instance.pk %}
                {% include "administration/administration/td-model-formset-for-ctgroup.html"%}
            {% else %}
                {% include "administration/administration/td-model-formset.html"%}
            {% endif %}
                <td>
                    {% if item.instance.status == 3 %}
                    <a data-toggle="modal" data-target="#confirm" href="{% url "ctgroup_block" item.instance.pk "D" %}">
                        {% trans "unlock" %}
                    </a>
                    {% endif %}
                    {% if item.instance.status == 2 %}
                        <a  data-toggle="modal" data-target="#confirm" href="{% url "ctgroup_block" item.instance.pk "B" %}">
                            {% trans "block" %}
                        </a>
                    {% endif %}
                </td>
            
            <td class="delete.row inline {{ formset.prefix }}" style=
            "display:none;"></td>
        </tr>
        {% endfor %}
        <tr style="display:none;" id="table_style" class="form-row inline {{ formset.prefix }}{% if formset.empty_form.errors %} danger{% endif %}" data-pk="__prefix__">
        {{ formset.empty_form.id }}
        <td data-value="{{ formset.empty_form.user.id_for_label }}"></td>
        <td data-value="{{ formset.empty_form.type_user.id_for_label }}">
        </td>
        {% include "administration/administration/table-formset-empty-form.html"%}
        <td class="delete.row inline {{ formset.prefix }}" style="display:none;" ></a>
        </tr>
        </tbody>
    </table>

<h1>{% trans "Group Institution History" %}</h1>
<table class="table table-bordered table_list">
    <thead>
        <tr class="table_title">
            <th>{% trans "Date" %}</th>
            <th>{% trans "Message" %}</th>
            <th>{% trans "User" %}</th>
        </tr>
        <tbody>
            {% for i in ctgroup_logs %}
                <tr class="table_style" class="form-row inline">
                    <td>{{ i.date }}</td>
                    <td>{{ i.message }}</td>
                    <td>{{ i.user }}</td>
                </tr>
            {% empty %}
                <tr class="table_style" class="form-row inline">
                    <td colspan="3">{% trans "No history yet" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>

    <div class="modal fade" id="modal-add-trial-in-group">
      <div class="modal-dialog modal-sm" style="max-width: 65%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans "Add a trial for this group" %}</h4>
          </div>
          <div class="modal-body">
            {% blocktrans %}
                Type only numbers.
                The search is made by the trial ID. This search will only show the trials with currently no group
                associated, and trials where the owner is part of this group."
            {% endblocktrans %}
                <br><br>
                {{ form_add_trial_in_group.trial.label_tag }} {{ form_add_trial_in_group.trial }}
            <script type="text/javascript">
              function get_url_parameters (term, page, context) {
                  var field_id = jQuery(this).data('field_id'),
                    res = {
                      'term': term,
                      'page': page,
                      'context': context,
                      'group_id': '{{ form.instance.pk }}'
                    };
                  if (field_id) {
                    res['field_id'] = field_id;
                  }
                  return res;
                }
            </script>
          </div>
          <div class="modal-footer">
            <input type="submit" name="accept_modal" value="{% trans 'Add Trial' %}" class="button" style="margin-bottom:0;" />
            <button type="button" class="button" data-dismiss="modal" style="margin-bottom:0;">{% trans "Close" %}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<br>
<hr>
<h1>{% trans "Group Clinical Trials" %}</h1>
{% if object.pk %}
    <a data-toggle="modal" data-target="#modal-add-trial-in-group" class="button pull-right">{% trans 'New' %}</a>
{% else %}
    {% trans "Save this group to ad trials to it" %}
{% endif %}
<table class="table table-bordered table_list">
    <thead>
        <tr class="table_title">
            <th>{% trans "Clinical Trial" %}</th>
            <th>{% trans "Owner" %}</th>
            <th>{% trans "Remove from this group" %}</th>
        </tr>
        <tbody>
            {% for i in ctgroup_trials %}
                <tr class="table_style" class="form-row inline">
                    <td>{{ i }}</td>
                    <td>{{ i.user }} <a href="{% url 'group-adm-change-ct-owner' i.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a href="{% url 'group-adm-remove-ct-from-group' i.pk %}" data-toggle="modal" data-target="#confirm">{% trans "Remove from group" %}</a></td>
                </tr>
            {% empty %}
                <tr class="table_style" class="form-row inline">
                    <td colspan="3">{% trans "No trials for this group" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>

<script src="{% static 'js/jquery.formset-for-django-select2.min.js' %}"></script>
<script src="{% static 'js/rebec-inlines.js' %}"></script>
<script type="text/javascript">
    rebec_inlines('{{ formset.prefix }}');
</script>
    <input type="submit" value="{% trans 'Save' %}" class="button" />
</form>

{% include "base/modal-confirm.html" %}


{% endblock administration_content %}
{% block extrascripts %}
{{ block.super }}

<script type="text/javascript">
    $('span.field-help').tooltip({'trigger': 'click'});
</script>
<script type="text/javascript">
    $("a.button-visible-add-form").on("click", function(){$("a.button-hidden-add-form").click();});
</script>
<script type="text/javascript">
    $('#add_institution_link').on('click', function(){
        var temp_data = {'id_name': $('#ctgroup_form #id_name').val(),
                         'id_description': $('#ctgroup_form #id_description').val()}
        localStorage.setItem('institution_temp_data', JSON.stringify(aa));
    });
    {% if restore_data == 'yes' %}
       var temp_data = JSON.parse(localStorage.getItem('institution_temp_data'));
       $('#id_name').val(temp_data.id_name);
       $('#id_description').val(temp_data.id_description);
    {% endif %}
</script>
<style type="text/css">
    .pull-right {
        float: right;
    }
</style>
{% endblock extrascripts %}
