{% extends "administration/administration/administration_index.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans object.get_model_name %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<h1>Groups</h1>
   <hr />
    <p class="field_detail">{% trans "Name Group" %}</p><br />
    <p class="value_detail">{{ object.name|default_if_none:"" }}</p>
    <p class="field_detail">{% trans "Description Group" %}</p><br />
    <p class="value_detail">{{ object.description|default_if_none:"" }}</p>
    <p class="field_detail">{% trans "Status Institution" %}</p><br />
    <p class="value_detail">{{ object.get_status_institution_display|default_if_none:"" }}</p>
    <p class="field_detail">{% trans "Institution" %}</p><br />
    <p class="value_detail">{{ object.institution|default_if_none:"" }}</p>
    <p class="field_detail">{% trans "Status Group" %}</p><br />
    <p class="value_detail"> {{ object.get_status_display|default_if_none:"" }}</p>

    <h1>Usuários</h1>
    <hr />
        <table class="table table-bordered table_list">
        <thead>
        <tr class="table_title">
            <th> {% trans "Id Grupo" %} </th>
            <th> {% trans "User Name" %} </th>
            <th> {% trans "Type of User" %} </th>
            <th> {% trans "Status" %} </th>
       </tr>  
        </thead>
        <tbody>    
        {% for item in ctgroup_formset %}
            <tr class="table_style">
                <td> {{ item.id }}</td>
                <td> {{ item.user }}</td>
                <td> {{ item.get_type_user_display }}</td>
                <td> {{ item.get_status_display }}</td>
            </tr>
        {% endfor %}
        </table>

<h1>{% trans "Group Institution History" %}</h1>
<hr />
<table class="table table-bordered table_list">
    <thead>
        <tr class="table_title">
            <th>{% trans "Date" %}</th>
            <th>{% trans "Message" %}</th>
            <th>{% trans "User" %}</th>
        </tr>
        <tbody>
            {% for i in ctgroup_logs %}
                <tr class="table_style" class="form-row inline">
                    <td>{{ i.date }}</td>
                    <td>{{ i.message }}</td>
                    <td>{{ i.user }}</td>
                </tr>
            {% empty %}
                <tr class="table_style" class="form-row inline">
                    <td colspan="3">{% trans "No history yet" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>

<h1>{% trans "Group Clinical Trials" %}</h1>
<hr>
<table class="table table-bordered table_list">
    <thead>
        <tr class="table_title">
            <th>{% trans "Clinical Trial" %}</th>
            <th>{% trans "Owner" %}</th>
        </tr>
        <tbody>
            {% for i in ctgroup_trials %}
                <tr class="table_style" class="form-row inline">
                    <td>{{ i }}</td>
                    <td>{{ i.user }}</td>
                </tr>
            {% empty %}
                <tr class="table_style" class="form-row inline">
                    <td colspan="3">{% trans "No trials for this group" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>


<a href="../" class="button">Voltar</a>

{% endblock administration_content %}
