
{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans 'confirm' %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <h1>{% trans 'Confirm' %}</h1>
    <hr />
    <p class="message"> {{ message }}</p><br />
    <input type="hidden" name="confirm", value="yes"/>
    <input type="submit" value="{% trans 'Confirm' %}" class="confirm_delete" />
    <a href="{% url 'home' %}" class="no_delete">{% trans 'No' %}</a>
</form>

{% endblock %}
