{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
      {% trans "Group Administrators Pending" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}

      <h1>{% trans "Administrators pending" %}</h1>
      <table class="table table-bordered table_list">
        <thead>
          <tr class="table_title">
            <th>{% trans "User" %}</th>
            <th>{% trans "Group" %}</th>
            <th>{% trans "Institution" %}</th>
            <th colspan="2">{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr class="table_style">
                <td><a href="{% url "user_profile_detail" object.user.id %}">{{ object.user }}</a></td>
                <td><a href="{% url 'ctgroup_detail' object.ct_group.pk %}">{{ object.ct_group.name }}</a></td>
                <td>{{ object.ct_group.institution }}</td>
                <td>
                <a href="{% url 'pending_group_administrator_decision' object.pk 'A' %}">
                    <center>
                    <img  title="{% trans 'Accept' %}" class="icon_aprov" src="{% static 'img/aprov.png' %}" />
                    </center>
                </a>
                </td>
                <td>
                    <a href="{% url 'pending_group_administrator_decision' object.pk 'R' %}">
                      <center>
                      <img  title="{% trans 'Refuse' %}" class="icon_aprov" src="{% static 'img/reprov.png' %}" />
                    </center>
                    </a>
                </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">{% trans 'No administrator of group pending' %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}