{% extends "administration/administration/administration_index.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "My groups" %} 
    </div>
</li>
{% endblock %}
{% block administration_content %}
   <h1 id="my_groups_title">{% trans "My Groups" %}</h1>
   <a id="new_group" href="{% url "ctgroup_add" %}" class="button_new">{% trans 'New' %}</a>

   <table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th><p>{% trans "Groups" %}</p></th>
        <th><p>{% trans "Function" %} </p></th>
        <th><p>{% trans "Status of Group" %}</p></th>
        <th><p>{% trans "Status of User" %}</p></th>
        <th><p>{% trans "Group Administrator" %}</p></th>
        <th class="actions_style">{% trans "Actions" %}</p></th>
    </tr>
    </thead>
    <tbody>
    {% for ctgroup in object_list %}
    <tr class="table_style">
        <td>{% if ctgroup.type_user == "a" %}
                <a href="{% url "ctgroup_detail" ctgroup.ct_group.pk %}">
                {{ ctgroup }}
                </a>
            {% else %}
                    {{ ctgroup }}
            {% endif %} 
        </td>
        <td>{{ ctgroup.get_type_user_display }}</td>
        <td>{{ ctgroup.ct_group.get_status_display }}</td>
        <td>{{ ctgroup.get_status_display }}</td>
        <td>{{ ctgroup.ct_group.get_administrator_group.0.user }}</td>
        <td>
            {% if ctgroup.type_user == "a" %}
                <a href="{% url "ctgroup_edit" ctgroup.ct_group.id %}">
                    <img title="{% trans 'Edit' %}" src="{% static 'img/editar.png' %}" />
                </a>
            {% endif %}
        </td>
    </tr>
            {% empty %}
                <tr>
                  <td colspan="5">
                    {% trans 'No Groups' %}
                  </td>
                </tr>
    {% endfor %}
    </tbody>
    </table>

{% include "base/modal-confirm.html" %}


{% endblock administration_content %}
