{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
<li class="formTab_home">
<div class="selected">
    <span class="glyphicon glyphicon-home"></span>
</div></li>
{% endblock %}

{% block administration_content %}

{% if perms.admin.administrador_permission %}
        <h1 class="title_clear">{% trans 'Groups With Pending Institutions' %}
        </h1>
        <hr />
          <table class="table table-bordered table_list">
            <thead>
              <tr class="table_title">
                <th>{% trans "Group" %}</th>
                <th>{% trans "Institution" %}</th>
                <th>{% trans "Administrators" %}</th>
                <th colspan="2">{% trans "Actions" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for i in group_institution_pending %}
                <tr class="table_style">
                  <td>
                    <a href="{% url 'ctgroup_detail' i.pk %}">
                        {{ i.name }}
                    </a>
                  </td>
                  <td>{{ i.institution.name }}</td>
                  <td>{%  for j in i.get_administrator_group %}
                        <a href="{% url "user_profile_detail" j.user.id %}">{{ j.user.name }} </a>
                      {% endfor %}  
                  </td>
                  <td><a data-toggle="modal" data-target="#confirm" href="{% url 'group_institution_pending_decision' i.pk 'A' %}">
                    <center>
                    <img  title="{% trans 'Accept' %}" class="icon_aprov" src="{% static 'img/aprov.png' %}" />
                    </center></a>
                    </td>
                  <td><a data-toggle="modal" data-target="#confirm" href="{% url 'group_institution_pending_decision' i.pk 'R' %}">
                    <center>
                    <img  title="{% trans 'Refuse' %}" class="icon_aprov" src="{% static 'img/reprov.png' %}" />
                    </center>
                  </a></td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5">
                    {% trans 'No Groups With Pending Institutions' %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
  {% endif %}
  {% if perms.admin.administrador_permission %}
      <h1 class="title_clear">{% trans "Administrators pending" %}</h1>
      <hr />
      <table class="table table-bordered table_list">
        <thead>
          <tr class="table_title">
            <th>{% trans "User" %}</th>
            <th>{% trans "Group" %}</th>
            <th>{% trans "Institution" %}</th>
            <th colspan="2">{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for object in group_administrator_pending %}
            <tr class="table_style">
                <td><a href="{% url "user_profile_detail" object.user.id %}">{{ object.user }}</a></td>
                <td>
                    <a href="{% url 'ctgroup_detail' object.ct_group.pk %}">
                        {{ object.ct_group.name|default_if_none:"" }}
                    </a>
                </td>
                <td>{{ object.ct_group.institution|default_if_none:"" }}</td>
                <td>
                <a href="{% url 'pending_group_administrator_decision' object.pk 'A' %}">
                    <center>
                    <img  title="{% trans 'Accept' %}" class="icon_aprov" src="{% static 'img/aprov.png' %}" />
                    </center>
                </a>
                </td>
                <td>
                    <a href="{% url 'pending_group_administrator_decision' object.pk 'R' %}">
                        <center>
                        <img  title="{% trans 'Refuse' %}" class="icon_aprov" src="{% static 'img/reprov.png' %}" />
                        </center>  
                    </a>
                </td>
            </tr>
            {% empty %}
                <tr>
                  <td colspan="5">
                    {% trans 'No Administrators pending' %}
                  </td>
                </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endif %}
{% if perms.admin.administrador_permission %}
<h1 class="title_clear">{% trans "Institution Pending" %}</h1>
    <hr />
      <table class="table table-bordered table_list">
        <thead>
          <tr class="table_title">
            <th>{% trans 'Institution' %}</th>
            <th colspan="3">{% trans 'Actions' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for i in institution_pending %}
            <tr class="table_style">
              <td>{{ i.name }}</td>
              <td>
                <a href="{% url 'institution_pending_decision' i.pk 'A' %}" data-toggle="modal">
                    <center>
                        <img  title="{% trans 'Accept' %}" class="icon_aprov" src="{% static 'img/aprov.png' %}" />
                    </center>
                </a>
              </td>
              <td>
                <a href="{% url 'institution_pending_decision' i.pk 'R' %}">
                    <center>
                        <img  title="{% trans 'Refuse' %}" class="icon_aprov" src="{% static 'img/reprov.png' %}" />
                    </center>  
                </a>
              </td>
              <td><a href="{% url 'institution_pending_change_institution' i.pk %}">{% trans 'Change' %}</a></td>
            </tr>
            {% empty %}
                <tr>
                  <td colspan="5">
                    {% trans 'No Institution Pending' %}
                  </td>
                </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endif %}
{% if graph_1 %}
    <h2>{% trans 'Clinical Trials by stage' %}</h2>
    <hr>
    <div id="flot1-placeholder" class="chart"></div>
{% endif %}
{% if graph_2 %}
    <h2>{% trans 'Clinical Trial by stage and evaluator' %}</h2>
    <hr>
    <div id="flot2-placeholder" class="chart"></div>
    <a class="btn show_all" href="{% url 'ct_by_evaluator_and_state' %}">{% trans 'Show All' %}</a>
{% endif %}
{% if graph_3 %}
    <h2>{% trans 'Clinical trials by stage and reviewer' %}</h2>
    <hr />
    <div id="flot3-placeholder" class="chart"></div>
    <a class="btn show_all" href="{% url 'ct_by_revisor_and_state' %}">{% trans 'Show All' %}</a>
{% endif %}
{% if linegraph_1 %}
    <h2>{% trans 'Clinical trilas by date of creation/publication (last 12 months)' %}</h2>
    <hr>
    <div id="flot-placeholder_linegraph1" class="chart"></div>
{% endif %}
{% if graph_5 %}
    <h2>{% trans 'Clinical trials by deadlines' %}</h2>
    <hr>
    <div id="flot5-placeholder" class="chart"></div>
{% endif %}


<!-- Dasboard Registrante Administrador -->
{% if users_penging_aprov %}
<h1 class="title_clear">{% trans 'Pending users' %}</h1>
<hr />

   <table class="table table-bordered table-dashboard">
    <thead>
    <tr>
        <th><p> {% trans 'Name' %} </p></th>
        <th><p> {% trans 'Status User' %} </p></th>
        <th><p> {% trans 'Group' %} </p></th>
        <th colspan="2">{% trans 'Actions' %}</th>
    </tr>
    </thead>
    <tbody>
        {% for i in users_penging_aprov %}
        <tr>
            <td>
                <a href="{% url "user_profile_detail" i.user.id %}">
                {{ i.user.name }}
                </a>
            </td>
            <td>{{ i.get_status_display }}</td>
            <td><a href="{% url "ctgroup_detail" i.ct_group.id %}">{{ i }}</a></td>
            <td>
                <a data-toggle="modal" data-target="#confirm" href="{% url "ctgroup_manager_decision" i.id  "C" %}">
                    <center>
                    <img title="{% trans 'Accept' %}" class="icon_aprov" src="{% static 'img/aprov.png' %}" />
                    </center>
                </a>
            </td>
            <td>
                <a data-toggle="modal" data-target="#confirm" href="{% url "ctgroup_manager_decision" i.id  "R" %}">
                    <center>
                    <img title="{% trans 'Refuse' %}" class="icon_aprov" src="{% static 'img/reprov.png' %}" />
                    </center>
                </a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}
{% if users_penging_exclusion %}
<h1 class="title_clear">{% trans 'Pending users' %}</h1>
<hr />
   <table class="table table-bordered table-dashboard">
    <thead>
    <tr>
        <th><p> {% trans 'Name' %} </p></th>
        <th><p> {% trans 'Function' %} </p></th>
        <th><p> {% trans 'Status User' %} </p></th>
        <th><p> {% trans 'Group' %} </p></th>
        <th colspan="2">{% trans 'Actions' %}</th>
    </tr>
    </thead>
    <tbody>
        {% for i in users_penging_exclusion %}
        <tr>
            <td>
                <a href="{% url "user_profile_detail" i.user.id %}">
                {{ i.user.name }}
                </a>
            </td>
            <td>{{ i.get_type_user_display }}</td>
            <td>{{ i.get_status_display }}</td>
            <td><a href="{% url "ctgroup_detail" i.ct_group.id %}">{{ i }}</a> </td>

            <td>
                <a data-toggle="modal" data-target="#confirm" href="{% url "ctgroup_manager_decision" i.id  "R" %}">
                    <center>
                    <img  title="{% trans 'Accept' %}" class="icon_aprov" src="{% static 'img/aprov.png' %}" />
                    </center>
                </a>
            </td>
            <td>
                <a data-toggle="modal" data-target="#confirm" href="{% url "ctgroup_manager_decision" i.id  "C" %}">
                    <center>
                    <img title="{% trans 'Refuse' %}" class="icon_aprov" src="{% static 'img/reprov.png' %}" />
                    </center>
                </a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}

<!-- Tabela em Revisão -->
{% if perms.admin.reviser_permission %}

<h1 class="title_clear">{% trans 'Being reviewed' %}</h1>
<hr />
<div class="seach_filter">
    <form method="get" action=".">
        {{ search_form }}

        <input type="submit" value="{% trans 'Filter' %}" class=" button_seach_lup btn btn-info">
        <a href="." class="clear_filter">{% trans 'Clear search' %}</a>
    </form>
</div>
<table class="table table-dashboard">
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'RBR' %}</th>
            <th>{% trans 'Date creation' %}</th>
            <th>{% trans 'Date last state change' %}</th>
            <th>{% trans 'Remaining Days' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for i in revisor_clinical_trial_em_revisao %}
        <tr >
            <td>
                <a href="{% url 'clinical_trial_edit_list' i.id %}">{{ i }}</a>
            </td>
            <td>{{ i.code|default_if_none:"" }}</td>
            <td>{{ i.date_creation }}</td>
            <td>{{ i.date_last_state_change|default_if_none:"" }}</td>
            <td>
                <center>
                <div class="{{ i.get_remaining_days.1 }}">
                    {{ i.get_remaining_days.0 }}
                </div>
                </center>
            </td>     
        </tr>
        {% empty %}
            <tr>
              <td colspan="5">
                {% trans 'No Clinical Trial Being reviewed' %}
              </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
<a class="show_all" href="{% url 'ct_reviser_being_reviewed' %}">
    {% trans 'Show all' %}
</a>
{% endif %}

<!-- Tabela aguardando Revisão -->
{% if perms.admin.reviser_permission %}
<h1 class="title_clear">{% trans 'Review Pending' %}</h1>
<hr />
<div class="seach_filter">
    <form method="get" action=".">
        {{ search_form_two }}

        <input type="submit" value="{% trans 'Filter' %}" class="button_seach_lup btn btn-info">
        <a href="." class="clear_filter">{% trans 'Clear search' %}</a>
    </form>
</div>
<table class="table table-dashboard">
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'RBR' %}</th>
            <th>{% trans 'Date creation' %}</th>
            <th>{% trans 'Date last state change' %}</th>
            <th>{% trans 'Remaining Days' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for i in revisor_ct_aguardando_revisao %}
        <tr >
            <td>
                <a href="{% url 'clinical_trial_edit_list' i.id %}">{{ i }}</a>
            </td>
            <td>{{ i.code|default_if_none:"" }}</td>
            <td>{{ i.date_creation }}</td>
            <td>{{ i.date_last_state_change|default_if_none:"" }}
            </td>
            <td>
                <center>
                <div class="{{ i.get_remaining_days.1 }}">
                    {{ i.get_remaining_days.0 }}
                </div>
                </center>
            </td>     
        </tr>
        {% empty %}
            <tr>
              <td colspan="5">
                {% trans 'No Clinical Trial Review Pending' %}
              </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
<a class="show_all" href="{% url 'ct_reviser_review_pending' %}">
    {% trans 'Show all' %}
</a>

{% endif %}


<!-- Ensaios -->
<!-- Dashboard Registrant -->
{% if perms.admin.registrant_permission %}
<h1 class="title_clear">{% trans "Your submissions" %}</h1>
<hr />

      <table class="table table-dashboard table-radius table-odd">
        <thead>
            <tr>
                <th colspan="6">
                    <h4>{% trans 'In development' %}</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-sub-header">
                <td>{% trans 'ID' %}</td>
                <td>{% trans 'Date creation' %}</td>
                <td>{% trans 'Group' %}</td>
                <td colspan="3">{% trans 'Actions' %}</td>
            </tr>
          {% for i in clinical_trial_em_preenchimento %}
            <tr{% if forloop.counter >= 6 %} class="hidden-trials"{% endif %}>
                <td>
                    <a href="{% url 'clinical_trial_detail' i.id %}">{{ i }}
                    </a>
                </td>
                <td>{{ i.date_creation }}</td>
                <td>{{ i.group|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-no-padding" href="{% url 'clinical_trial_edit_list' i.id %}"><span id="icon_edit_1" class="glyphicon glyphicon-minus"></span>
                    <span id="icon_edit" class="glyphicon glyphicon-pencil" ></span>
                </a>
                </td>
                <td>
                <a class="btn btn-no-padding" href="{% url 'clinical_trial_delete' i.id %}">
                    <span id="icon_delete" class="glyphicon glyphicon-trash"></span>
                </a>
                </td>
                <td style="width:100px;">
                    <a class="btn btn-no-padding" href="{% url 'clinical_trial_group_manage' i.id %}">
                        {% trans "change group" %}
                    </a>
                </td>
            </tr>
                <tr>
                    {% if forloop.last  and forloop.counter >= 6 %}
                    <td colspan="6" class="btn-show-all">
                        <a href="#">
                            <img src="{% static 'img/rigth-arrow.png' %}">
                            <span>{% trans 'Show all' %}({{ clinical_trial_em_preenchimento.count }})</span>
                        </a>
                    </td>
                    {% endif %}
                    {% if forloop.last and forloop.counter < 6 %}
                        <td colspan="6" class="btn-show-all">
                        </td>
                    {% endif %}
                </tr>

            {% empty %}
            <tr>
              <td colspan="4">
                {% trans 'No Clinical Trial In development' %}
              </td>
            </tr>
            <tr>
                <td colspan="6" class="btn-show-all">
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endif %}

<div class="clear"></div>

{% if perms.admin.registrant_permission %}
<table class="table table-dashboard table-radius">
    <thead>
        <tr>
            <tr>
                <th colspan="6">
                    <h4>{% trans 'To be corrected' %}</h4>
                </th>
            </tr>
        </tr>
    </thead>
    <tbody>
        <tr class="table-sub-header">
            <td>{% trans 'ID' %}</td>
            <td>{% trans 'RBR' %}</td>
            <td>{% trans 'Date creation' %}</td>
            <td>{% trans 'Date ultima alteração' %}</td>
            <td colspan="3">{% trans 'Actions' %}</td>
        </tr>
    {% for i in clinical_trial_pending %}
        <tr{% if forloop.counter >= 6 %} class="hidden-trials"{% endif %}>
            <td>
                <a href="{% url 'clinical_trial_detail' i.id %}">{{ i }}</a>
            </td>
            <td>{{ i.code|default_if_none:"" }}</td>
            <td>{{ i.date_creation }}</td>
            <td>{{ i.date_last_state_change|default_if_none:"" }}</td>
            <td>
                <a class="btn btn-no-padding" href="{% url 'clinical_trial_edit_list' i.id %}">
                    <span id="icon_edit_1" class="glyphicon glyphicon-minus"></span>
                    <span id="icon_edit" class="glyphicon glyphicon-pencil" ></span>
                </a>
            </td>
            <td>
                <a class="btn btn-no-padding" href="{% url 'clinical_trial_delete' i.id %}">
                    <span id="icon_delete" class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
            <tr>
                {% if forloop.last and forloop.counter >= 6 %}
                <td colspan="7" class="btn-show-all">
                    <a href="#">
                        <img src="{% static 'img/rigth-arrow.png' %}">
                        <span>{% trans 'Show all' %}({{ clinical_trial_pending.count }})</span>
                    </a>
                </td>
                {% endif %}
                {% if forloop.last and forloop.counter < 6 %}
                    <td colspan="6" class="btn-show-all">
                    </td>
                {% endif %}
            </tr>
        
        {% empty %}
            <tr>
              <td colspan="5">
                {% trans 'No Clinical Trial To be corrected' %}
              </td>
            </tr>
            <tr>
                <td colspan="7" class="btn-show-all">
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="clear"></div>
<!-- Graficos em Revisão -->
{% if graph_7 %}
    <h2>{% trans 'Days Limit Configuration Of Being reviewed Trials' %}</h2>
    <hr>
    <div id="flot7-placeholder" class="chart"></div>
{% endif %}

<div class="clear"></div>
<!-- Grafico Aguardando revisão -->
{% if graph_6 %}
    <h2>{% trans 'Days Limit Configuration Of Waiting Revision Trials' %}</h2>
    <hr>
    <div id="flot6-placeholder" class="chart"></div>
{% endif %}


<div class="clear"></div>

{% if perms.admin.registrant_permission %}
<table class="table table-dashboard table-radius table-odd">
    <thead>
        <tr>
            <th colspan="4">
                <h4>{% trans 'Clinical Trial in review' %}</h4>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr class="table-sub-header">
        <td>{% trans 'ID' %}</td>
        <td>{% trans 'RBR' %}</td>
        <td>{% trans 'Date creation' %}</td>
        <td>{% trans 'Date last alter' %}</td>

    </tr>
    {% for i in registrant_clinical_trial_em_revisao %}
        <tr{% if forloop.counter >= 6 %} class="hidden-trials"{% endif %}>
            <td>
                <a href="{% url 'clinical_trial_detail' i.id %}">{{ i }}</a>
            </td>
            <td>{{ i.code|default_if_none:"" }}</td>
            <td>{{ i.date_creation }}</td>
            <td>{{ i.date_last_state_change|default_if_none:"" }}</td>
        </tr>
            <tr>
                {% if forloop.last  and forloop.counter >= 6 %}
                <td colspan="4" class="btn-show-all">
                    <a href="#">
                        <img src="{% static 'img/rigth-arrow.png' %}">
                        <span>{% trans 'Show all' %}({{ registrant_clinical_trial_em_revisao.count }})</span>
                    </a>
                </td>
                {% endif %}
                {% if forloop.last and forloop.counter < 6 %}
                    <td colspan="6" class="btn-show-all">
                    </td>
                {% endif %}
            </tr>
        
        {% empty %}
            <tr>
              <td colspan="4">
                {% trans 'No Clinical Trial in review' %}
              </td>
            </tr>
            <tr>
                <td colspan="7" class="btn-show-all">
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="clear"></div>

{% if perms.admin.registrant_permission %}
<table class="table table-dashboard table-radius">
    <thead>
        <tr>
            <th colspan="4">
                <h4>{% trans 'Published' %}</h4>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr class="table-sub-header">
        <td>{% trans 'ID' %}</td>
        <td>{% trans 'RBR' %}</td>
        <td>{% trans 'Date creation' %}</td>
        <td>{% trans 'Date published' %}</td>
    </tr>
    {% for i in clinical_trial_publicado %}
        <tr{% if forloop.counter >= 6 %} class="hidden-trials"{% endif %}>
            <td>
                <a href="{% url 'clinical_trial_detail' i.id %}">
                    {{ i }}
                </a>
            </td>
            <td>{{ i.code }}</td>
            <td>{{ i.date_creation }}</td>
            <td>
                {{ i.date_last_publication|default_if_none:"" }}
            </td>
        </tr>
        
            <tr>
                {% if forloop.last  and forloop.counter >= 6 %}
                <td colspan="6" class="btn-show-all">
                    <a href="#">
                        <img src="{% static 'img/rigth-arrow.png' %}">
                        <span>{% trans 'Show all' %}({{ clinical_trial_publicado.count }})</span>
                    </a>
                </td>
                {% endif %}

                {% if forloop.last and forloop.counter < 6 %}
                    <td colspan="6" class="btn-show-all">
                    </td>
                {% endif %}
            </tr>
        
        {% empty %}
            <tr>
              <td colspan="4">
                {% trans 'No Clinical Trial Published' %}
              </td>
            </tr>
            <tr>
                <td colspan="7" class="btn-show-all">
                </td>
            </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}
<div class="clear"></div>

<!-- Dasboard Avaliador -->

<!-- Grafio Clinical Trial em avaliação -->
{% if graph_9 %}
    <h2>{% trans 'Graphical Evaluation of Clinical Trials' %}</h2>
    <hr>
    <div id="flot9-placeholder" class="chart"></div>
{% endif %}
<!-- Tabela Clinical Trial em avaliação -->

{% if perms.admin.evaluator_permission %}
<h1 class="title_clear">{% trans 'Being assessed' %}</h1>
<hr />
<div class="seach_filter">
    <form method="get" action=".">
        {{ search_form }}

        <input type="submit" value="{% trans 'Filter' %}" class=" button_seach_lup btn btn-info">
        <a href="." class="clear_filter">{% trans 'Clear search' %}</a>
    </form>
</div>
<table class="table table-bordered table-dashboard">
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'RBR' %}</th>
            <th>{% trans 'Date creation' %}</th>
            <th>{% trans 'Date last state change' %}</th>
            <th>{% trans 'Remaining days' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for i in clinical_trial_em_avaliacao %}
        <tr>
            <td><a href="{% url 'clinical_trial_edit_list' i.id %}">{{ i }}</a></td>
            <td>{{ i.code|default_if_none:"" }}</td>
            <td>{{ i.date_creation }}</td>
            <td>{{ i.date_last_state_change }}</td>
            <td>
                <center>
                <div class="{{ i.get_remaining_days.1 }}">
                    {{ i.get_remaining_days.0 }}
                </div>
                </center>
            </td>
        </tr>
        {% empty %}
            <tr>
              <td colspan="5">
                {% trans 'No Clinical Trial Being assessed' %}
              </td>
            </tr>
    {% endfor %}
</tbody>
</table>
<a class="show_all" href="{% url 'ct_evaluator_in_evaluation_list' %}">
    {% trans 'Show all' %}
</a>
{% endif %}
<div class="clear"></div>

{% if graph_8 %}
    <h2>{% trans 'Graphical Evaluation Clinical Trials Waiting' %}</h2>
    <hr>
    <div id="flot8-placeholder" class="chart"></div>
{% endif %}

{% if perms.admin.evaluator_permission %}
<h1 class="title_clear">{% trans 'Pending assessment' %}</h1>
<hr />
<div class="seach_filter">
    <form method="get" action=".">
        {{ search_form_two }}

        <input type="submit" value="{% trans 'Filter' %}" class=" button_seach_lup btn btn-info">
        <a href="." class="clear_filter">{% trans 'Clear search' %}</a>
    </form>
</div>
<table class="table table-bordered table-dashboard">
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'RBR' %}</th>
            <th>{% trans 'Date creation' %}</th>
            <th>{% trans 'Date last state change' %}</th>
            <th>{% trans 'Remaining Days' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for i in clinical_trial_pending_avaliacao %}
        <tr>
            <td><a href="{% url 'clinical_trial_detail' i.id %}">{{ i }}</a></td>
            <td>{{ i.code|default_if_none:"" }}</td>
            <td>{{ i.date_creation }}</td>
            <td>{{ i.date_last_state_change }}</td>
            <td>
                <center>
                <div class="{{ i.get_remaining_days.1 }}">
                    {{ i.get_remaining_days.0 }}
                </div>
                </center>
            </td>            
        </tr>
        {% empty %}
            <tr>
              <td colspan="5">
                {% trans 'No Clinical Trial Pending assessment' %}
              </td>
            </tr>
    {% endfor %}
</tbody>
</table>
<a class="show_all" href="{% url 'ct_evaluator_awaiting_assessment_list' %}">
    {% trans 'Show all' %}
</a>
{% endif %}
<div class="clear"></div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/flot/excanvas.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jshashtable-2.1.js' %}"></script>   
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.axislabels.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.orderBars.js' %}"></script>   
<script type="text/javascript" src="{% static 'js/flot/jquery.numberformatter-1.2.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.time.js' %}"></script>    
<script type="text/javascript" src="{% static 'js/flot/jshashtable-2.1.js' %}"></script>    
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.symbol.js' %}"></script>


{% include "base/modal-confirm.html" %}


{% endblock administration_content %}

{% block extrastyle %}
<style type="text/css">
    .chart{
       width:100%;
       height:300px;
    }
</style>
{% endblock %}


{% block extrascripts %}
{{ block.super }}

    <script type="text/javascript">
         var previousPoint = null, previousLabel = null;
         $.fn.UseTooltip1 = function () {
                $(this).bind("plothover", function (event, pos, item) {
                    if (item) {
                        if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                            previousPoint = item.dataIndex;
                            previousLabel = item.series.label;
                            $("#tooltip").remove();
     
                            var x = item.datapoint[0];
                            var y = item.datapoint[1];
     
                            var color = item.series.color;
     
                        }
                    } else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });
            };

            $.fn.UseTooltip2 = function () {
                $(this).bind("plothover", function (event, pos, item) {
                    if (item) {
                        if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                            previousPoint = item.dataIndex;
                            previousLabel = item.series.label;
                            $("#tooltip").remove();
     
                            var x = item.datapoint[0];
                            var y = item.datapoint[1];
     
                            var color = item.series.color;
     
                            
                        }
                    } else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });
            };
     
    </script>

    {% if graph_1 %}
        <script type="text/javascript">
            $.plot($("#flot1-placeholder"), {{ graph_1.dataset|safe }}, {{ graph_1.options|safe }});
            $("#flot1-placeholder").UseTooltip1();
        </script>
    {% endif %}

    {% if graph_2 %}
        <script type="text/javascript">
            $.plot($("#flot2-placeholder"), {{ graph_2.dataset|safe }}, {{ graph_2.options|safe }});
            $("#flot2-placeholder").UseTooltip2();
        </script>
    {% endif %}

    {% if graph_3 %}
        <script type="text/javascript">
            $.plot($("#flot3-placeholder"), {{ graph_3.dataset|safe }}, {{ graph_3.options|safe }});
            $("#flot3-placeholder").UseTooltip2();
        </script>
    {% endif %}
    
    {% if graph_5 %}
        <script type="text/javascript">
            $.plot($("#flot5-placeholder"), {{ graph_5.dataset|safe }}, {{ graph_5.options|safe }});
        </script>
    {% endif %}

    {% if graph_6 %}
        <script type="text/javascript">
            $.plot($("#flot6-placeholder"), {{ graph_6.dataset|safe }}, {{ graph_6.options|safe }});
        </script>
    {% endif %}

    {% if graph_7 %}
        <script type="text/javascript">
            $.plot($("#flot7-placeholder"), {{ graph_7.dataset|safe }}, {{ graph_7.options|safe }});
        </script>
    {% endif %}
    {% if graph_8 %}
        <script type="text/javascript">
            $.plot($("#flot8-placeholder"), {{ graph_8.dataset|safe }}, {{ graph_8.options|safe }});
        </script>
    {% endif %}
    {% if graph_9 %}
        <script type="text/javascript">
            $.plot($("#flot9-placeholder"), {{ graph_9.dataset|safe }}, {{ graph_9.options|safe }});
        </script>
    {% endif %}

    <script>
{% if linegraph_1 %}
var data1 = {{ linegraph_1.data1|safe }};

var data2 = {{ linegraph_1.data2|safe }};

var dataset = [
    { label: "{% trans 'Creation date' %}", data: data1, points: { symbol: "triangle"} },
    { label: "{% trans 'Publication date' %}", data: data2}
];

var options = {
    series: {
        lines: {
            show: true
        },
        points: {
            radius: 3,
            fill: true,
            show: true            
        }
    },
    xaxis: {
        mode: "time",
        tickSize: [1, "month"],        
        tickLength: 0,
        axisLabel: "{% trans 'Year/Month' %}",
        axisLabelUseCanvas: true,
        axisLabelFontSizePixels: 12,
        axisLabelFontFamily: 'Verdana, Arial',
        axisLabelPadding: 10
    },
    yaxes: [{
            axisLabel: "{% trans 'Date' %}",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 3,
            tickFormatter: function (v, axis) {
                return $.formatNumber(v, { format: "#,###", locale: "us" });
            }
        }, { 
            position: "right",
            axisLabel: "Change(%)",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 3
        }
    ],
    legend: {
        noColumns: 0,
        labelBoxBorderColor: "#000000",
        position: "nw"
    },
    grid: {
        hoverable: true,
        borderWidth: 2,
        borderColor: "#633200",
        backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
    },
    colors: ["#FF0000", "#0022FF"]
};

$(document).ready(function () {
    $.plot($("#flot-placeholder_linegraph1"), dataset, options);
    $("#flot-placeholder_linegraph1").UseTooltip();
});




function gd(year, month, day) {
    return new Date(year, month, day).getTime();
}

var previousPoint = null, previousLabel = null;
var monthNames = ["{% trans 'Jan' %}", "{% trans 'Feb' %}", "{% trans 'Mar' %}", "{% trans 'Apr' %}", "{% trans 'May' %}", "{% trans 'Jun' %}", "{% trans 'Jul' %}", "{% trans 'Aug' %}", "{% trans 'Sep' %}", "{% trans 'Oct' %}", "{% trans 'Nov' %}", "{% trans 'Dec' %}"];

$.fn.UseTooltip = function () {
    $(this).bind("plothover", function (event, pos, item) {
        if (item) {
            if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                previousPoint = item.dataIndex;
                previousLabel = item.series.label;
                $("#tooltip").remove();

                var x = item.datapoint[0];
                var y = item.datapoint[1];

                var color = item.series.color;
                var month = new Date(x).getMonth();

                //console.log(item);

                if (item.seriesIndex == 0) {
                    showTooltip(item.pageX,
                            item.pageY,
                            color,
                            "<strong>" + item.series.label + "</strong><br>" + monthNames[month] + " : <strong>" + y + "</strong>");
                } else {
                    showTooltip(item.pageX,
                            item.pageY,
                            color,
                            "<strong>" + item.series.label + "</strong><br>" + monthNames[month] + " : <strong>" + y + "</strong>");
                }
            }
        } else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });
};

function showTooltip(x, y, color, contents) {
    $('<div id="tooltip">' + contents + '</div>').css({
        position: 'absolute',
        display: 'none',
        top: y - 40,
        left: x - 120,
        border: '2px solid ' + color,
        padding: '3px',
        'font-size': '9px',
        'border-radius': '5px',
        'background-color': '#fff',
        'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
        opacity: 0.9
    }).appendTo("body").fadeIn(200);
}


{% endif %}

</script>
<script type="text/javascript">
    //Show all buttons onclick actions
    $('.btn-show-all a').on('click', function(event) {
        event.preventDefault();
        if($(this).attr('data-show-status') == 'show') {
            $(this).parents('table:first').find('tr.hidden-trials').hide(300);
            $(this).attr('data-show-status', 'hide');
        }
        else {
            $(this).parents('table:first').find('tr.hidden-trials').show(300);
            $(this).attr('data-show-status', 'show');
        }
    });
</script>
{% endblock %}
