{% extends "administration/administration/administration_index.html" %}
{% load i18n  static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans 'Indicators by clinical trial' %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<h1>{% trans 'Indicators by clinical trial' %} </h1>

    <div class="seach_filter">
        <form method="get" action=".">
                {{ search_form }}
            <input type="hidden" name="page" value="1">

            <input id="button_find" type="submit" value="{% trans 'Find' %}" class=" button_seach btn">
            <a id="clear_seach" href=".">{% trans 'Clear Search' %}</a>
        </form>
    </div>
    
	<h2>{% trans 'Time(days) for first revision' %}</h2>
    <div id="flot-ibct1-placeholder" class="chart" style="width:100%;height:300px;"></div>

    <h2>{% trans 'Total time(days) in waiting revision state' %}</h2>
    <div id="flot-ibct2-placeholder" class="chart" style="width:100%;height:300px;"></div>

    <h2>{% trans 'Average time for publication' %}</h2>
    <div id="flot-ibct3-placeholder" class="chart" style="width:100%;height:300px;"></div>
<a class="button" href="{% url 'home' %}">{% trans 'Back' %}</a>
{% endblock administration_content %}

{% block extrastyle %}
<style type="text/css">
.errorlist {
    display: inline-block;
}
</style>
{% endblock extrastyle %}

{% block extrascripts %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/flot/excanvas.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jshashtable-2.1.js' %}"></script>   
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.axislabels.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.orderBars.js' %}"></script>   
<script type="text/javascript" src="{% static 'js/flot/jquery.numberformatter-1.2.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.time.js' %}"></script>    
<script type="text/javascript" src="{% static 'js/flot/jshashtable-2.1.js' %}"></script>    
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.symbol.js' %}"></script>
<script type="text/javascript">
	$(window).load(function() { 
		$.plot($("#flot-ibct1-placeholder"), {{ cts_stats1.dataset|safe }}, {{ cts_stats1.options|safe }});

        $.plot($("#flot-ibct2-placeholder"), {{ cts_stats2.dataset|safe }}, {{ cts_stats2.options|safe }});

        $.plot($("#flot-ibct3-placeholder"), {{ cts_stats3.dataset|safe }}, {{ cts_stats3.options|safe }});

	});
</script>

{% endblock extrascripts %}
