{% extends "administration/administration/administration_index.html" %}
{% load i18n  static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans 'Indicators by reviser' %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<h1>{% trans "Indicators by reviser" %} </h1>
	<h2>{% trans 'Time(hours) since first revision' %}</h2>
    <div id="flot-ibr1-placeholder" class="chart" style="width:100%;height:300px;"></div>

    <h2>{% trans 'Total time(hours) in waiting revision state' %}</h2>
    <div id="flot-ibr2-placeholder" class="chart" style="width:100%;height:300px;"></div>

    <h2>{% trans 'Total time(hours) in revision state' %}</h2>
    <div id="flot-ibr3-placeholder" class="chart" style="width:100%;height:300px;"></div>
<a class="button" href="{% url 'home' %}">{% trans 'Back' %}</a>
{% endblock administration_content %}

{% block extrascripts %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/flot/excanvas.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jshashtable-2.1.js' %}"></script>   
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.axislabels.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.orderBars.js' %}"></script>   
<script type="text/javascript" src="{% static 'js/flot/jquery.numberformatter-1.2.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.time.js' %}"></script>    
<script type="text/javascript" src="{% static 'js/flot/jshashtable-2.1.js' %}"></script>    
<script type="text/javascript" src="{% static 'js/flot/jquery.flot.symbol.js' %}"></script>
<script type="text/javascript">
	$(window).load(function() { 
		$.plot($("#flot-ibr1-placeholder"), {{ revisers_stats1.dataset|safe }}, {{ revisers_stats1.options|safe }});

		$.plot($("#flot-ibr2-placeholder"), {{ revisers_stats2.dataset|safe }}, {{ revisers_stats2.options|safe }});

		$.plot($("#flot-ibr3-placeholder"), {{ revisers_stats3.dataset|safe }}, {{ revisers_stats3.options|safe }});
	});
</script>

{% endblock extrascripts %}
