{% extends "administration/administration/administration_index.html" %}
{% load i18n static portal_tags %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans 'clinical trial Published' %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<form method="get" action="">
<div class="seach_filter">

            {{ search_form }}
        <input type="hidden" name="page" value="1">

        <input id="button_find" name="query_all" type="submit" value="{% trans 'Find' %}" class="button_seach btn">
        <a id="clear_seach" href="{% url 'clinical_trails_published' %}">{% trans 'Clear Search' %}</a>

</div>
<div>
{% if cts_table1.list_institution %}
    <h1>{% trans 'Number of clinical trials by institution' %}</h1><hr />

    <table class="table table-bordered table_list">
        <thead>
            <tr class="table_title">
                <th>{% trans "Institution" %}</th>
                <th>{% trans "Number Clinical Trial" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for institution, value in cts_table1.list_institution %}
            <tr>
                <td>{{ institution }}</td>
                <td>{{ value }}</td>
            </tr>
            {% empty %}
                <tr>
                  <td colspan="2">
                    {% trans 'None Clinical Trial' %}
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if cts_table1.back %}
        <input id="button_find" name="query_all" type="submit" value="{% trans 'Back' %}" class="show_all" />
    {% endif %}
    {% if cts_table1.see_all %}
        <input id="button_find" name="query_institution" type="submit" value="{% trans 'See all' %}" class="show_all" />
    {% endif %}
{% endif %}

{% if cts_table1.list_country %}
    <h1>{% trans 'Number of clinical trials by Country' %}</h1><hr />
    <table class="table table-bordered table_list">
        <thead>
            <tr class="table_title">
                <th>{% trans "Country" %}</th>
                <th>{% trans "Number Clinical Trial" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for country, value in cts_table1.list_country %}
            <tr>
                <td>{{ country }}</td>
                <td>{{ value }}</td>
            </tr>
            {% empty %}
                <tr>
                  <td colspan="2">
                    {% trans 'None Clinical Trial' %}
                  </td>
                </tr>
              {% endfor %}
        </tbody>
    </table>
    {% if cts_table1.back %}
        <input id="button_find" name="query_all" type="submit" value="{% trans 'Back' %}" class="show_all" />
    {% endif %}
    {% if cts_table1.see_all %}
        <input id="button_find" name="query_country" type="submit" value="{% trans 'See all' %}" class="show_all" />
    {% endif %}
{% endif %}

{% if cts_table1.list_uf %}
    <h1>{% trans 'Number of clinical trials by UF-State' %}</h1><hr />

    <table class="table table-bordered table_list">
        <thead>
            <tr class="table_title">
                <th>{% trans "UF" %}</th>
                <th>{% trans "Number Clinical Trial" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for uf, value in cts_table1.list_uf %}
            <tr>
                <td>{{ uf }}</td>
                <td>{{ value }}</td>
            </tr>
            {% empty %}
                <tr>
                  <td colspan="2">
                    {% trans 'None Clinical Trial' %}
                  </td>
                </tr>
              {% endfor %}
        </tbody>
    </table>
    {% if cts_table1.back %}
        <input id="button_find" name="query_all" type="submit" value="{% trans 'Back' %}" class="show_all" />
    {% endif %}
    {% if cts_table1.see_all %}
        <input id="button_find" name="query_state" type="submit" value="{% trans 'See all' %}" class="show_all" />
    {% endif %}
{% endif %}


{% if cts_table1.observation and cts_table1.intervention %}
    <h1>{% trans 'Amount studies Interventional and Observational' %}</h1><hr />

    <table class="table table-bordered table_list">
        <thead>
            <tr class="table_title">
                <th colspan="2">{% trans "Number of Clinical Trial" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% trans "Observational" %}</td>
                <td>{{ cts_table1.observation }}</td>
            </tr>
            <tr>
                <td>{% trans "Interventional" %}</td>
                <td>{{ cts_table1.intervention }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}

{% if cts_table1.list_intervation %}
    <h1>{% trans 'Number of studies by intervention' %}</h1><hr />

        <table class="table table-bordered table_list">
            <thead>
                <tr class="table_title">
                    <th>{% trans "Interventions" %}</th>
                    <th>{% trans "Number of Clinical Trial" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for intervention, value in cts_table1.list_intervation %}
                <tr>
                    <td>{{ intervention }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% empty %}
                    <tr>
                      <td colspan="2">
                        {% trans 'None Clinical Trial' %}
                      </td>
                    </tr>
                  {% endfor %}
            </tbody>
        </table>
        {% if cts_table1.back %}
            <input id="button_find" name="query_all" type="submit" value="{% trans 'Back' %}" class="show_all" />
        {% endif %}
        {% if cts_table1.see_all %}
            <input id="button_find" name="query_intervation" type="submit" value="{% trans 'See all' %}" class="show_all" />
        {% endif %}
{% endif %}

</div>
</form>
{% if cts_table1.pages %}
<div class="pagination">
    <span class="step-links">
        {% if cts_table1.pages.has_previous %}
            <a href="{% url 'clinical_trails_published' %}?{% url_replace request 'page' cts_table1.pages.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cts_table1.pages.number }} of {{ cts_table1.pages.paginator.num_pages }}
        </span>

        {% if cts_table1.pages.has_next %}
            <a href="{% url 'clinical_trails_published' %}?{% url_replace request 'page' cts_table1.pages.next_page_number %}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock administration_content %}
