{% extends "administration/base_administration.html" %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    	{% trans "Change the institution" %}
	</div>
</li>
{% endblock %}

{% block administration_content %}
<h2>{% trans 'Change the institution' %}</h2>
<form method="post">{% csrf_token %}
	{% for field in change_form %}
		 <div class="fieldWrapper">
	        <div class="field_errors">{{ field.errors }}</div>
	        {{ field.label }}{% if field.field.required %}*{% endif %}<br />
	        {{ field }}<br />
	     </div>
    {% endfor %}
    <br/>
    <input type="submit" class="confirm_delete" value="{% trans 'Change' %}" />
    <a href="{% url 'institution_pending_list' %}" class="no_delete">{% trans 'Back' %}</a>

</form>


{% endblock administration_content %}
