{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
		{% trans "Decision" %}
	</div>
</li>
{% endblock %}
{% block administration_content %}
<form action="{% url 'institution_pending_decision' object.pk decision %}" method="POST">
    {% csrf_token %}
    <h1>{{ message }}</h1>
    <br>
    {% if decision == 'R' %}
	    <label for="id_observation">{% trans 'Write a Observation' %}:</label>
	    <br/>
	    <textarea name="observation" id="id_observation" style="width:100%;"></textarea>
	    <br>
    {% endif %}
    <input type="hidden" value="yes" name="decision">
    <input type="submit" value="{% trans 'Yes' %}" class="confirm_delete">
    <a href="{{ back_url }}" class="no_delete">{% trans 'No' %}</a>
</form>
<hr />
{% endblock administration_content %}
