{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
{% if object.pk %}
<li class="formTab">
    <div>
        <a href="{{ view.success_url }}">
            {% trans object.get_model_name %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {% trans 'Edit' %}
    </div>
</li>
{% else %}
<li class="formTab">
    <div>
        <a href="{{ view.success_url }}">
            {% trans view.model.get_model_name %}
        </a> 
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {% trans 'add' %}
    </div>
</li>
{% endif %}
{% endblock %}

{% block administration_content %}

<h1>{% trans 'Register of Institution' %}</h1>
<hr />
<form method="post">{% csrf_token %}
    <div class="update">
    {% for error in form.non_field_errors %}
        <div class="field_errors alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for field in form %}
        <div class="fieldWrapper" id="{{field.html_name}}">
            {% if field.errors %}
            <div class="field_errors alert alert-danger">
                {{ field.errors }}
                {{ field.label }}{% if field.field.required %}*{% endif %}  <br />
                {{ field }}
                {% if field.help_text %}
                <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}"><img src="{% static 'img/interrog.png' %}"/></span>
                {% endif %}
                <br />
            </div>
            {% else %}
                {{ field.label }}
                {% if field.field.required %}*{% endif %}
                <br />
                {{ field }}
                {% if field.help_text %}
                <span class="field-help" data-toggle="tooltip"
                    data-placement="left" title="{{ field.help_text }}"><img src="{% static 'img/interrog.png' %}"/></span>
                {% endif %}
                <br />
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <input class="button" type="submit" value="{% trans 'Save' %}" />
</form>
<script type="text/javascript">
$(document).ready(function(){    
    $("#id_zip_code").mask("99.999-999");
    $("#id_cpf").mask("999.999.999-99");
    $("#id_cnpj").mask("99.999.999/9999-99");
});
</script>
{% endblock administration_content %}

{% block extrascripts %}
{{ block.super }}

<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.geocomplete.min.js' %}"></script>
<script src="{% static 'js/institution.js' %}"></script>
<script type="text/javascript" src="{% static 'js/maskinput.js' %}"/></script>

{% endblock extrascripts %}
