{% extends "administration/administration/administration_index.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Institution" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<h1> {% trans "Institution" %}</h1>
<hr />

<div class="seach_filter">
    <form method="get" action=".">
            {{ search_form }}
        <input type="hidden" name="page" value="1">

        <input id="button_find" type="submit" value="{% trans 'Find' %}" class=" button_seach btn">
        <a id="clear_seach" href=".">{% trans 'Clear Search' %}</a>
    </form>
</div>
<a href="{% url "institution_add" %}" class="button_new">{% trans 'New' %}</a>
<table class="table table-bordered table_list">
    <thead>
        <tr class="table_title">
            <th> {% trans "Name" %} </th>
            <th> {% trans "Status" %} </th>
            <th class="actions_style">{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr class="table_style">
            <td><a href="{% url "institution_detail" object.id %}">{{ object }}</a></td>
            <td>{{ object.get_status_display }}</td>
            <td>
                <a href="{% url "institution_edit" object.id %}">
                    <span id="icon_edit_1" class="glyphicon glyphicon-minus"></span>
                    <span id="icon_edit" class="glyphicon glyphicon-pencil" ></span>
                </a>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="5">
                {% trans 'No Institution' %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="./?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="current">
                    {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="./?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock administration_content %}
