{% extends "administration/base_administration.html" %}
{% load i18n static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Institution Moderation" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
    <h1>{% trans "Institution Moderation" %}</h1>
    <hr />
      <table class="table table-bordered table_list">
        <thead>
          <tr class="table_title">
            <th>{% trans 'Clinical Trial' %}</th>
            <th>{% trans 'Group' %}</th>
            <th>{% trans 'Institution' %}</th>
            <th colspan="3">{% trans 'Actions' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for i in object_list %}
            <tr class="table_style">
              <td>
                {% if i.sponsor_items.all.exists %}
                  <a href="{% url 'clinical_trial_detail' i.sponsor_items.all.0.clinical_trial.pk %}">
                    {{ i.sponsor_items.all.0.clinical_trial }}
                  </a>
                {% endif %}
              </td>
              <td>
                {% if i.ctgroups.all.exists %}
                  <a href="{% url 'ctgroup_detail' i.ctgroups.all.0.pk %}">
                    {{ i.ctgroups.all.0 }}
                  </a>
                {% endif %}
              </td>
              <td>{{ i.name }}</td>
              <td><a href="{% url 'institution_pending_decision' i.pk 'A' %}" data-toggle="modal" data-target="#institution-decision-modal">
                    <center>
                        <img  title="{% trans 'Accept' %}" class="icon_aprov" src="{% static 'img/aprov.png' %}" />
                    </center>
                  </a>
                </td>
              <td><a href="{% url 'institution_pending_decision' i.pk 'R' %}" data-toggle="modal" data-target="#institution-decision-modal">
                    <center>
                            <img  title="{% trans 'Refuse' %}" class="icon_aprov" src="{% static 'img/reprov.png' %}" />
                    </center>  
                  </a>
                </td>
              <td><a href="{% url 'institution_pending_change_institution' i.pk %}">{% trans 'Change' %}</a></td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">{% trans "No Institutions Pending" %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="institution-decision-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
        </div><!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

{% endblock administration_content %}

