{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url 'occupation_management' %}">
            {% trans "User Occupation Management" %}
        </a>
    </div>
    
</li>
<li class="formTab">
    <div class="selected">
        {% trans "List User Clinical Trials" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
    <h1>{% trans "Manage User's Clinical Trials" %} - {{ this_user }}</h1>
    <hr/>

    <form action="." method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_field_errors }}
        <table class="table table-bordered table_list">
            <thead>
                <tr class="table_title">
                    <th>{% trans 'Clinical Trial' %}</th>
                    <th>{% trans 'User Holding' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr class="table_style">
                        <td>
                            <a href="{% url 'clinical_trial_detail' form.instance.pk %}">
                                {{ form.id }}{{ form.instance }}
                            </a>
                        </td>
                        <td>{{ form.holder.errors }}{{ form.holder }}</td>
                    </tr>
                {% empty %}
                    <tr class="table_style">
                        <td colspan="2">
                            {% trans 'no clinical trials for this user' %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="{% trans 'Save' %}" class=" button btn btn-success">
    </form>

    {% if current_page.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if current_page.has_previous %}
                    <form action="." method="get">
                        {% if search_form.user.value %}
                            <input type="hidden" name="user" value="{{ search_form.user.value }}">
                        {% endif %}
                        <input type="hidden" name="page" value="{{ current_page.previous_page_number }}">
                        <input type="submit" class="button" value="{% trans 'Previous' %}">
                    </form>
                {% endif %}

                <span class="current">
                    {% trans 'Page' %} {{ current_page.number }} {% trans 'of' %} {{ current_page.paginator.num_pages }}
                </span>

                {% if current_page.has_next %}
                    <form action="." method="get">
                        {% if search_form.user.value %}
                            <input type="hidden" name="user" value="{{ search_form.user.value }}">
                        {% endif %}
                        <input type="hidden" name="page" value="{{ current_page.next_page_number }}">
                        <input type="submit" class="button" value="{% trans 'Next' %}">
                    </form>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock administration_content %}
