{% extends "administration/administration/administration_index.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "Participation of groups" %}
    </div>
</li>
{% endblock %}

{% block administration_content %}
<h1 id="participation_groups">{% trans "Participation of groups" %}</h1>
<hr />
<div class="seach_filter">
    <form method="get" action=".">
        {{ search_form }}
        <input type="hidden" name="page" value="1">

        <input type="submit" value="{% trans 'Find' %}" class=" button_seach btn">
        <a id="clear_seach" href=".">{% trans 'Clear Search' %}</a>
    </form>
</div>
<table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th> {% trans "Groups" %} </th>
        <th> {% trans "Description" %} </th>
        <th> {% trans "Institution" %} </th>
    </tr>
    </thead>
    <tbody> 
    {% for ctgroup in object_list %}
    <tr class="table_style">
        <td>{{ ctgroup }}</td>
        <td>{{ ctgroup.description }}</td>
        <td>{{ ctgroup.institution }}</td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="5">
            {% trans 'No Participation of groups' %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "base/modal-confirm.html" %}

{% endblock administration_content %}
