{% extends "administration/administration/administration_index.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Pendencies User of Groups" %}
    </div>
</li>
{% endblock breadcrumbs %}
{% block administration_content %}
{% if ctgroup_formset %}
<h1>{% trans "Pendencies" %}</h1>
   <p class="message">{% trans "Users who want to join the group." %}</p>
   <table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th><p> {% trans 'Name' %} </p></th>
        <th><p> {% trans 'Status User' %} </p></th>
        <th colspan="2">{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
        {% for object in ctgroup_formset %}
            {% if object.status  == 1 %}
            <tr class="table_style">
                <td>{{ object.user }}</a></td>
                <td>{{ object.get_status_display }}</td>
                <td>
                    <a href="{% url "ctgroup_manager_decision" object.id  "C" %}">
                        {% trans "Accept" %}
                    </a>
                </td>
                <td>
                    <a href="{% url "ctgroup_manager_decision" object.id  "R" %}">
                        {% trans "Refuse" %}
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    </table>
    <p class="message">{% trans 'Users who want to leave the group.' %} </p>
    <table class="table table-bordered table_list">
    <thead>
    <tr class="table_title">
        <th><p> {% trans 'Name' %} </p></th>
        <th><p> {% trans 'Funtion' %} </p></th>
        <th><p> {% trans 'Status User' %} </p></th>
        <th colspan="2">{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
        {% for object in ctgroup_formset %}
        <tr class="table_style">
        {% if object.status  == 4 %}
        <td>{{ object.user }}</a></td>
        <td>{{ object.get_type_user_display }}</td>
        <td>{{ object.get_status_display }}</td>
        <td><a href="{% url "ctgroup_manager_decision" object.id  "R" %}">{% trans "Accept" %}</a></td>
        <td><a href="{% url "ctgroup_manager_decision" object.id  "C" %}">{% trans "Refuse" %}</a></td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
<a href="{% url 'home' %}" class="button">{% trans "Back" %}</a>
{% endif %}

{% endblock administration_content %}
