{% load i18n %}
<a class="close" data-dismiss="modal"><img src="/static/img/close.png" /></a>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <h1>{% trans 'Confirm' %}</h1>
    <hr />
    <p class="message"> {{ message }}</p><br />
    <input type="hidden" value="yes" name="decision">
    <input type="submit" value="{% trans 'Confirm' %}" class="confirm_delete" />
    <a href="{% url 'home' %}" class="no_delete">{% trans 'No' %}</a>
</form>
