{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
		{% trans "Decision" %}
	</div>
</li>
{% endblock %}
{% block administration_content %}
<h1>{% trans "Decision" %}</h1>
<hr />
<form action="." method="POST">
    {% csrf_token %}
    <p class="message">{{ message }}</p>
    <input type="hidden" value="yes" name="decision">
    <input type="submit" value="{% trans 'yes' %}" class="confirm_delete">
    <a href="{{ back_url }}" class="no_delete">{% trans 'No' %}</a>
</form>
{% endblock administration_content %}
