{% extends "administration/administration/administration_index.html" %}
{% load i18n  static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Recruitment Interrupt" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
 <h1 id="title_list_recruitments">{% trans "List of recruitments to interrupt" %} </h1>
 <form action"." method="GET">
  <br/>
    <div class="fieldWrapper">
        {% trans 'Filter' %}:
        <select name="show_all_dates">
             <option value="{% trans 'no' %}"{% if show_all_dates != 'yes' %} selected{% endif %}>{% trans 'Active' %}</option>
             <option value="{% trans 'yes' %}"{% if show_all_dates == 'yes' %} selected{% endif %}>{% trans 'All' %}</option>
        </select>
        <input type="submit" class="button" value="{% trans 'Apply' %}">
    </div>
</form>
<table class="table table-bordered table_list">
    <thead>
    <tr id="table_title">
        <th> {% trans "Clinical Trial" %} </th>
        <th> {% trans "History" %} </th>
        <th>{% trans "Action" %}</th>
    </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr id="table_style">
            <td>{{ object }}</td>
            <td><a href="{% url 'recruitment_interruption_history' object.pk %}">View</a></td>
            <td>
                {% if object.has_date_for_recruiting %}
                    <a href="{% url 'recruitment_interrupt' object.pk %}">
                        {% if object.is_interrupted %}
                            {% trans 'Cancel Interrupt' %}
                        {% else %}
                            {% trans 'Interrupt' %}
                        {% endif %}
                    </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="5">
                {% trans 'No recruitments to interrupt' %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock administration_content %}

{% block extrastyle %}
<style type="text/css">
    input.button {
        margin-bottom: 0;
    }
</style>
{% endblock %}