{% extends "administration/administration/administration_index.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Recruitment Interrupt" %} >
    {{ object }}
    </div>
</li>
{% endblock %}
{% block administration_content %}
{% if object.is_interrupted %}
    <h1>{% trans "Confirm stop of the interrupt?" %} </h1>
{% else %}
    <h1>{% trans "Confirm the interrupt?" %}</h1>
{% endif %}
<hr />
<form action="{% url 'recruitment_interrupt' object.pk %}" method="POST">
    {% csrf_token %}
    {% if not object.is_interrupted %}
        <p class="form-label">
            <label for="id_comments">{% trans 'Comments' %}</label>
        </p>
        <textarea name="comments" id="id_comments"></textarea>
        <br/><br/>
    {% endif %}
    <input type="hidden" name="confirm" value="yes"/>
     <input class="confirm_delete" type="submit" value="{% trans 'Confirm'%}" />
    <a href="{% url "recruitment_interrupt_list" %}" class="no_delete">{% trans 'Cancel' %}</a>
</form>
{% endblock administration_content %}

{% block extrastyle %}
    <style type="text/css">
        #id_comments {
            width: 100%;
            min-height: 100px;
        }
        label, .fieldWrapper >label {
            font-family: 'Lato', sans-serif;
            font-size: 18pt;
        }
    </style>
{% endblock %}