{% extends "administration/administration/administration_index.html" %}
{% load i18n  static %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url 'recruitment_interrupt_list' %}">
        {% trans "Recruitment Interrupt" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {% trans 'Interruption History' %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
<h1>{% trans "Recruitment interruption history" %} </h1>
<table class="table table-bordered table_list">
    <thead>
    <tr id="table_title">
        <th> {% trans "Date" %} </th>
        <th> {% trans "Action" %} </th>
        <th> {% trans "User" %} </th>
        <th>{% trans "Comments" %}</th>
    </tr>
    </thead>
    <tbody>
        {% for hist in object.recruitment_interruptions.all %}
        <tr id="table_style">
            <td>{{ hist.date_time }}</td>
            <td>{% if hist.interrupt %}Interrupted{% else %}Stopped{% endif %}</td>
            <td>{{ hist.user }}</td>
            <td>{{ hist.comments|default_if_none:"" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="button" href="{% url 'recruitment_interrupt_list' %}">{% trans 'Back' %}</a>
{% endblock administration_content %}
