{% load i18n  static %}
<a class="close" data-dismiss="modal"><img src="/static/img/close.png" /></a>
<form action="{{ request.path }}"  method="post">{% csrf_token %}
    <h1>{% trans 'Are you sure you want to remove the clinical trial from this group?' %}</h1>
    <hr />
    <input class="confirm_delete" type="submit" value="{% trans 'Confirm' %}" />
    <a href="{% url 'ctgroup_edit' clinical_trial.group.pk %}" class="no_delete">{% trans "No" %}</a>
</form> 

