{% extends "administration/base_administration.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {% trans "Setup" %}
    </div>
</li>
{% endblock breadcrumbs %}

{% block administration_content %}

{% if formset.errors %}
    <div class="alert alert-danger">
        {% trans "Check errors in Attachments" %}
    </div>
{% endif %}

<h1>{% trans "Setup" %}</h1>
<hr />
<form method="post" action=".">
    {% csrf_token %}
    <div class="update">
    {% for field in form %}
        <div class="fieldWrapper">
            <div class="field_errors">
                {% if field.errors %}
                    <div class="field_errors alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
            {{ field.label }}
            {% if field.field.required %}*{% endif %}
            <br />
            {{ field }}
            {% if field.help_text %}
                <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">
                        <img src="{% static 'img/interrog.png' %}"/>
                    </span>
            {% endif %}
        </div>
    {% endfor %}
    </div>

    <h1> {% trans "Attachment" %}</h1>
    <hr></hr>
    <a class="button button-visible-add-form">{% trans "new" %}</a>
    <table class="table table-bordered table_list">
        <thead>
        <tr id="table_title">
            <th> {% trans "Name" %} </th>
            <th> {% trans "Attachment Type" %} </th>
            <th> {% trans "Required" %}</th>
            <th colspan="3">{% trans "Actions" %}</th>
        </tr>  
        </thead>
        <tbody>         
        {{ formset.management_form }}
        {% if formset.non_form_errors %}
        <div class="alert alert-danger">
            {{ formset.non_form_errors }}
        </div>
        {% endif %}
        {% for item in formset.forms %}
         <tr id="table_style" class="form-row inline {{ formset.prefix }}{% if item.errors %} danger{% endif %}" data-pk="{{ forloop.counter0 }}">
            {{ item.id }}
            <td data-value="{{ item.name.id_for_label }}">
                {{ item.name.value }}</td>
            <td data-value="{{ item.attachment_type.id_for_label }}">{{ item.instance.get_attachment_type_display }}</td>
            <td data-value="{{ item.required.id_for_label }}">{{ item.required.value}}</td>
            {% include "administration/administration/td-model-formset.html"%}
            <td class="delete.row inline {{ formset.prefix }}">
            </td>
        </tr>
        {% endfor%}
        <tr style="display:none;" id="table_style" class="form-row inline {{ formset.prefix }}{% if formset.empty_form.errors %} danger{% endif %}" data-pk="__prefix__">
        {{ formset.empty_form.id }}
        <td data-value="{{ formset.empty_form.name.id_for_label }}"></td>
        <td data-value="{{ formset.empty_form.attachment_type.id_for_label }}">
        </td>
        <td data-value="{{ formset.empty_form.required.id_for_label }}">
        </td>
        {% include "administration/administration/table-formset-empty-form.html"%}
        <td class="delete.row inline {{ formset.prefix }}"></td>
        </tr>
    </tbody>
</table>

<h1>{% trans "Days Limit" %}</h1>
    <hr></hr>
    <a class="button button-visible-add-form">{% trans "new" %}</a>
    <table class="table table-bordered table_list">
        <thead>
        <tr id="table_title">
            <th> {% trans "Red" %} </th>
            <th> {% trans "Yellow" %}</th>
            <th> {% trans "Green" %} </th>
            <th> {% trans "State" %} </th>
            <th colspan="3">{% trans "Actions" %}</th>
        </tr>  
        </thead>
        <tbody>         
        {{ formset_days.management_form }}
        {% if formset_days.non_form_errors %}
        <div class="alert alert-danger">
            {{ formset_days.non_form_errors }}
        </div>
        {% endif %}
        {% for item in formset_days.forms %}
         <tr id="table_style" class="form-row inline {{ formset_days.prefix }}{% if item.errors %} danger{% endif %}" data-pk="{{ forloop.counter0 }}">
            {{ item.id }}
            <td data-value="{{ item.red.id_for_label }}">
                {{ item.red }}</td>
            <td data-value="{{ item.yellow.id_for_label }}">{{ item.yellow }}</td>
            <td data-value="{{ item.green.id_for_label }}">{{ item.green }}</td>
            <td data-value="{{ item.state.id_for_label }}">{{ item.state }}</td>
            {% include "administration/administration/td-model-formset.html" with formset=formset_days %}
            <td class="delete.row inline {{ formset_days.prefix }}"></td>
        </tr>
        {% endfor%}
        <tr style="display:none;" id="table_style" class="form-row inline {{ formset_days.prefix }}{% if formset_days.empty_form.errors %} danger{% endif %}" data-pk="__prefix__">
        {{ formset_days.empty_form.id }}
        <td data-value="{{ formset_days.empty_form.red.id_for_label }}"></td>
        <td data-value="{{ formset_days.empty_form.yellow.id_for_label }}">
        </td>
        <td data-value="{{ formset_days.empty_form.green.id_for_label }}">
        </td>
        <td data-value="{{ formset_days.empty_form.state.id_for_label }}">
        </td>
        {% include "administration/administration/table-formset-empty-form.html" with formset=formset_days %}
        <td class="delete.row inline {{ formset_days.prefix }}"></td>
        </tr>
    </tbody>
</table>

<script src="{% static 'js/jquery.formset.min.js' %}"></script>
<script src="{% static 'js/rebec-inlines-for-administration-setup.js' %}"></script>
<script type="text/javascript">
    rebec_inlines('{{ formset.prefix }}');
    rebec_inlines('{{ formset_days.prefix }}');
</script>
<script type="text/javascript">
    $("a.button-visible-add-form").on("click", function(){
        $(this).next('table').find('a.button-hidden-add-form').click();
    });
</script>


    <input class="button" type="submit" value="{% trans 'Save' %}" />
</form>


{% endblock administration_content %}
{% block extrascripts %}
{{ block.super }}

<script type="text/javascript">
    $('span.field-help').tooltip();
</script>
<script type="text/javascript">
$('tr[id*=setup]').hide()
$('tr[id*=id]').hide()
</script>
{% endblock %}