{% extends "administration/administration/administration_index.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{{ block.super }}
{% if object.pk %}
<li class="formTab">
    <div>
        <a href="{{ view.success_url }}">
            {% trans object.get_model_name %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {% trans 'Edit' %}
    </div>
</li>
{% else %}
<li class="formTab">
    <div>
        <a href="{{ view.success_url }}">
            {% trans view.model.get_model_name %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {% trans 'add' %}
    </div>
</li>
{% endif %}
{% endblock %}

{% block administration_content %}
<h1>{% trans "Setup Identifier" %}</h1>
<hr />
<form method="post" action="">
    {% csrf_token %}
    <div class="update">
    {% for field in form %}
        <div class="fieldWrapper">
            <div class="field_errors">
                {% if field.errors %}
                    <div class="field_errors alert alert-danger">
                        {{ field.errors }}
                        {{ field.label }}
                        {% if field.field.required %}*{% endif %}
                        <br />
                        {{ field }}<br />
                    </div>
                {% else %}
            </div>
                    {{ field.label }}
                    {% if field.field.required %}*{% endif %}
                    <br />
                    {{ field }}
                    {% if field.help_text %}
                    <span class="field-help" data-toggle="tooltip" data-placement="left" title="{{ field.help_text }}">
                        <img src="{% static 'img/interrog.png' %}"/>
                    </span>
                    {% endif %}
                {% endif %}
        </div>
    {% endfor %}
    </div>
    <input type="submit" value="{% trans 'Save' %}" class="button" />
</form>
{% endblock administration_content %}

{% block extrascripts %}
{{ block.super }}
<script type="text/javascript">
    $('span.field-help').tooltip({'trigger': 'click'});
</script>
{% endblock %}
