{% load i18n static %}
<td>
<a href="#" data-toggle="modal" data-target="#modal-form-{{ formset.prefix }}-{{ forloop.counter0 }}">
    <span id="icon_edit_1" class="glyphicon glyphicon-minus"></span>
    <span id="icon_edit" class="glyphicon glyphicon-pencil" ></span>
</a>
    <div class="modal fade bs-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-form-{{ formset.prefix }}-{{ forloop.counter0 }}">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><img src="/static/img/close.png" /></a>
                <h1 class="modal-title">{% trans "Update" %}</h1>
                <hr />
                </div>
                <div class="modal-body">
                    <div class="update">
                        <table class="table table_form">
                            {% for field in item %}
                                    <tr id="{{ field.html_name }}">
                                        <th>{{ field.label_tag }}</th>
                                        <td>
                                            {% if field.errors %}
                                                {{ field.errors }}
                                            {% endif %}
                                            {{ field }}
                                        </td>
                                    </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-change-row" data-dismiss="modal" data-pk="{{ forloop.counter0 }}">
                        {% trans "Change" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</td>
