{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {{ object }}
	</div>
</li>
{% endblock %}
{% block administration_content %}

<h1>{% trans "User Profile" %}</h1>
<hr />
    <p class="field_detail">{% trans "Username" %}</p><br />
    <p class="value_detail">{{ object.username }}</p>
    <p class="field_detail">{% trans "Name" %}</p><br />
    <p class="value_detail">{{ object.name }}</p>
    <p class="field_detail">{% trans "Gender" %}</p><br />
    <p class="value_detail">{{ object.get_gender_display }}</p>
    <p class="field_detail">{% trans "Race" %}</p><br />
    <p class="value_detail">{{ object.get_race_display }}</p>
    <p class="field_detail">{% trans "e-mail" %}</p><br />
    <p class="value_detail_email">{{ object.email }}</p>

<a href="{% url 'home' %}" class="button">{% trans "Back" %}</a>

{% endblock administration_content %}