{% extends "administration/base_administration.html" %}
{% load i18n %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    	{% trans "Edit Profile" %}
	</div>
</li>
{% endblock %}

{% block administration_content %}
<h1>{% trans "Edit Profile" %}</h1>
<hr />
<form method="post">{% csrf_token %}
    <div class="update">
    {% for field in form %}
        <div id="{{field.html_name}}">
            {{ field.label_tag }}<br />
            {{ field }}<br />
        </div>
    {% endfor %}
    <input class="button" type="submit" value="{% trans 'Save' %}" />
    </div>
</form>
<a class="change_password" href="{% url 'auth_password_change' %}"> <span class="glyphicon glyphicon-pencil"></span>Modificar Senha</a><br />



{% endblock administration_content %}

{% block extrascripts %}
{{ block.super }}

<script type="text/javascript">
$("#password").hide(); 
window.onload = function(){
    if ($("#country .select2-chosen").text() == "Brazil"){
        $("#passport").hide(); 
        $("#cpf").show(); 
    }
    else{
        $("#cpf").hide();
        $("#passport").show();
    }
}
$(document).delegate("#country","click", function(){
    if ($("#country .select2-chosen").text().length>2){
        if ($("#country .select2-chosen").text() == "Brazil"){
            $("#passport").hide();
            $("#passport input").val("");
            $("#cpf").show(300);
        }
        else{
            $("#cpf").hide();
            $("#cpf input").val("");
            $("#passport").show(300);
        }
    }
});
</script>

{% endblock extrascripts %}