{% extends "administration/base_administration.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
        {% trans "User Occupation Management" %}
    </div>
</li>
{% endblock %}
{% block administration_content %}
    <h1>{% trans "Users Occupation Management" %}</h1>
    <hr/>

    <table class="table table-bordered table_list">
        <thead>
            <tr class="table_title">
                <th colspan="2">{% trans 'Next clinical trial prevision to' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table_title">
                <td>{% trans 'Revisor' %}</td>
                <td>{{ next_prevision_list_revisor|default_if_none:"" }}</td>
            </tr>
            <tr class="table_title">
                <td>{% trans 'Evaluator' %}</td>
                <td>{{ next_prevision_list_evaluator|default_if_none:"" }}</td>
            </tr>
        </tbody>
    </table>

    <h4>{% trans 'Users List' %}</h4>
    <hr/>
    <div class="seach_filter">
        <form method="get" action=".">
            {{ search_form }}
            <input type="hidden" name="page" value="1">

            <input type="submit" value="{% trans 'Find' %}" class=" button_seach btn btn-info">
            <a href=".">{% trans 'Clean Search' %}</a>
        </form>
    </div>

    <form action="{% url 'occupation_management' %}{{ get_parameters }}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_field_errors }}
        <table class="table table-bordered table_list">
            <thead>
                <tr class="table_title">
                    <th>{% trans 'User' %}</th>
                    <th>{% trans 'Function' %}</th>
                    <th>{% trans 'Occupation' %}</th>
                    <th>{% trans 'Number of Clincal Trials' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr class="table_style">
                        <td>{{ form.id }}{{ form.instance }}</td>
                        <td>{% if form.instance.is_evaluator %} {% trans 'Evaluator' %}{% endif %}{% if form.instance.is_reviser %} {% trans 'Reviewer' %}{% endif %}</td>
                        <td>{{ form.ocuppation.errors }}{{ form.ocuppation }}</td>
                        <td>
                            <a href="{% url 'occupation_management_list_user_cts' form.instance.pk %}">
                                {{ form.instance.number_cts }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="{% trans 'Save' %}" class=" button btn btn-success">
    </form>

    {% if current_page.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if current_page.has_previous %}
                    <form action="." method="get">
                        {% if search_form.user.value %}
                            <input type="hidden" name="user" value="{{ search_form.user.value }}">
                        {% endif %}
                        <input type="hidden" name="page" value="{{ current_page.previous_page_number }}">
                        <input type="submit" class="button" value="{% trans 'Previous' %}">
                    </form>
                {% endif %}

                <span class="current">
                    {% trans 'Page' %} {{ current_page.number }} {% trans 'of' %} {{ current_page.paginator.num_pages }}
                </span>

                {% if current_page.has_next %}
                    <form action="." method="get">
                        {% if search_form.user.value %}
                            <input type="hidden" name="user" value="{{ search_form.user.value }}">
                        {% endif %}
                        <input type="hidden" name="page" value="{{ current_page.next_page_number }}">
                        <input type="submit" class="button" value="{% trans 'Next' %}">
                    </form>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock administration_content %}
