{% extends "administration/administration/administration_index.html" %}
{% load i18n static %}

{% block breadcrumbs %}
{{ block.super }}
{% if object.pk %}
<li class="formTab">
    <div>
        <a href="{{ view.success_url }}">
            {% trans object.get_model_name %}
        </a> 
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {% trans 'Edit' %}
    </div>
</li>
{% else %}
<li class="formTab">
    <div>
        <a href="{{ view.success_url }}">
            {% trans view.model.get_model_name %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
    {% trans 'add' %}
    </div>
</li>
{% endif %}
{% endblock %}

{% block administration_content %}

{% if formset.errors %}
    <div class="alert alert-danger">
        {% trans "Check errors in Items Vocabulary" %}
    </div>
{% endif %}

<h1>{% trans "Cadastre" %} {% trans "Vocabulary" %}</h1>
<hr />
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="update">
        <div class="fieldWrapper">
            <div class="field_errors">
                {% if field.errors %}
                    <div class="field_errors alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
            {{ field.label }}
            {% if field.field.required %}*{% endif %}
            <br />
            {{ field }}<br />
        </div>
    </div>
    {% endfor %}
<h1>{% trans "Items Vocabulary" %}</h1>
<hr />
<a class="button button-visible-add-form">{% trans "new" %}</a>
    <table class="table table-bordered table_list">
        <thead>
        <tr id="table_title">
            <th> {% trans "Code" %} </th>
            <th> {% trans "Description language 1" %} </th>
            <th> {% trans "Description language 2" %} </th>
            <th> {% trans "Description language 3" %} </th>
            <th colspan="2">{% trans "Actions" %}</th>
        </tr>  
        </thead>
        <tbody>
        {{ formset.management_form }}
        {% if formset.non_form_errors %}
        <div class="alert alert-danger">
            {{ formset.non_form_errors }}
        </div>
        {% endif %}
        {% for item in formset.forms %}
        <tr id="table_style" class="form-row inline {{ formset.prefix }}{% if item.errors %} danger{% endif %}" data-pk="{{ forloop.counter0 }}">
            {{ item.id }}
            <td data-value="{{ item.code.id_for_label }}">{{ item.code }}
            </td>
            <td data-value="{{ item.description_lang_1.id_for_label }}">
                {{ item.description_lang_1.value }}
            </td>
            <td data-value="{{ item.description_lang_2.id_for_label }}">
                {{ item.description_lang_2.value }}
            </td>
            <td data-value="{{ item.description_lang_3.id_for_label }}">
                {{ item.description_lang_3.value }}
            </td>
            {% include "administration/administration/td-model-formset.html"%}
            <td class="delete.row inline {{ formset.prefix }}"></td>
        </tr>
        {% endfor %}
        <tr style="display:none;" id="table_style" class="form-row inline {{ formset.prefix }}{% if formset.empty_form.errors %} danger{% endif %}" data-pk="__prefix__">
        {{ formset.empty_form.id }}
        <td data-value="{{ formset.empty_form.code.id_for_label }}"></td>
        <td data-value="{{ formset.empty_form.description_lang_1.id_for_label }}">
        </td>
        <td data-value="{{ formset.empty_form.description_lang_2.id_for_label }}">
        </td>
        <td data-value="{{ formset.empty_form.description_lang_3.id_for_label }}">
        </td>
        {% include "administration/administration/table-formset-empty-form.html"%}
        <td class="delete.row inline {{ formset.prefix }}"></td>
        </tr>
        </tbody>
    </table>
            
<input class="button" type="submit" value="{% trans 'Save' %}" />
</form>
<h1 id="title_voc">{% trans "Filter of vocabulary items" %}</h1>
<hr />

<div class="seach_filter">
    <form method="get" action="{% url 'vocabulary_edit' object.pk %}">
        {{ search_form }}
        <input type="hidden" name="page" value="1">

        <input type="submit" id="button_find" value="{% trans 'Find' %}" class=" button_seach btn">
        <a id="clear_seach" href="{% url 'vocabulary_edit' object.pk %}">{% trans 'Clear Search' %}</a>
    </form>
</div>


<div class="pagination">
    <span class="step-links">
        {% if current_page.has_previous %}
            <a href="?page={{ current_page.previous_page_number }}">{% trans "previous" %}<p>-</p></a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ current_page.number }} {% trans "of" %} {{ current_page.paginator.num_pages }}
        </span>

        {% if current_page.has_next %}
            <a href="?page={{ current_page.next_page_number }}"><p>-</p>{% trans "next" %}</a>
        {% endif %}
    </span>
</div>
{% endblock administration_content %}

{% block extrascripts %}
{{ block.super }}

<script src="{% static 'js/jquery.formset.min.js' %}"></script>
<script src="{% static 'js/rebec-inlines.js' %}"></script>
<script type="text/javascript">
    rebec_inlines('{{ formset.prefix }}');
</script>
<script type="text/javascript">
    $("a.button-visible-add-form").on("click", function(){$("a.button-hidden-add-form").click();});
</script>
<script type="text/javascript">
$('tr[id*=vocabulary]').hide()
$('tr[id*=id]').hide()
</script>

{% endblock extrascripts %}

