{% extends "administration/administration/administration_index.html" %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div class="selected">
    {{ object }}
    </div>
</li>
{% endblock %}

{% block administration_content %}

<h1>{% trans object.get_model_name %}</h1>
<hr />
    <p class="field_detail">{% trans "Name" %}</p><br />
    <p class="value_detail">{{ object.name }}</p>
    <p class="field_detail">{% trans "version" %}</p><br />
    <p class="value_detail">{{ object.version }}</p>
    <p class="field_detail">{% trans "Current Version" %}</p><br />
    <p class="value_detail">{{ object.current_version }}</p>
    <p class="field_detail">{% trans "Usage" %}</p><br />
    <p class="value_detail">{{ object.get_usage_display }}</p>

<h1>{% trans "Items Vocabulary" %}</h1>
<hr />
        <table class="table table-bordered table_list">
        <thead>
        <tr class="table_title">
            <th> {% trans "ID vocabulary" %} </th>
            <th> {% trans "Code" %} </th>
            <th> {% trans "Description Language 1" %} </th>
            <th> {% trans "Description Language 2" %} </th>
            <th> {% trans "Description Language 3" %} </th>
       </tr>  
        </thead>
        <tbody>    
        {% for item in vocabularyitem_formset %}
            <tr>
                <td>{{ item.id }}</td>
                <td> {{ item.code }} </td>
                <td>{{ item.description_lang_1 }}</td>
                <td>{{ item.description_lang_2 }}</td>
                <td>{{ item.description_lang_3 }}</td>
            </tr>
        {% endfor %}
        </table>

<div class="pagination">
    <span class="step-links">
        {% if current_page.has_previous %}
            <a href="?page={{ current_page.previous_page_number }}">{% trans "previous" %}<p>-</p></a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ current_page.number }} {% trans "of" %} {{ current_page.paginator.num_pages }}
        </span>

        {% if current_page.has_next %}
            <a href="?page={{ current_page.next_page_number }}"><p>-</p>{% trans "next" %}</a>
        {% endif %}
    </span>
</div>
<a href="." class="button">{% trans "Back" %}</a>
{% endblock administration_content %}