{% extends "base/base.html" %}
{% load i18n %}

{% block extrastyle %}
    <style type="text/css">
        textarea {
            width: 100%;
            height: 110px;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="formTab_home">
    <div>
        <a href="{% url 'home' %}">
        <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
    </li>
{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
    	{% include "base/menu.html" %}
    {% endif %}
    <div class="col-md-9 col-sm-9 content" id="main-content">
        {% block messages %}
        {% for message in messages %}
            {% if 'info' in message.tags %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% endblock messages %}
        {% block administration_content %}
        {% endblock administration_content %}
    </div>
{% endblock content %}
{% block extrascripts %}
<script type="text/javascript">
{% if reset %}
var tour = '{{ reset }}';
    localStorage.removeItem(tour+'_current_step');
    localStorage.removeItem(tour+'_end');
{% endif %}

var help = {{ tour|safe }};

var tour = new Tour(help);
tour.init();
tour.start();
</script>

<script type="text/javascript">
    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
    });
</script>
{% endblock %}