{% load i18n %}
{% load url from future %}
<div class="cmsplugin-news">
    <div class="content">
        <h2>{% trans "News" %}</h2>
        {% if latest %}
            <ul>
            {% for news in latest %}
                <li>
                <p class="pub_date">
                    {% with news.get_aleatory_tag as tag %} 
                        {% if tag %}
                            <a href="/news/?tag={{ tag }}">{{ tag }}</a> -
                        {% endif %}
                    {% endwith %}
                    {{ news.pub_date|date:"DATE_FORMAT" }}</p>
                <p class="news_title">
                    <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                </p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="empty">{% trans "No news yet" %}</p>
        {% endif %}
        <p class="link_news"><a href="{% url 'news_archive_index' %}">{% trans "See all" %}</a><p>
    </div>
</div>
