{% extends "portal/base_portal.html" %}
{% load url from future %}
{% load i18n %}
{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url 'news_archive_index' %}">
            {% trans "News" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {{ year|date:"Y" }}
    </div>
</li>
{% endblock breadcrumbs %}

{% block base_content %}
<div class="list_news">
    <h2>News for {{ year|date:"Y" }}</h2>
     <ul>
        {% for news in object_list %}
            <li>
            <p class="pub_date">
                {% with news.get_aleatory_tag as tag %} 
                    {% if tag %}
                        <a href="/news/?tag={{ tag }}">{{ tag }}</a> -
                    {% endif %}
                {% endwith %}
                {{ news.pub_date|date:"DATE_FORMAT" }}</p>
            <p class="news_title">
                <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
            </p>
            <p class="news_description">
                    <a href="{{ news.get_absolute_url }}">{{ news.excerpt }}</a>
            </p>
            </li>
        {% endfor %}
        </ul>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="./?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="page-current">{% blocktrans %}
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblocktrans %}.
                </span>
                {% if page_obj.has_next %}
                    <a href="./?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock base_content %}
