{% extends "portal/base_portal.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}

<li class="formTab_home">
    <div>
        <a href="/">
        <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
</li>

{% if tag %}
<li class="formTab">
    <div>
        <a href="{% url 'news_archive_index' %}">
            {% trans "News" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">
        {{ tag }}
    </div>
</li>
{% else %}
<li class="formTab">
    <div class="selected">
        {% trans "News" %}
    </div>
</li>
{% endif %}
{% endblock %}

{% block base_content %}
{{ block.super }}
<div class="list_news">
    {% if tag %}
        <h2>{% trans "News for tag" %} "{{ tag }}"</h2>
    {% else %}
        <h2>{% trans "Latest news" %}</h2>
    {% endif %}

     <ul>
        {% for news in object_list %}
            <li>
            {% if news.image %}
                <a href="{{ news.get_absolute_url }}">
                    <img src="{{ news.image.url }}"></img>
                </a>
            {% endif %}
            <p class="pub_date">
                {% with news.get_aleatory_tag as tag %} 
                    {% if tag %}
                        <a href="/news/?tag={{ tag }}">{{ tag }}</a> -
                    {% endif %}
                {% endwith %}
                {{ news.pub_date|date:"DATE_FORMAT" }}</p>
            <p class="news_title">
                <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
            </p>

            <p class="news_description">
                    <a href="{{ news.get_absolute_url }}">{{ news.excerpt }}</a>
            </p>
            </li>
        {% endfor %}
        </ul>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="./?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="page-current">{%blocktrans%}
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblocktrans %}.
                </span>
                {% if page_obj.has_next %}
                    <a href="./?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock base_content %}
