{% extends "portal/base_portal.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
{{ block.super }}
<li class="formTab">
    <div>
        <a href="{% url 'news_archive_index' %}">
            {% trans "News" %}
        </a>
    </div>
</li>
<li class="formTab">
    <div class="selected">{{ object.title }}</div>
</li>
{% endblock breadcrumbs %}

{% block base_content %}
{{ block.super }}
<div class="list_news news_content">

<h2>{{ object.title }}</h2>

{% if object.image %}
    <img src="{{ object.image.url }}"></img>
{% endif %}
<p><span class="date">{{ object.pub_date }}</span></p>
<p>
    {{ object.content|safe }}
</p>

{% if object.get_tags %}  
    <span>Filed under:</span>   
    {% for tag in object.get_tags %}
        <span><a href="/news/?tag={{tag}}">{{ tag }}</a></span>
    {% endfor %}
    </div>
{% endif %}
{% endblock base_content %}
